.title.group .pink {
  color: #e05167;
}

.img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.question_box.relation {
  gap: 10px;
  padding: 0 30px;
}
.question_box.relation + .question_box.relation {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #fceaec;
}
.question_box.relation .input_wrap_underline math-field {
  width: 920px;
}

.ema513_04_ih_0001 .table_wrap {
  width: 1538px;
}
.ema513_04_ih_0001 .table_wrap tbody th,
.ema513_04_ih_0001 .table_wrap tbody td {
  width: 12%;
}

.ema513_04_ih_0002 .bogi_box {
  width: 1320px;
  margin: -16px auto 0;
  padding-top: 16px;
}
.ema513_04_ih_0002 .bogi_box .conts_bogi {
  height: 234px;
}
.ema513_04_ih_0002 .drag_group {
  display: flex;
  gap: 15px;
}
.ema513_04_ih_0002 .drag_item {
  border: 2px solid #d4c1dd;
  border-radius: 6px;
  background: #fff;
  padding: 6px;
}
.ema513_04_ih_0002 .drag_item span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 68px;
  height: 68px;
  padding: 0 15px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 3px;
  background: #d4c1dd;
}
.ema513_04_ih_0002 .drag_item.type2 {
  border-color: #edddcb;
}
.ema513_04_ih_0002 .drag_item.type2 span {
  background: #edddcb;
}
.ema513_04_ih_0002 .drag_item.type3 {
  border-color: #fee28d;
}
.ema513_04_ih_0002 .drag_item.type3 span {
  background: #fee28d;
}
.ema513_04_ih_0002 .drop_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.ema513_04_ih_0002 .drop_group {
  display: flex;
  gap: 10px;
}
.ema513_04_ih_0002 .drop_item {
  position: relative;
  min-width: 100px;
  height: 100px;
  border: 2px solid #e8e8e8;
  border-radius: 12px;
  padding: 6px;
}
.ema513_04_ih_0002 .drop_item.item1,
.ema513_04_ih_0002 .drop_item.item2 {
  min-width: 250px;
}

.ema513_04_ih_0003 .drag_group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1320px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
}
.ema513_04_ih_0003 .drag_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  margin: 0 4px;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
}
.ema513_04_ih_0003 .drag_item.type1 {
  background: #ccd8ee;
  margin-right: 36px;
}
.ema513_04_ih_0003 .drag_item.type1:not(:first-child) {
  margin-left: 36px;
}
.ema513_04_ih_0003 .drag_item.type2 {
  background: #fdddcf;
}
.ema513_04_ih_0003 .drag_item.type3 {
  background: #d4e6c2;
}
.ema513_04_ih_0003 .drop_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ema513_04_ih_0003 .drop_group {
  display: flex;
  gap: 10px;
}
.ema513_04_ih_0003 .drop_item {
  position: relative;
  min-width: 100px;
  height: 100px;
  border: 2px solid #e8e8e8;
  border-radius: 12px;
  padding: 6px;
}
.ema513_04_ih_0003 .drop_group .drag_item {
  margin: 0;
}

.img_box .iron_bar {
  position: relative;
}
.img_box .iron_bar span {
  position: absolute;
  background: #fff;
  width: 140px;
  padding: 2px 0;
  font-weight: bold;
}
.img_box .iron_bar .txt1 {
  top: -4px;
  left: 83px;
  text-align: center;
}
.img_box .iron_bar .txt2 {
  top: 61px;
  left: -68px;
  padding: 2px 0;
  text-align: right;
}

.ema513_04_ih_0004 .table_wrap {
  width: 1458px;
}
.ema513_04_ih_0004 .table_wrap td {
  width: 16%;
}

.ema513_04_ih_0005 .drag_group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1320px;
  height: 104px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
}
.ema513_04_ih_0005 .drag_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  margin: 0 4px;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
}
.ema513_04_ih_0005 .drag_item.type1 {
  background: #ccd8ee;
  margin-right: 36px;
}
.ema513_04_ih_0005 .drag_item.type1:not(:first-child) {
  margin-left: 36px;
}
.ema513_04_ih_0005 .drag_item.type2 {
  background: #fdddcf;
}
.ema513_04_ih_0005 .drag_item.type3 {
  background: #d4e6c2;
}
.ema513_04_ih_0005 .drop_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ema513_04_ih_0005 .drop_group {
  display: flex;
  gap: 10px;
}
.ema513_04_ih_0005 .drop_item {
  position: relative;
  min-width: 100px;
  height: 100px;
  border: 2px solid #e8e8e8;
  border-radius: 12px;
  padding: 6px;
}
.ema513_04_ih_0005 .drop_group .drag_item {
  margin: 0;
}

.ema513_04_ih_0006 .table_wrap {
  /*width:100%;*/
  width: 1538px;
}
.ema513_04_ih_0006 .table_wrap th,
.ema513_04_ih_0006 .table_wrap td {
  height: 50px;
  font-size: 24px;
}
.ema513_04_ih_0006 .table_wrap td {
  width: 16.666%;
}
.ema513_04_ih_0006 .img_box {
  margin-bottom: 0;
}
.ema513_04_ih_0006 .img_box img {
  width: 1088px;
}
.ema513_04_ih_0006 .img_wrap {
  position: relative;
}
.ema513_04_ih_0006 .img_wrap span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
.ema513_04_ih_0006 .img_wrap [class^='name'] {
  font-size: 24px;
  text-align: center;
  width: 48px;
  color: #fff;
}
.ema513_04_ih_0006 .img_wrap [class^='text'] {
  top: 26px;
}
.ema513_04_ih_0006 .img_wrap .name1 {
  top: 114px;
  left: 105px;
}
.ema513_04_ih_0006 .img_wrap .name2 {
  top: 115px;
  left: 928px;
}
.ema513_04_ih_0006 .img_wrap .text1 {
  left: 130px;
}
.ema513_04_ih_0006 .img_wrap .text2 {
  left: 638px;
}
.ema513_04_ih_0006 .question_box.dir_col {
  justify-content: center;
  gap: 24px;
}
.ema513_04_ih_0006 .question_box.dir_col > div {
  width: 1287px;
}
.ema513_04_ih_0006 .question_box.dir_col > div + div .input_wrap_underline {
  flex-grow: 1;
}
.ema513_04_ih_0006 .question_box .input_wrap_underline .input_wrap,
.ema513_04_ih_0006 .question_box .input_wrap_underline .input_wrap math-field {
  width: 100%;
}
