.title h2[data-head] .fraction_box {
  margin-left: 0;
}
.solve_area .fraction_box {
  vertical-align: middle;
}
.fraction_box {
  min-width: 40px;
}
.input_wrap.fraction_wrap,
.fraction_box .input_wrap {
  min-width: 0;
  min-width: 80px;
}
.input_wrap.fraction_wrap math-field,
.fraction_box .input_wrap math-field {
  width: 100%;
}
.fraction_box:has(.input_wrap) span {
  line-height: 60px;
}
.fraction_box > .flex:first-child .input_wrap .text_hint,
.fraction_box > .input_wrap:first-child .text_hint {
  top: -36px;
}

.fraction_box_wrap {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.fraction_box_wrap .fraction_box {
  min-width: 0;
}
.label_bogi {
  width: 52px;
  height: 32px;
  border: 2px solid var(--secondary-red);
  border-radius: 4px;
  background: #fff;
  color: var(--secondary-red);
  z-index: 1;
}
.solve_area .icon_arrow {
  width: 32px;
}

.ema524_03_ih_0001 .img {
  position: relative;
}
.ema524_03_ih_0001 .txt_wrap {
  position: absolute;
  top: 78px;
  left: 1px;
  display: flex;
  align-items: center;
  gap: 162px;
}
.ema524_03_ih_0002 .bottom {
  margin-top: 60px;
}
.ema524_03_ih_0002 .answer1 {
  width: 160px;
}
.ema524_03_ih_0002 .answer2 {
  width: 120px;
}

.ema524_03_ih_0003 .contents > .flex {
  width: 488px;
  margin: 0 auto;
  border: 2px dashed #d2d2d2;
  border-radius: 110px;
  background: #eef9ff;
  padding: 12px;
}
.ema524_03_ih_0003 .question_box {
  justify-content: center;
  width: 100%;
  border: 2px dashed #8cd6ff;
  border-radius: 100px;
  height: 342px;
  background: #fff;
}
.ema524_03_ih_0003 .question_box > div {
  display: flex;
  flex-direction: column;
}
.ema524_03_ih_0003 .question_box .row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  gap: 15px;
}
.ema524_03_ih_0003 .question_box .row > span:first-child {
  width: 60px;
  text-align: center;
}
.ema524_03_ih_0003 .question_box .row2 {
  gap: 0;
  justify-content: flex-start;
  padding-left: 30px;
}
.ema524_03_ih_0003 .question_box .row2:before {
  content: '';
  display: block;
  width: 12px;
  height: 112px;
  margin-right: 12px;
  background: url(../img/EMA524_03_IH/0003_arrow.svg) no-repeat 0 center / contain;
}
.ema524_03_ih_0003 .question_box .right {
  margin-left: 24px;
}
.ema524_03_ih_0003 .question_box .right .row1 {
  justify-content: flex-start;
}

.ema524_03_ih_0004 .solve_area .conts_solve .calc_vertical {
  width: 115px;
}

.ema524_03_ih_0005 .question_box > div {
  height: 104px;
  border-radius: 104px;
  background-color: #ecf6f3;
}
.ema524_03_ih_0005 .question_box > div > span {
  padding: 0 50px;
}

.ema524_03_ih_0006 .question_box {
  align-items: flex-start;
  gap: 30px;
}
.ema524_03_ih_0006 .tabbox_wrap {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0;
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #fbcba1;
  background: #fff4ea;
  border-radius: 30px;
  font-size: 32px;
  font-weight: bold;
}
.ema524_03_ih_0006 .tabbox_wrap .top {
  padding: 16px 40px 0;
}
.ema524_03_ih_0006 .tabbox {
  position: relative;
  padding-top: 46px;
}
.ema524_03_ih_0006 .tabbox .tit_box {
  position: absolute;
  top: 0;
  left: 40px;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background: #fff;
  border-radius: 20px 20px 0 0;
  color: #c0573d;
  font-weight: 700;
}
.ema524_03_ih_0006 .tabbox .conts_box {
  padding: 40px 20px;
  background: #fff;
  border-radius: 40px;
}
.ema524_03_ih_0006 .tabbox .conts_box .input_wrap,
.ema524_03_ih_0006 .tabbox .conts_box .input_wrap math-field {
  width: 100%;
}
.ema524_03_ih_0006 .tabbox .conts_box .example_box {
  display: none;
  font-size: 24px;
  color: #1454b9;
  white-space: normal;
}
.ema524_03_ih_0006 .tabbox .conts_box .example_box.on {
  display: block;
}
.ema524_03_ih_0006 .tabbox .conts_box .example_box:before {
  width: 32px;
  height: 32px;
  font-size: 20px;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.ema524_03_ih_0006 .tabbox .conts_box .fraction_box {
  vertical-align: middle;
  gap: 8px;
}
.ema524_03_ih_0006 .tabbox .conts_box .fraction_box:before {
  background-color: #1454b9;
}
.ema524_03_ih_0006 .tabbox .question_box {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.ema524_03_ih_0006 .tabbox .input_wrap.answer1 math-field {
  width: 215px;
}

.ema524_03_ih_0006 .tabbox.right {
  position: relative;
  padding-top: 20px;
  flex-shrink: 0;
}
.ema524_03_ih_0006 .tabbox.right .tit_tabbox {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 16px 16px 0 0;
  background: #fef6ed;
  color: #c45938;
  font-size: 24px;
  font-weight: bold;
}
.ema524_03_ih_0006 .tabbox.right .conts_tabbox {
  border-radius: 48px;
  background: #fef6ed;
  padding: 30px 20px 20px;
}
.ema524_03_ih_0006 .tabbox.right .conts_tabbox > .flex {
  padding: 20px 30px;
  background: #fff;
  border: 1px dashed #facc9c;
  border-radius: 40px;
}
.ema524_03_ih_0006 .tabbox.right .input_wrap.answer1 math-field {
  width: 160px;
}
.ema524_03_ih_0006 .tabbox.right .input_wrap.answer2 math-field {
  width: 120px;
}

.ema524_03_ih_0007 .label_gray {
  width: 50px;
  height: 50px;
  padding: 0;
}
.ema524_03_ih_0007 .input_wrap_underline {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ema524_03_ih_0007 .answer1,
.ema524_03_ih_0007 .answer1 math-field {
  width: 180px;
}
.ema524_03_ih_0007 .dir_col > .flex:first-child .input_wrap .text_hint {
  top: -36px;
}
