/* ema516_17_ih_0001 */
.ema516_17_ih_0001 .contents {
  padding-top: 0 !important;
}
.ema516_17_ih_0001 .question_box {
  width: 100%;
  gap: 60px;
}
.ema516_17_ih_0001 .l_left {
  width: 630px;
  height: 546px;
  padding: 55px 0 0 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 21px 42px;
}
.ema516_17_ih_0001 .l_left > div {
  width: 248px;
  height: 221px;
  position: relative;
}
.ema516_17_ih_0001 .l_left > div:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background: url(./../../common_practice/img/EMA516_17_IH/0001_dot.png) repeat-x 0 0 / auto 4px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
}
/* .ema516_17_ih_0001 .l_left > div:after {
	content: "";
	width: 18px;
	height: 18px;
	background: #ee7934;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 15px;
} */

.ema516_17_ih_0001 .pop_area .pop_wrap {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  gap: 60px 75px;
}
.ema516_17_ih_0001 .pop_area .pop_img_box {
  width: 500px;
  height: 450px;
  position: relative;
}
.ema516_17_ih_0001 .pop_area .text_box {
  font-size: 2rem;
  position: absolute;
  left: 44px;
  bottom: 94px;
}
.ema516_17_ih_0001 .l_left > div .img_box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ema516_17_ih_0001 .l_left > div .img_box.img01 {
  width: 93px;
  top: 20px;
  left: 28px;
}
.ema516_17_ih_0001 .l_left > div .img_box.img02 {
  width: 122px;
  top: 10px;
  left: 21px;
}
.ema516_17_ih_0001 .l_left > div .img_box.img03 {
  width: 85px;
  top: 8px;
  left: 38px;
}
.ema516_17_ih_0001 .l_left > div .img_box.img04 {
  width: 112px;
  top: 21px;
  left: 28px;
}
.ema516_17_ih_0001 .l_left .input_box {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  left: 153px;
  top: 18px;
}

.ema516_17_ih_0001 .pop_area .input_box {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 74px;
  top: 83px;
  transform: scale(1.25);
}
.ema516_17_ih_0001 .l_left .input_box .text_hint {
  position: absolute;
  top: 23px;
  padding-right: 45px;
}
.ema516_17_ih_0001 .l_left .input_box > span {
  display: block;
  text-align: right;
  line-height: 1;
  z-index:2;
}
.ema516_17_ih_0001 .l_left .text_box {
  line-height: 1.2;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 130px;
  left: 15px;
  width: 100px;
  white-space: normal;
}
.ema516_17_ih_0001 .l_left i.arrow {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url(./../common/img/icon_arrow_right_navy.svg) no-repeat 50% / 100% auto;
  position: absolute;
  top: 180px;
  left: 25px;
}
.ema516_17_ih_0001 .l_left .input_cnt {
  position: absolute;
  top: 177px;
  left: 50px;
}
.ema516_17_ih_0001 .pop_area .input_cnt {
  position: absolute;
  top: 361px;
  left: 134px;
  transform: scale(1.25);
}
.ema516_17_ih_0001 .l_right {
  position: relative;
}
.ema516_17_ih_0001 .l_right dl {
  position: absolute;
  width: 100px;
  top: 29px;
  text-align: center;
}
.ema516_17_ih_0001 .l_right dl:first-of-type {
  left: 80px;
}
.ema516_17_ih_0001 .l_right dl:nth-of-type(2) {
  left: 189px;
}
.ema516_17_ih_0001 .l_right dl:nth-of-type(3) {
  left: 302px;
}
.ema516_17_ih_0001 .l_right dl:nth-of-type(4) {
  left: 415px;
}
.ema516_17_ih_0001 .l_right dt {
  font-size: 20px;
  height: 37px;
  line-height: 39px;
}
.ema516_17_ih_0001 .l_right dd {
  font-size: 22px;
  height: 37px;
  line-height: 35px;
}
/* .ema516_17_ih_0001 .picture_wrap {
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
} */
.ema516_17_ih_0001 p.number {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  top: 6px;
  left: 16px;
  background: #ee7934;
  color: #fff;
  width: 24px;
  height: 24px;
  z-index: 2;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
}
.ema516_17_ih_0001 math-field {
  width: 120px !important;
}
.ema516_17_ih_0001 .input_wrap {
  min-width: unset;
  width: auto;
}
.ema516_17_ih_0001 .input_box span {
  position: absolute;
  top: 11px;
  right: -40px;
}

.ema516_17_ih_0001 .image_zoom .img_box {
  align-items: flex-start !important;
  padding-top: 30px;
}
.ema516_17_ih_0001 .image_zoom .img_wrap {
  position: relative;
}

.ema516_17_ih_0001 .content_zoom_area.on .input_box,
.ema516_17_ih_0001 .content_zoom_area.on .input_wrap,
.ema516_17_ih_0001 .content_zoom_area.on .btn_area {
  /* opacity: 0; */
  pointer-events: none;
}


.ema516_17_ih_0001 .content_zoom_area.on .l_left {
  width:auto;
  height:auto;
  padding: 0;
}
.ema516_17_ih_0001 .content_zoom_area.on .question_box {
  transform: scale(2.25);
  transform-origin: top;
  margin-top:50px;
}

.ema516_17_ih_0001 #pop_item01{
  background-image:url(./../../common_practice/img/EMA516_17_IH/0001_bg1.png);
  background-size:cover;
}
.ema516_17_ih_0001 #pop_item02{
  background-image:url(./../../common_practice/img/EMA516_17_IH/0001_bg2.png);
  background-size:cover;
}
.ema516_17_ih_0001 #pop_item03{
  background-image:url(./../../common_practice/img/EMA516_17_IH/0001_bg3.png);
  background-size:cover;
}
.ema516_17_ih_0001 #pop_item04{
  background-image:url(./../../common_practice/img/EMA516_17_IH/0001_bg4.png);
  background-size:cover;
}

.content_zoom_area.on .zoom_scroll_content{
  overflow:hidden;
}

.ema516_17_ih_0001 .paging_controller>button.prev {
  left:80px;
}

.ema516_17_ih_0001 .paging_controller>button.next {
  right:80px;
}