.ema525_01_ih_0001 .question_box {gap:24px;}
.ema525_01_ih_0001 .question_box .tit {width:168px;}
.ema525_01_ih_0001 .boolean_wrap {height:100px; background:#f7f7f7; border:1px solid #d2d2d2; border-radius:16px; gap:48px; padding:0 24px;}
.ema525_01_ih_0001 .boolean_wrap button {width:68px; height:68px; background:none; padding:0;}
.ema525_01_ih_0001 .boolean_wrap button.hint.selected[data-answer-single="true"] {border-color:var(--primary-blue);}
.ema525_01_ih_0001 .boolean_wrap button.hint.selected[data-answer-single="false"] {border-color:#222;}

.ema525_01_ih_0002 .question_box {padding:12px 24px; border-radius:20px; background:#E2F4EF;}

.ema525_01_ih_0003 [class^="obj_box"] {height:200px; border:4px solid #231F20;}
.ema525_01_ih_0003 .obj_box1 {width:400px;}
.ema525_01_ih_0003 .obj_box2 {width:200px;}