.ema514_10_ih_0001 .title.puzzle {
  background-image: url(../img/EMA514_10_IH/title_puzzle.svg);
}
.ema514_10_ih_0001 .contents + .picture_wrap {
  display: none;
}
.ema514_10_ih_0001 .image_zoom_wrap .title h3 {
  font-size: 0;
}
.ema514_10_ih_0001 .question_box .picture_wrap .btn_zoom {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.ema514_10_ih_0001 .img_box {
  position: relative;
}
.ema514_10_ih_0001 .img_box [class^='th'] {
  position: absolute;
  text-align: center;
}
.ema514_10_ih_0001 .img_box .th1 {
  top: 22px;
  left: 50px;
  width: 515px;
}
.ema514_10_ih_0001 .img_box .th2 {
  top: 9px;
  left: 572px;
  width: 240px;
  font-size: 26px;
}
.ema514_10_ih_0001 .img_box .dir_col {
  position: absolute;
  top: 77px;
  left: 62px;
  font-size: 24px;
}
.ema514_10_ih_0001 .img_box .dir_col > .flex {
  height: 66px;
}
.ema514_10_ih_0001 .img_box .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  background: #1fb4a0;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}
.ema514_10_ih_0001 .img_box .txt {
  line-height: 1.2;
}

.ema514_10_ih_0001 .img_box .fraction_box {
  gap: 4px;
  vertical-align: middle;
}
.ema514_10_ih_0001 .bracket {
  display: inline-flex;
  margin: 0 12px;
}
.ema514_10_ih_0001 .boolean_wrap > button {
  position: absolute;
  top: 30px;
  left: 370px;
  z-index: 10;
  background: transparent;
}

.ema514_10_ih_0001 .boolean_wrap > .button2 {
  top: 170px;
  left: 150px;
}
.ema514_10_ih_0001 .boolean_wrap > .button3 {
  top: 210px;
  left: 444px;
}
.ema514_10_ih_0001 .boolean_wrap > .button4 {
  top: 170px;
  left: 540px;
}

.ema514_10_ih_0002 .review_box .title_review {
  background-image: url(../img/EMA514_10_IH/title_review.svg);
}
