.ema626_10_ih_0001 .img_are img {
    margin: 0 auto ;
  }

.ema626_10_ih_0001 .img_are{width: 632px; height: 420px; background: url(../img/EMA626_10_IH/puzzle_off.png); background-size: 632px auto;
    background-repeat: no-repeat; position: relative;}

    .ema626_10_ih_0001 .img_are::after{content: '';
    position: absolute; left: 0; top: 0;
    width: 632px; height: 420px; background: url(../img/EMA626_10_IH/num.svg); background-size: 632px auto;
    background-repeat: no-repeat; 
    ;}    


 .ema626_10_ih_0001 p{font-size: 32px; font-weight: bold;} 
  
  .ema626_10_ih_0001 .boolean_wrap button {
    border-radius: 100px;
    border: 1px solid #d2d2d2;
    background: #fff;
  
    /* common_shadow */
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
    width: 144px;
    height: 144px;
  }
  
  .ema626_10_ih_0001 .boolean_wrap button.selected {
    border-color: #f00;
  }
  
  .ema626_10_ih_0001.completed button.btnReset.active {
    display: none;
  }
  
  section.contents.paging_layout.over {
    overflow: auto;
  }


.ema626_10_ih_0001 .page_1.success .img_are{background-image: url(../img/EMA626_10_IH/puzzle_on01.png);}
.ema626_10_ih_0001 .page_2.success .img_are{background-image: url(../img/EMA626_10_IH/puzzle_on02.png);}
.ema626_10_ih_0001 .page_3.success .img_are{background-image: url(../img/EMA626_10_IH/puzzle_on02.png);}
.ema626_10_ih_0001 .page_4.success .img_are{background-image: url(../img/EMA626_10_IH/puzzle_on03.png);}
.ema626_10_ih_0001 .page_5.success .img_are{background-image: url(../img/EMA626_10_IH/puzzle_on03.png);}


.ema626_10_ih_0001 .solve_area p .num{color: #EE7439;}