.input_wrap.fraction_wrap {width:80px;}
.input_wrap.fraction_wrap math-field {width:100%;}
.fraction_box_wrap {display: inline-flex;  align-items: center;  gap: 4px;}
.fraction_box_wrap .fraction_box {min-width: 0;}
.bracket.gap_0 [class^="bracket-"] {margin:0;}

.ema621_01_ih_0001 .question_box,
.ema621_01_ih_0002 .question_box,
.ema621_01_ih_0003 .question_box {gap:200px;}

.ema621_01_ih_0002 .answer2 {width:247px;}

.ema621_01_ih_0003 .input_wrap {width:207px;}

.ema621_01_ih_0004 .answer1 {width:400px;}

.solve_area .flex {gap: 8px;}

.mark_error.up > i {bottom: 35px;}