.input_wrap:has(.w_80) {
	width: 80px !important;
}
math-field.w_80 {
	width: 80px !important;
}
math-field.w_large {
	width: 247px !important;
}
.img_area {
	position: relative;
}

/* ema626_03_ih_0002 */
.ema626_03_ih_0002 .img_area p {
	position: absolute;
	font-weight: 700;
	top: 10px;
}
.ema626_03_ih_0002 .img_area .text1 {
	left: 20px;
}
.ema626_03_ih_0002 .img_area .text2 {
	left: 430px;
}
.ema626_03_ih_0002 .img_area .text3 {
	left: 850px;
}
.ema626_03_ih_0002 .boolean_wrap button {
	background-color: transparent;
	position: absolute;
	top: -9px;
}
.ema626_03_ih_0002 .boolean_wrap .button1 {
	left: -9px;
}
.ema626_03_ih_0002 .boolean_wrap .button2 {
	left: 402px;
}
.ema626_03_ih_0002 .boolean_wrap .button3 {
	left: 823px;
}

/* ema626_03_ih_0003 */
.ema626_03_ih_0003 .img_area p,
.ema626_03_ih_0003 .img_area .input_position {
	position: absolute;
}
.ema626_03_ih_0003 .img_area .text1 {
	top: 0;
	left: 247px;
}
.ema626_03_ih_0003 .img_area .text2 {
	top: 60px;
	left: 263px;
}
.ema626_03_ih_0003 .img_area .input1 {
	top: 199px;
	left: 27px;
}
.ema626_03_ih_0003 .img_area .input2 {
	top: 328px;
	left: 116px;
}
.ema626_03_ih_0003 .img_area .input3 {
	top: 328px;
	left: 358px;
}
.ema626_03_ih_0003 .solve_area span.blank {
	width: 164px;
	display: inline-block;
}
/* ema626_03_ih_0004 */
.ema626_03_ih_0004 .question_box {
	gap: 155px;
}
.ema626_03_ih_0004 .img_area p {
	position: absolute;
}
.ema626_03_ih_0004 .img_area .text1 {
	top: 18px;
	left: 6px;
}
.ema626_03_ih_0004 .img_area .text2 {
	top: 0;
	left: 124px;
}
.ema626_03_ih_0004 .canvas_area {
	width: 348px;
	height: 455px;
	background: url(../img/EMA626_03_IH/0004_02.png) no-repeat 50% / 348px auto;
	margin-top: 45px;
	position: relative;
}
.ema626_03_ih_0004 .canvas_area p {
	position: absolute;
}
.ema626_03_ih_0004 .canvas_area > .text1 {
	top: -34px;
	left: -5px;
}
.ema626_03_ih_0004 .canvas_area > .text2 {
	left: -51px;
	top: -5px;
}
.ema626_03_ih_0004 .canvas_area > .text3 {
	top: -35px;
	left: 100px;
}
.ema626_03_ih_0004 .canvas_area .example_box {
	position: absolute;
	top: 2px;
	left: 0;
	display: none;
	background: #fff;
}
.ema626_03_ih_0004 .canvas_area .example_box.on {
	display: block;
}
.ema626_03_ih_0004 .canvas_area .example_box p:not(.ex_text) {
	color: var(--secondary-red);
}
.ema626_03_ih_0004 .canvas_area .example_box .text1 {
	top: 179px;
	left: 225px;
}
.ema626_03_ih_0004 .canvas_area .example_box .text2 {
	top: 422px;
	left: 153px;
}
.ema626_03_ih_0004 .canvas_area .example_box .ex_text {
	width: 44px;
	height: 44px;
	border-radius: 12px;
	background-color: var(--primary-blue);
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	line-height: 42px;
	left: -108px;
	top: 9px;
}

/* ema626_03_ih_0005 */
.ema626_03_ih_0005 .img_area {
	margin-bottom: 60px;
}
.ema626_03_ih_0005 .img_area p {
	position: absolute;
}
.ema626_03_ih_0005 .img_area .text1 {
	top: 150px;
	left: 164px;
}
.ema626_03_ih_0005 .img_area .text2 {
	top: 150px;
	left: 443px;
}

/* ema626_03_ih_0006 */
.ema626_03_ih_0006 .question_box {
	gap: 200px;
	margin-top: 30px;
}
.ema626_03_ih_0006 .condition_area {
	width: 540px;
	height: 300px;
	border: 2px solid #fbcda9;
	border-radius: 20px;
	padding: 0 45px 0 52px;
	position: relative;
	padding-top: 50px;
}
.ema626_03_ih_0006 .condition_area dt {
	position: absolute;
	top: -15px;
	left: 40px;
}
.ema626_03_ih_0006 .condition_area dd {
	white-space: normal;
	word-break: keep-all;
}
.ema626_03_ih_0006 .condition_area dd + dd {
	margin-top: 12px;
}
.ema626_03_ih_0006 .solve_area .conts_solve {
	width: 100%;
}
.ema626_03_ih_0006 .solve_area .img_box {
	position: relative;
	width: 100%;
	text-align: center;
}
.ema626_03_ih_0006 .solve_area .img_box img {
	display: inline-block;
}
.ema626_03_ih_0006 .solve_area .img_box p {
	position: absolute;
	font-size: 24px;
	top: 2px;
	left: 535px;
}
