.input_wrap:has(.w_80) {
	width: 80px !important;
}
math-field.w_80 {
	width: 80px !important;
}
math-field.w_large {
	width: 247px !important;
}
.img_area {
	position: relative;
}

/* ema624_07_ih_0001 */
.ema624_07_ih_0001 .img_area p {
	position: absolute;
}
.ema624_07_ih_0001 .img_area .text1 {
	top: 137px;
	left: 350px;
}
.ema624_07_ih_0001 .img_area .text2 {
	top: 205px;
	left: 372px;
}

/* ema625_07_ih_0002 */
.ema625_07_ih_0002 .img_area p,
.ema625_07_ih_0002 .img_area .input_position {
	position: absolute;
}
.ema625_07_ih_0002 .img_area .text1 {
	top: 153px;
	left: 193px;
}
.ema625_07_ih_0002 .img_area .text2 {
	top: 164px;
	left: 526px;
}
.ema625_07_ih_0002 .img_area .input1 {
	top: 240px;
	left: 135px;
}
.ema625_07_ih_0002 .img_area .input2 {
	top: 240px;
	left: 478px;
}

/* ema625_07_ih_0003 */
.ema625_07_ih_0003 .question_box {
	gap: 80px;
}
.ema625_07_ih_0003 .img_area p {
	position: absolute;
}
.ema625_07_ih_0003 .box1 .text1 {
	top: 290px;
	left: 97px;
}
.ema625_07_ih_0003 .box2 .text1 {
	top: 110px;
	left: 296px;
}
.ema625_07_ih_0003 .box2 .text2 {
	top: 290px;
	left: 100px;
}

/* ema625_07_ih_0004 */
.ema625_07_ih_0004 .img_area {
	margin-left: 98px;
}
.ema625_07_ih_0004 .img_area p {
	position: absolute;
}
.ema625_07_ih_0004 .img_area .text1 {
	top: 213px;
	left: 307px;
}
.ema625_07_ih_0004 .img_area .text2 {
	top: 240px;
	left: 465px;
}

/* ema625_07_ih_0005 */
.ema625_07_ih_0005 .img_area {
	margin-left: 98px;
}
.ema625_07_ih_0005 .img_area p {
	position: absolute;
	top: 152px;
	left: 256px;
}
.ema625_07_ih_0005 math-field {
	width: 157px !important;
}

/* ema625_07_ih_0006 */
.ema625_07_ih_0006 .img_area {
	margin-left: 98px;
}
.ema625_07_ih_0006 .img_area p {
	position: absolute;
}
.ema625_07_ih_0006 .img_area .text1 {
	top: 83px;
	left: 285px;
}
.ema625_07_ih_0006 .img_area .text2 {
	top: 199px;
	left: 492px;
}
.ema625_07_ih_0006 math-field {
	width: 157px !important;
}

/* ema625_07_ih_0007 */
.ema625_07_ih_0007 .img_area {
	margin-left: 98px;
}
.ema625_07_ih_0007 .img_area p {
	position: absolute;
	top: 175px;
	left: 222px;
	filter: drop-shadow(0 1px 3px #deeccf);
}
.ema625_07_ih_0007 .solve_area .conts_solve {
	width: 100%;
}
.ema625_07_ih_0007 .solve_area .img_box {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.ema625_07_ih_0007 .solve_area .img_box img {
	display: inline-block;
}
.ema625_07_ih_0007 .solve_area .img_box p {
	position: absolute;
	font-size: 16px;
	top: 46px;
	left: 505px;
}
