.input_wrap:has(.w_80) {
	width: 80px !important;
}
math-field.w_80 {
	width: 80px !important;
}
math-field.w_large {
	width: 247px !important;
}
.img_area {
	position: relative;
}

/* ema624_05_ih_0001 */
.ema624_05_ih_0001 .question_box {
	margin-top: 40px;
	gap: 190px;
}
.ema624_05_ih_0001 .img_area p {
	position: absolute;
}
.ema624_05_ih_0001 .text1 {
	top: 82px;
	left: 121px;
}
.ema624_05_ih_0001 .text2 {
	top: 130px;
	left: 245px;
}
.ema624_05_ih_0001 .input_area {
	position: relative;
}
.ema624_05_ih_0001 .page_3 .question_box {
	gap: 20px;
}
.ema624_05_ih_0001 .input_area > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ema624_05_ih_0001 .input_area .input_wrap {
	margin: 0 6px 0 12px;
}

/* ema624_05_ih_0002 */
.ema624_05_ih_0002 .question_box {
	gap: 170px;
}
.ema624_05_ih_0002 .img_area p {
	position: absolute;
	top: -10px;
}
.ema624_05_ih_0002 .input_area > div + div {
	margin-top: 60px;
}
.ema624_05_ih_0002 .page_3 .img_area > div {
	position: absolute;
	top: 35px;
	left: 60px;
}
.ema624_05_ih_0002 .page_3 .input_row:first-of-type {
	margin-bottom: 40px;
}

/* ema624_05_ih_0003 */
.ema624_05_ih_0003 .question_box {
	margin-top: 50px;
	gap: 414px;
}
.ema624_05_ih_0003 .img_area p {
	position: absolute;
	font-weight: 700;
}
.ema624_05_ih_0003 .img_area .text1 {
	top: -6px;
	left: 20px;
}
.ema624_05_ih_0003 .img_area .text2 {
	left: 143px;
	top: -6px;
}
.ema624_05_ih_0003 .img_area .text3 {
	top: 30px;
	left: 196px;
}
.ema624_05_ih_0003 .img_area .text4 {
	left: 196px;
	top: 143px;
}
.ema624_05_ih_0003 .img_area .text5 {
	top: 110px;
	left: 82px;
}
.ema624_05_ih_0003 .page_3 .question_box {
	gap: 280px;
}
.ema624_05_ih_0003 .page_3 .input_area {
	position: relative;
}
.ema624_05_ih_0003 .page_3 .input_area > div {
	position: absolute;
	top: 35px;
	left: 60px;
}
.ema624_05_ih_0003 .page_3 .input_row:first-of-type {
	margin-bottom: 40px;
}
