:root {
  --main-color: #2176ec;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  color: #222;
  background-color: #e3e3eb;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h1 {
  font-size: 60px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

li {
  list-style: none;
}

p,
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  transition: color 0.3s;
}

/* Loader Styles */
.loader {
  position: fixed;
  top: -6vw;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 999;
  border: 3px solid blue;
}

.count-wrapper {
  position: relative;
  width: 180px;
  height: 360px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  will-change: transform;
}

.count {
  position: relative;
  width: 1080px;
  height: 360px;
  display: flex;
  transform: translateX(-1080px);
  will-change: transform;
}

.digit {
  position: relative;
  width: 180px;
  height: 360px;
}

.digit h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 300px;
  font-weight: lighter;
  line-height: 1;
  font-family: serif;
}

.revealer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;
  transform-style: preserve-3d;
  perspective: 2000px;
}
.header h1 {
  position: relative;
  font-size: 25vw;
  font-weight: lighter;
  letter-spacing: -0.02em;
  line-height: 0.85;
  transform: rotateY(60deg);
  transform-origin: bottom left;
  will-change: transform;
  opacity: 0;
}
/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_contants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1vw 7vw;
}
.scroll_nts {
  position: absolute;
  bottom: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll_nts p {
  font-size: 1.4vw;
  text-align: center;
  margin-bottom: 1vw;
  font-weight: 100;
}
.scroll_nts i {
  font-size: 3vw;
}

.hero_le {
  font-weight: lighter;
  font-size: 2vw;
}

.toggle-btn {
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 2vw;
  top: 2vw;
  z-index: 99999;
  transform: translateZ(999px);
  backface-visibility: hidden;
  perspective: 1000px;
  right: 11vw;
  top: 1vw;
}

.toggle-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.toggle-menu {
  position: fixed;
  right: 6vw;
  top: 0px;
  display: none;
  z-index: 99998;
}

.toggle-menu ul {
  display: flex;
  gap: 2em;
}

.toggle-menu ul li a:hover {
  color: var(--main-color);
}

.hero h1 {
  position: relative;
  font-size: 11vw;
  font-weight: 500;
  letter-spacing: -0.8vw;
  transform: rotateY(60deg);
  transform-origin: bottom left;
  will-change: transform;
  opacity: 0;
  text-transform: uppercase;
  position: absolute;
  top: 34%;
  left: 8%;
}

/* Intro Section */
.intro {
  width: 92vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container-desktop {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-preview {
  position: relative;
  width: 80%;
  aspect-ratio: 14/9;
  border-radius: 3.5rem;
  background-color: #b9b9b3;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  pointer-events: auto;
}

/* Interactive Section */

.interactive {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
  position: relative;
  will-change: transform;
}

.slide {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide .img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  will-change: transform;
  position: relative;
}
.slide .img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}
.sub_img {
  position: absolute;
  top: 70%;
  left: 0;
  z-index: 5;
  max-width: 250px;
  left: 11%;
  z-index: 5;
  display: flex;
}
.sub_img img {
  max-width: 200px;
  margin: 0 0.4em;
}
.slide .title {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
}

.slide .title h1 {
  color: var(--main-color);
  font-size: 8vw;
  line-height: 1.2;
  /* transform: translateY(-200px); */
  font-weight: bold;
  text-transform: uppercase;
}
.slide .title h1 span {
  font-weight: normal;
  font-size: 3vw;
}

.slide .title p {
  color: #fff;
  font-size: 1.7vw;
  margin-top: 1vw;
  /* max-width: 470px; */
  font-weight: 300;
}

/* Lenis and ScrollTrigger Styles */
.lenis.lenis-smooth[data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* slide-pf 컨테이너 스타일 */
.slide-pf {
  position: relative;
  width: 100%;
  background-color: #e3e3eb;
  margin-top: 0;
}

.hero,
.intro,
.interactive,
.footer {
  position: relative;
  z-index: 1;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20em;
  z-index: 1;
}

.project-names,
.preview-img,
.footer {
  position: fixed;
  z-index: 3;
}

.whitespace {
  position: relative;
  width: 100%;
}

.whitespace.w-1 {
  height: 50vh;
}

.whitespace.w-2 {
  height: 45vh;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20em;
}
.project {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.index {
  flex: 1;
  padding-left: 2em;
  height: 0;
}
.images {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
}
.img {
  flex: 1;
  width: 200px;
  background-color: lightgray;
  overflow: hidden;
}
.img img {
  opacity: 0.9;
}
.index .mask {
  position: absolute;
  top: 0;
  left: 2em;
  height: 70px;
  overflow: hidden;
  will-change: transform;
}
.index .mask h1 {
  position: relative;
  will-change: transform;
}

.index .mask h1 span {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.digit-wrapper,
.digit-wrapper span {
  display: inline-block;
  position: relative;
  will-change: transform;
}
.project-names {
  position: sticky;
  width: 200px;
  bottom: 17em;
  left: 44vw;
  margin-top: 32vh;
  transform: translateX(0%);
  z-index: 10;
  visibility: visible;
  opacity: 1;
}

.preview-img {
  position: sticky;
  bottom: 8em;
  left: 55vw;
  margin-top: 30vh;
  max-width: 32vw;
  height: calc(50vh - 2em);
  opacity: 0.9;
  z-index: 10;
  visibility: visible;
}

.scroll-pt {
  position: relative;
  z-index: 1;
}

/* Interactive Section 스타일 */
.interactive.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}
.slide-pf .project-names,
.slide-pf .preview-img {
  visibility: visible;
}
.indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.name {
  height: 18px;
}

.name p {
  color: gray;
  font-size: 1.3vw;
  margin: 0.5em 0;
}

.name.active p {
  color: #000;
  font-weight: bolder;
}

/* scroll-pt  */
.scroll-port {
  position: relative;
}
.scroll-pt > h1 {
  font-size: 7.5rem;
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: bold;
  color: #b4b4b447;
  position: absolute;
  top: 0px;
  left: 0;
  letter-spacing: -8px;
}

.whitespace.w-1 {
  width: 100vw;
  height: 50vh;
}
.whitespace.w-2 {
  width: 100vw;
  height: 45vh;
}
.gallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20em;
}
.project {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.project a {
  width: 100%;
  margin-left: 11vw;
}
.index {
  flex: 1;
  padding-left: 2em;
  height: 0;
}
.images {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
}
.img {
  flex: 1;
  width: 200px;
  background-color: lightgray;
  overflow: hidden;
}
.img img {
  opacity: 0.9;
}
.index .mask {
  position: absolute;
  top: 0;
  left: 2em;
  height: 70px;
  overflow: hidden;
  will-change: transform;
}
.index .mask h1 {
  position: relative;
  will-change: transform;
}

.index .mask h1 span {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.digit-wrapper,
.digit-wrapper span {
  display: inline-block;
  position: relative;
  will-change: transform;
}

/* my skills  */
.my-skills {
  width: 100vw;
  height: 100vh;
}

.skills-container {
  text-align: center;
  width: 100%;
  margin: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills-container h1 {
  font-size: 7.5rem;
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: bold;
  color: #b4b4b447;
  position: absolute;
  top: -55px;
  left: 0;
  letter-spacing: -8px;
}

.skills {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.technical-skills,
.professional-skills {
  flex: 1;
}

.professional-skills h2,
.technical-skills h2 {
  text-decoration: underline;
  margin-bottom: 3rem;
}
.circles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 100px;
  padding: 0 5rem;
}

.professional-skills h2 {
  grid-column: 1 / -1;
  text-align: center;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 97%;
}

.skill span {
  width: 100px;
}

.progress-bar {
  flex: 1;
  height: 14px;
  background-color: #1e2a38;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px;
}

.progress {
  height: 100%;
  background-color: var(--main-color);
  width: 0;
  transition: width 2s ease-in-out;
}

.percentage {
  width: 50px;
  text-align: right;
}

.circle-skill {
  display: inline-block;
  margin: 1.5rem;
  text-align: center;
}
.circle-skill:nth-of-type(1),
.circle-skill:nth-of-type(2) {
  margin-top: 0;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#1e2a38 0%, #1e2a38 100%); /* 초기 상태 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #f9f9f9;
  border-radius: 50%;
}

.circle::after {
  content: attr(data-percentage) "%";
  position: absolute;
  font-size: 1.2rem;
  color: var(--main-color);
}

.circle span {
  position: absolute;
  bottom: -2.2rem;
  font-size: 0.9rem;
}

/* design  */

.design {
  width: 100vw;
  height: 600vh;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description p {
  text-transform: lowercase;
  color: #fff;
  margin-top: 0.2em;
}

.design-sticky,
.outro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.design-sticky {
  position: relative;
  background-color: #ded8c8;
}
.sticky-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 250vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.sticky-header h1 {
  margin: 0;
  color: #000;
  font-size: 25vw;
  font-weight: lighter;
  letter-spacing: -0.05em;
  line-height: 100%;
  text-transform: uppercase;
}

.card {
  position: absolute;
  top: 10%;
  left: 100%;
  width: 700px;
  height: 400px;
  cursor: pointer;
  background-color: #000;
  border-radius: 1em;
  padding: 0.5em;
  will-change: transform;
  z-index: 2;
}

.card .card-img {
  width: 100%;
  height: 300px;
  border-radius: 0.5em;
  overflow: hidden;
}
.card .card-img img {
  transform: scale(0.9);
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 0 1.5em;
}

.card-content h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.005em;
}

.card-content p {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* footer  */

.outro {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #000;
  position: relative;
}

.footer {
  background-color: #ffffff;
  padding: 30px 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 20px solid var(--main-color);
}

.footer_logo p {
  color: var(--main-color);
}

.footer_msg p {
  font-size: 4vw;
  margin: 0.4em 0 1em 0;
  font-weight: bold;
}

.email-box {
  margin-bottom: 10vw;
}

#emailForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#emailInput {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 250px;
  font-size: 14px;
}

#emailForm button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#emailForm button:hover {
  background-color: var(--main-color);
}

.sns {
  margin-bottom: 1vw;
}
.sns a {
  margin: 0 1vw;
}
.sns a:hover {
  color: var(--main-color);
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.2s ease;
}

.footer-menu li a:hover {
  color: var(--main-color);
}
