/* Import CSS files */
@import '_reset.css';
@import '_font.css';
@import '_preset.css';

@import '_layout.css';
@import '_button.css';
@import '_form.css';
@import '_dropdown.css';
@import '_dialog.css';
@import '_component.css';
@import '_media.css';
@import '_template.css';
@import '_tools.css';
:root {
    --primary-blue-800: #1454B9;
    --primary-blue: #3B71FE;
    --primary-blue-300: #8CD6FF;
    --primary-blue-200: #BBE5FF;
    --primary-blue-100: #D9F0FF;
    --primary-blue-50: #EEF9FF;

    --secondary-green: #07BBA9;
    --secondary-red: #EE4F24;
    --secondary-red-800: #CC360E;
    --secondary-coral: #FF8C78;
    --secondary-coral-300: #FFCBC2;
    --secondary-coral-400: #FFE6E2;
    --secondary-yellow: #FFDE6A;

    --common-grey-100: #F7F7F7;

    --bg-outside: #F5F5F5;
    --bg-default: #FFFFFF;
    --bg-disabled: #F2F4F7;
    --bg-input: #FFFFFF;

    --btn-default: #3B71FE;
    --btn-hover: #1454B9;
    --btn-disabled: #808080;
    --btn-disabled-bg: #F2F4F7;
    --btn-select: #59A5FF;

    --font-main: #222222;
    --font-main-800: #444444;
    --font-main-700: #6A6A6A;
    --font-main-500: #9E9E9E;
    --font-main-300: #D2D2D2;
    --font-main-100: #F7F7F7;
    --font-disable: #808080;
    --font-main-reverse: #FFFFFF;
    --font-placeholder: #9E9E9E;
    --font-disabled: #9E9E9E;
    --font-negative: #FF0000;

    --stroke-default: #D2D2D2;
    --stroke-hover: #3B71FE;
    --stroke-focus: #3B71FE;
    --stroke-correct: #3B71FE;
    --stroke-error: #EE4F24;
    --stroke-wrong: #FF0000;
    --stroke-completion: #222222;
    --stroke-dropdown-open: #000000;
    --stroke-focus-visible: #000000;

    --scrollbar-color: #808080;
}