/*EMA523_12_SU_0002_s*/
.ema523_12_su_0002 .figure_wrap {
  display: flex;
  align-items: center;
  width: 1401px;
  height: 302px;
  background: url(../img/EMA523_12_SU/0002_bg.svg) no-repeat 0 0;
  padding: 0 50px;
  gap: 96px;
  position: relative;
}

.ema523_12_su_0002 .figure_triangle {
  position: relative;
  width: 251px;
}

.ema523_12_su_0002 .figure_triangle .txt {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 32px;
  font-weight: 700;
}

.ema523_12_su_0002 .figure_group1 {
  transform: translate(0, 25px);
  flex-shrink: 0;
}

.ema523_12_su_0002 .figure_group1 .txt {
  left: 90px;
  top: 74px;
}

.ema523_12_su_0002 .boolean_wrap {
  gap: 0;
}

.ema523_12_su_0002 .boolean_wrap button {
  position: relative;
  width: 256px;
  height: 302px;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  border-radius: 0;
  justify-content: flex-start;
  /* &:hover .txt::after {
        content: '';
        border-color: var(--primary-blue-300)
      } */
}

.ema523_12_su_0002 .boolean_wrap button:nth-child(1) {
  margin-right: 96px;
}

.ema523_12_su_0002 .boolean_wrap button:nth-child(1) img {
  transform: translate(0, 0);
}

.ema523_12_su_0002 .boolean_wrap button:nth-child(2) {
  margin-right: 48px;
}

.ema523_12_su_0002 .boolean_wrap button:nth-child(2) img {
  transform: translate(-3px, 25px);
}

.ema523_12_su_0002 .boolean_wrap button:nth-child(3) {
  width: 299px;
}

.ema523_12_su_0002 .boolean_wrap button:nth-child(3) img {
  transform: translate(3px, -27px);
}

.ema523_12_su_0002 .boolean_wrap button .txt {
  width: 68px;
  height: 68px;
  padding: 10px;
}

.ema523_12_su_0002 .boolean_wrap button .txt:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 68px;
  height: 68px;
  border: 4px transparent solid;
  border-radius: 50%;
  transform: translate(-50%, -56%);
}
.ema523_12_su_0002 .boolean_wrap button .txt-1 {
  position: absolute;
  top: 140px;
  left: 67px;
  display: block;
  width: 68px;
  height: 68px;
  border: 4px transparent solid;
  border-radius: 50%;
/*   transform: translate(-50%, -56%); */
}

.ema523_12_su_0002 .figure_triangle1 {
  position: absolute;
  top: 27px;
  left: 0;
}
.ema523_12_su_0002 .figure_triangle2 {
  position: absolute;
  top: -24px;
  left: 0;
}
.ema523_12_su_0002 .figure_triangle3 {
  position: absolute;
  top: 50px;
  left: 37px;
}
.ema523_12_su_0002 .figure_triangle4 {
  position: absolute;
  top: -38px;
  left: 94px;
}


.ema523_12_su_0002 .boolean_wrap button.selected .txt::after {
  content: '';
  border-color: #222;
}

.ema523_12_su_0002 .figure_group2 .txt-2 {
  left: 80px;
  top: 151px;
}

.ema523_12_su_0002 .figure_group2 .txt-3 {
  left: 102px;
  top: 161px;
}

.ema523_12_su_0002 .figure_group2 .txt-4 {
  left: 157px;
  top: 69px;
}

.result button.selected.correct[ddata-answer-single="true"] .txt::after,
.result button.correct[data-answer-single="true"] .txt::after {
  content: '';
  background-color: rgba(59, 113, 254, 0.3);
  border-color: var(--primary-blue);
}

.result button.selected.hint .txt::after {
  content: '';
  background-color: transparent;
  border-color: #222;
}

.result button.hint .txt::after {
  content: '';
  background-color: transparent;
  border-color: #EE4F24;
}

/*EMA523_12_SU_0003_s*/
.ema523_12_su_0003 .input_area {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.ema523_12_su_0003 .input_area .figure_box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.ema523_12_su_0003 .input_area .img_area {
  position: relative;
}

.ema523_12_su_0003 .input_area .figure_triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  font-size: 32px;
  font-weight: 700;
}


.ema523_12_su_0003 .input_area .figure_triangle .txt_1 {
  transform: translate(79px, -33px);
}

.ema523_12_su_0003 .input_area .figure_triangle .txt_2 {
  transform: translate(-55px, 182px);
}

.ema523_12_su_0003 .input_area .figure_triangle .txt_3 {
  transform: translate(274px, 182px);
}

.ema523_12_su_0003 .input_area .figure_triangle .txt_4 {
  transform: translate(200px, 50px);
}

.ema523_12_su_0003 .input_area .img2 img {
  transform: rotate(180deg);
}

.ema523_12_su_0003 .input_area .img2 .figure_triangle .txt_1 {
  transform: translate(-25px, -33px);
}

.ema523_12_su_0003 .input_area .img2 .figure_triangle .txt_2 {
  transform: translate(-6px, 121px);
}

.ema523_12_su_0003 .input_area .img2 .figure_triangle .txt_3 {
  transform: translate(170px, 200px);
}

.ema523_12_su_0003 .input_area .img2 .figure_triangle .txt_4 {
  transform: translate(242px, -30px);
}

.ema523_12_su_0003 .input_area .custom_select {
  width: 165px;
}

/*EMA523_12_SU_0004_s*/
.ema523_12_su_0004 .figure_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
}

.ema523_12_su_0004 .figure_triangle {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.ema523_12_su_0004 .figure_triangle .txt {
  font-size: 32px;
  font-weight: 700;
  color: #222;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap {
  display: flex;
  align-items: center;
  gap: 60px;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drag_group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 124px;
  border-radius: 20px;
  background-color: #F7F7F7;
  padding: 0 60px;
  gap: 20px;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drag_group .drag_item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid #222;
  font-size: 24px;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  padding: 0 60px;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group::before {
  content: '(';
  font-size: 32px;
  font-weight: 700;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group::after {
  content: ')';
  font-size: 32px;
  font-weight: 700;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group .drop_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 2px solid #222;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group .drop_item.correct {
  border-color: #3B71FE;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group .drop_item.hint {
  border-color: #EE4F24;
}

.ema523_12_su_0004 .dragndrop_fraction_wrap .drop_group:has(.drop_item) {
  border-color: #3B71FE;
}

/*EMA523_12_SU_0005_s*/
.ema523_12_su_0005 .flex {
  gap: 120px;
}

.ema523_12_su_0005 .drawing_grid_area {
  width: 402px;
  height: 322px;
  background-image: url(../../common_contents/img/EMA523_12_SU/0005_grid.svg);
  border: 0;
  background-size: 100%;
}

.ema523_12_su_0005 .drawing_grid_area .point {
  width: 16px;
  height: 16px;
  background-color: #222;
}

.ema523_12_su_0005 .img_area {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}

.ema523_12_su_0005 .img_area .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 999px;
  font-size: 32px;
  font-weight: 700;
  padding: 0 28px;
}

.ema523_12_su_0005 .img_area .title::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 21px;
  background-image: url(../img/EMA523_12_SU/0005_bg.png);
}

.ema523_12_su_0005 .img_area.img_area1 .title {
  background-color: #FAD1CD;
}

.ema523_12_su_0005 .img_area.img_area2 .title {
  background-color: #D8DDF1;
}

.ema523_12_su_0005 .img_area1 .drawing_grid_area::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 402px;
  background-color: #E6007E;
  transform: translateY(-50%);
}

.ema523_12_su_0005 .img_area2 .drawing_grid_area::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #E6007E;
  transform: translate(-50%, -50%);
}

.ema523_12_su_0005 .dot_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ema523_12_su_0005 .dot_wrap .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #222;
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot1 {
  transform: translate(32px, 152px);
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot2 {
  transform: translate(32px, 215px);
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot3 {
  transform: translate(192px, 200px);
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot4 {
  transform: translate(233px, 224px);
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot5 {
  transform: translate(272px, 128px);
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot6 {
  transform: translate(353px, 152px);
}

.ema523_12_su_0005 .img_area1 .dot_wrap .dot7 {
  transform: translate(353px, 56px);
}

.ema523_12_su_0005 .img_area2 .dot_wrap .dot1 {
  transform: translate(192px, 32px);
}

.ema523_12_su_0005 .img_area2 .dot_wrap .dot2 {
  transform: translate(312px, 96px);
}

.ema523_12_su_0005 .img_area2 .dot_wrap .dot3 {
  transform: translate(352px, 160px);
}

.ema523_12_su_0005 .img_area2 .dot_wrap .dot4 {
  transform: translate(272px, 144px);
}

.ema523_12_su_0005 .img_area2 .dot_wrap .dot5 {
  transform: translate(192px, 208px);
}

/*EMA523_12_SU_0006_s*/
.ema523_12_su_0006 .input_area {
  display: flex;
  align-items: flex-end;
  gap: 60px;
}

.ema523_12_su_0006 .figure_box {
  position: relative;
  display: flex;
}

.ema523_12_su_0006 .figure_triangle {
  position: absolute;
  display: flex;
  top: 0;
}

.ema523_12_su_0006 .figure_triangle span {
  font-size: 32px;
  font-weight: 700;
}

.ema523_12_su_0006 .figure_triangle span.txt_1 {
  transform: translate(12px, 107px);
}

.ema523_12_su_0006 .figure_triangle span.txt_2 {
  transform: translate(411px, 9px);
}

.ema523_12_su_0006 .figure_triangle span.txt_3 {
  transform: translate(252px, 302px);
}

.ema523_12_su_0006 .figure_triangle span.txt_4 {
  transform: translate(131px, 164px);
}

.ema523_12_su_0006 .question_box .form1 span {
  font-size: 32px;
  margin-left: -8px;
}

/*EMA523_12_SU_0007_s*/
.ema523_12_su_0007 .flex {
  width: 1111px;
  height: 430px;
  background: url(../img/EMA523_12_SU/0007_content.png) no-repeat 100% 0;
  margin: 0 auto;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  width: 1451px;
  height: 630px;
  justify-content: space-between;
  gap: 100px;
  transform: translateX(-50%);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text_area {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
  line-height: 2;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text_area .txt-1 {
  letter-spacing: -1.5px;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text_area .txt-2 {
  transform: translate(-245px, 26px);
  letter-spacing: -1px;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text_area .txt-3 {
  transform: translate(30px, 89px);
  letter-spacing: -1px;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text-box {
  position: absolute;
  top: -210px;
  left: -59px;
  display: flex;
  flex-wrap: wrap;
  gap: 149px;
  width: 370px;
  /* .text01 {
        transform: translate(10px, 10px);
      } */
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text-box .text02 {
  transform: translate(3px, 0px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text-box .text03 {
  transform: translate(-2px, 0px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text-box .text04 {
  transform: translate(72px, -57px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .text-box .text05 {
  transform: translate(78px, -57px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drag_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 292px;
  border-radius: 20px;
  background-color: #F7F7F7;
  padding: 40px 60px;
  gap: 20px;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drag_group .drag_item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid #222;
  font-size: 24px;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1059px;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group.drop_group1 {
  transform: translate(-188px, -98px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 2px solid #222;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item .drag_item {
  cursor: pointer;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.drop_item1 {
  transform: translate(243px, -2px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.drop_item2 {
  transform: translate(247px, -2px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.drop_item3 {
  transform: translate(250px, -2px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.drop_item4 {
  transform: translate(-10px, -74px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.drop_item5 {
  transform: translate(253px, 85px);
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.correct {
  border-color: #3B71FE;
}

.ema523_12_su_0007 .dragndrop_fraction_wrap .drop_group .drop_item.hint {
  border-color: #FF0000;
}

.ema523_12_su_0007 .empty_box {
  margin: 0 4px;
}

.ema523_12_su_0007 .scroll_area {
  align-items: flex-end;
}

/*EMA523_12_SU_0008_s*/
.ema523_12_su_0008 section.title.type2 + section.contents {
  padding-top: 40px;
}

.scroll_area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll_area .question_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 700;
}

.scroll_area .question_box.question_box01 {
  top: 85px;
  right: 323px;
}

.scroll_area .question_box.question_box01 .text2 {
  transform: translate(6px, 55px);
}

.scroll_area .question_box.question_box01 .text3 {
  transform: translate(7px, 116px);
}

.scroll_area .question_box.question_box01 .text4 {
  transform: translate(318px, 84px);
}

.scroll_area .question_box.question_box01 .answer2 {
  position: absolute;
  top: 125px;
  right: -119px;
  align-items: center;
}

.scroll_area .question_box.question_box02 {
  top: 380px;
  left: 242px;
}

.scroll_area .question_box.question_box02 .text2 {
  transform: translate(306px, 23px);
}

.scroll_area .question_box.question_box02 .text3 {
  transform: translate(322px, 123px);
}

.scroll_area .question_box.question_box02 .text4 {
  transform: translate(151px, 138px);
}

.scroll_area .question_box.question_box02 .text5 {
  transform: translate(297px, 102px);
}

.scroll_area .question_box.question_box02 .answer3 math-field {
  width: 180px;
}

.scroll_area .question_box.question_box02 .answer4 {
  position: absolute;
  top: 205px;
  left: -26px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.scroll_area .question_box.question_box03 {
  top: 940px;
  right: 325px;
}

.scroll_area .question_box.question_box03 .text2 {
  transform: translate(33px, 78px);
}

.scroll_area .question_box.question_box03 .text3 {
  transform: translate(296px, 12px);
}

.scroll_area .question_box.question_box03 .answer5 math-field {
  width: 180px;
}

.scroll_area .question_box.question_box03 .answer6 {
  position: absolute;
  top: 232px;
  right: -88px;
  align-items: center;
}

.scroll_area .question_box .input_wrap {
  flex-direction: row;
  gap: 3px;
}

.correct .line_canvas .add_line {
  stroke: #3B71FE;
}

.point_blue {
  color: #3B71FE;
}
