.ema513_06_su_0001 span {
  color: #3B71FE;
}

.mini_title {
  margin-top: 20px;
}

.ema513_06_su_0002 .contents>img {
  width: 950px;
  height: 550px;
  margin: 0 auto;
}

.ema513_06_su_0002 .title h2 {
  align-items: center;
}
.contents {
  position: relative;
}
.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.texture>h5 {
  font-size: 24px;
  color: #941E15;
  position: absolute;
  top: 57px;
  left: 184px;
}

.texture .drink {
  display: flex;
  flex-direction: column;
  gap: 47px;
  font-size: 19px;
  position: absolute;
  top: 113px;
  left: 147px;
}

.texture .liter {
  display: flex;
  flex-direction: column;
  gap: 47px;
  font-size: 19px;
  position: absolute;
  top: 113px;
  left: 436px;
}

.texture .liter > p:nth-child(2) {
  transform: translateX(237px);
}

.texture .liter > p:nth-child(3) {
  transform: translateX(103px);
}

.texture .liter > p:nth-child(4) {
  transform: translateX(-135px);
}

.texture > p{
  font-size: 15px;
  position: absolute;
  top: 392px;
  left: 104px;
} 


/* ema513_06_su_0003 */
.ema513_06_su_0003 .picture_wrap {
  border: 0;
}

.ema513_06_su_0003 .picture_wrap .texture {
  transform: scale(0.88);
  transform-origin: left top;
}

.ema513_06_su_0003[data-current-page='page_10'] .btn_area {
  display: none;
}

.ema513_06_su_0003[data-current-page='page_1'] .btnCheck,
.ema513_06_su_0003[data-current-page='page_3'] .btnCheck,
.ema513_06_su_0003[data-current-page='page_4'] .btnCheck,
.ema513_06_su_0003[data-current-page='page_5'] .btnCheck {
  display: none;
}

.ema513_06_su_0003[data-current-page='page_2'] .btnSubmit,
.ema513_06_su_0003[data-current-page='page_6'] .btnSubmit,
.ema513_06_su_0003[data-current-page='page_7'] .btnSubmit,
.ema513_06_su_0003[data-current-page='page_7'] .btnSubmit,
.ema513_06_su_0003[data-current-page='page_8'] .btnSubmit,
.ema513_06_su_0003[data-current-page='page_9'] .btnSubmit {
  display: none;
}

.ema513_06_su_0003[data-current-page='page_7'] .btnType {
  display: none;
}

.ema513_06_su_0003[data-current-page='page_9'] .btn_area {
  display: none;
}

.ema513_06_su_0003 .input_wrap ol.example_box li::before {
  display: none;
}

.ema513_06_su_0003 .input_wrap ol.example_box li {
  padding-left: 0;
}

.ema513_06_su_0003 .page_6 .inputs .input_wrap math-field.textarea {
  height: 150px;
  width: 700px;
}

.ema513_06_su_0003 .page_6 .inputs .input_wrap {
  width: 700px;
}

.ema513_06_su_0003 .page_2 .input_wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  top: 50px;
  left: 300px;
}

.ema513_06_su_0003 .page_2 .input_wrap h2 {
  margin-left: 10px;
}

.ema513_06_su_0003 .contents>img {
  width: 719px;
  height: 390px;
  object-fit: cover;
}

.bottom_box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 379px;
  left: 158px;
}

.bottom_box>.img1 {
  height: auto;
}

.ema513_06_su_0003 .bottom_box p {
  font-size: 14px;
  color: #6a6a6a;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 35px;
  left: 200px;
}

.ema513_06_su_0003 .page_5 .contents{
  display: flex;
  justify-content: center;
}
.ema513_06_su_0003 .page_5 .content{
  position: relative;
}
.ema513_06_su_0003 .page_5 .contents .texture{
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.09);
  transform-origin: left top;
}

.titlebox {
  width: 45%;
  height: 100%;
  margin-top: 10px;
}

.bottom_box {
  position: absolute;
}

.bottom_box img {
  position: relative;
}

.ema513_06_su_0003 .page_5 .contents {
  justify-content: center;
}


.table_box {
  display: flex;
  justify-content: center;
  gap: 26px;
  position: relative;
  top: -30px;
}

.page_6 .title_box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.page_6 .title_box h3 {
  margin-bottom: 0px;
}

table {
  width: 770px;
  table-layout: fixed;
}

table th,
td {
  width: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}


.table_box th:nth-child(1) {
  width: 35%;
}

.table_box th {
  border: 1px solid var(--Text-Gray-900, #855252);
  background-color: #fce3e5;
  padding: 5px;
}


.table_box td {
  border: 1px solid var(--Text-Gray-900, #855252);
  padding: 10px;
}

.table_box td:nth-child(3),
.table_box td:nth-child(4),
.table_box td:nth-child(6),
.table_box td:nth-child(5) {
  padding: 0px;
}

.table_box th:nth-child(5) {
  padding: 0px;
}


.table_box th:nth-child(4),
.table_box th:nth-child(6) {
  padding: 0px;
}

.ema513_06_su_0003 .page_6 .mid_title{
  margin-right: 24px;
}

.ema513_06_su_0003 .page_7 .contents h3 {
  margin-bottom: 0px;
}

.dragndrop_fraction_wrap {
  position: relative;
  left: 120px;
}

.dragndrop_fraction_wrap .drag_group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 428px;
  border: 1px solid #808080;
  border-radius: 12px;
  padding: 12px 40px;
  margin-top: 8px;
}

.dragndrop_fraction_wrap .drag_item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 32px;
}

.dragndrop_fraction_wrap .drag_item[data-pair="2"] {
  background-color: #FDDDCF;
}

.dragndrop_fraction_wrap .drag_item[data-pair="1"] {
  background-color: #C2D4EE;
}

.dragndrop_fraction_wrap .drag_item[data-pair="3"] {
  background-color: #D4E6C2;
}

.dragndrop_fraction_wrap .drop_group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

.dragndrop_fraction_wrap .drop_item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #000;
  position: relative;
  top: -35px;
  left: 20px;
}


.ema513_06_su_0003 .page_8 .input_wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  top: 50px;
  left: 300px;
}

.ema513_06_su_0003 .page_8 .input_wrap input {
  width: 200px;
}

.ema513_06_su_0003 .page_8 .input_wrap h2 {
  margin-left: 10px;
}

.ema513_06_su_0002 .title_box {
  position: relative;
  left: 105px;
}

.ema513_06_su_0002 .title_box>img {
  position: relative;
  top: 45px;
  left: -50px;
}

.ema513_06_su_0002 .img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ema513_06_su_0002 .img>img {

  margin: 0 auto;
}

.ema513_06_su_0002 .contents h3 {
  margin-left: 100px;
}

.ema513_06_su_0003 .page_9 .img {
  display: flex;
  justify-content: center;
}


/* EMA513_06_su_0004 */

.ema513_06_su_0004 .titleimg {
  display: flex;
  width: 709px;
}

.ema513_06_su_0004 .titleimg>img {
  width: 230px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
}
.ema513_06_su_0004 .picture_wrap {
  border: 0;
}

.text {
  font-size: 24px;
  display: flex;
  position: relative;
  top: -95px;
  left: 118px;
  text-align: center;
}

.text>p {
  margin-right: 170px;
}

.in_box {
  margin-top: 20px;
}

.in_box>li {
  display: flex;
  align-items: center;
}

.in_box .input_wrap {
  margin: 0px 12px;
}

.custom_select {
  width: 200px;
  margin-right: 12px;
}

.in_box {
  width: 718px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
}

.ema513_06_su_0004 li {
  margin-bottom: 20px;
}

.ema513_06_su_0004 li:nth-child(2) .input_wrap input {
  width: 325px;
  margin-left: 12px;
}

.ema513_06_su_0004 li:nth-child(3) .input_wrap input {
  width: 218px;
  margin-left: 12px;
}

.ema513_06_su_0004 .example_area {
  min-height: 48px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 20px;
  background: var(--primary-blue-50);
  resize: none;
  color: var(--primary-blue-800);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}

.example_title {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background-color: var(--btn-default);
  color: white;
  text-align: center;
  padding-top: 5px;
}

.ema513_0_su_0003 .example_area {
  width: 80%;
  min-height: 0;
  margin: 0 auto;
  margin-top: 12px;
}

.example_area p {
  font-size: 32px;
  font-weight: 700;
}

.ema513_06_su_0005 span {
  color: #EE4F24;
}
