.input_wrap .text_hint,
.dropdown_wrap .text_hint {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}

/*ema511_07_su_0001_s*/
.ema511_07_su_0001 .blue {
  color: rgba(59, 113, 254, 1);
}

/*ema511_07_su_0002_s*/
.ema511_07_su_0002 .title h2 {
  align-items: center;
}

.ema511_07_su_0002 .page_1 .picture_wrap {
  width: 1360px;
  height: 560px;
  border: 2px solid rgba(244, 244, 244, 1);
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ema511_07_su_0002 .page_2 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.ema511_07_su_0002 .page_2 ul li {
  width: 280px;
  height: 116px;
  background: url(../img/EMA511_07_SU/0002_list_bg.png) no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* .ema511_07_su_0002 .page_2 ul li .img_box {
  width: 100px;
  aspect-ratio: 1/1;
} */

.ema511_07_su_0002 .page_2 ul li .img_box img {
  object-fit: none;
}

.ema511_07_su_0002 .page_2 ul li .text_box {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.ema511_07_su_0002 .page_2 ul li .text_box span {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}

.ema511_07_su_0002 .page_2 ul li .text_box .reveal_btn {
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.5px;
  line-height: 1;
}

.ema511_07_su_0002 .page_2 ul li .text_box .reveal_btn:not(:disabled):after {
  bottom: -19px;
}

.ema511_07_su_0002[data-current-page='page_1'] .btn_area {
  display: none;
}

/*ema511_07_su_0003_s*/
.ema511_07_su_0003 .picture_box {
  display: inline-block;
  border: 2px solid rgba(244, 244, 244, 1);
  border-radius: 20px;
  position: relative;
}
.ema511_07_su_0003 .page_1.on,
.ema511_07_su_0003 .page_2.on {
  display: flex !important;
  gap: 26px;
}
.ema511_07_su_0003 .page_1 .input_wrap .text_hint {
  top: 52px;
}
.ema511_07_su_0003 .page_1 .text_box {
  width: 280px;
  height: 116px;
  background: url(../img/EMA511_07_SU/0002_list_bg.png) no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  /* visibility: hidden; */
}
.ema511_07_su_0003 .page_1 .text_box .img_box img {
  object-fit: contain;
}
.ema511_07_su_0003 .page_1 .text_box .text {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.ema511_07_su_0003 .page_1 .text_box .text span {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
.ema511_07_su_0003 .page_1 .toggle_box > .img_box {
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.ema511_07_su_0003 .page_1 .toggle_box01 > .img_box {
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 10; */
}

.ema511_07_su_0003 .page_1 .toggle_box02 > .img_box {
  top: 250px;
  left: calc(50% + 3px);
  transform: translateX(-50%);
  /* z-index: 9; */
}

.ema511_07_su_0003 .page_1 .toggle_box03 > .img_box {
  top: 315px;
  left: 172px;
  /* z-index: 8; */
}

.ema511_07_su_0003 .page_1 .toggle_box04 > .img_box {
  top: 340px;
  left: calc(50% + 3px);
  transform: translateX(-50%);
  /* z-index: 8; */
}

.ema511_07_su_0003 .page_1 .toggle_box05 > .img_box {
  top: 315px;
  left: 349px;
  /* z-index: 8; */
}

.ema511_07_su_0003 .page_1 .toggle_box > .img_box .img.on {
  display: none;
}

.ema511_07_su_0003 .page_1 .toggle_box.on > .img_box .img.on {
  display: block;
}

.ema511_07_su_0003 .page_1 .toggle_box.on > .img_box .img.off {
  opacity: 0;
}

.ema511_07_su_0003 .page_1 .toggle_box > .img_box .img.on {
  max-width: unset;
  position: absolute;
  bottom: 0px;
}

.ema511_07_su_0003 .page_1 .toggle_box01 > .img_box .img.on {
  left: -3px;
  bottom: -3px;
}

.ema511_07_su_0003 .page_1 .toggle_box02 > .img_box .img.on {
  left: 0;
}

.ema511_07_su_0003 .page_1 .toggle_box03 > .img_box .img.on {
  left: -4px;
  bottom: -5px;
}

.ema511_07_su_0003 .page_1 .toggle_box04 > .img_box .img.on {
  left: -11px;
  bottom: -4px;
}

.ema511_07_su_0003 .page_1 .toggle_box05 > .img_box .img.on {
  left: -5px;
  bottom: -4px;
}

.ema511_07_su_0003 .page_1 .toggle_box .line {
  display: none;
  width: 6px;
  background: url(../../common_contents/img/EMA511_07_SU/0003_line.svg) repeat-y;
  position: absolute;
  z-index: 10;
}

.ema511_07_su_0003 .page_1 .toggle_box .line::before {
  width: 20px;
  height: 20px;
  background-color: rgba(106, 106, 106, 1);
  border-radius: 50%;
  position: absolute;
  z-index: 15;
}

.ema511_07_su_0003 .page_1 .toggle_box .line1 {
  height: 90px;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.ema511_07_su_0003 .page_1 .toggle_box .line1::before {
  content: "";
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box .line2 {
  height: 83px;
  top: -10px;
  left: 0;
  transform: rotate(90deg);
  z-index: 10;
}

.ema511_07_su_0003 .page_1 .toggle_box .line2::before {
  content: "";
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box .line3 {
  height: 158px;
  top: -123px;
  left: -40px;
}

.ema511_07_su_0003 .page_1 .toggle_box .line4 {
  height: 250px;
  top: -210px;
  left: 50%;
  transform: translateX(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box .line4::before {
  content: "";
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box .line5 {
  height: 128px;
  top: -77px;
  left: 7px;
  transform: rotate(135deg);
}

.ema511_07_su_0003 .page_1 .toggle_box .line5::before {
  content: "";
  left: 50%;
  top: 0;
  transform: translatex(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box .line6 {
  height: 158px;
  top: -213px;
  left: -40px;
}

.ema511_07_su_0003 .page_1 .toggle_box .line7 {
  height: 250px;
  top: -210px;
  left: 50%;
  transform: translateX(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box .line7::before {
  content: "";
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
}

.ema511_07_su_0003 .page_1 .toggle_box.on > .img_box .line {
  display: block;
}

.ema511_07_su_0003 .page_1 .input_area ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ema511_07_su_0003 .page_1 .input_area li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ema511_07_su_0003 .page_1 .input_area li > span,
.ema511_07_su_0003 .page_1 .input_area li > div > span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}
.ema511_07_su_0003 .page_1 .input_area .name_box {
  width: 252px;
  height: 68px;
  background: url(../img/EMA511_07_SU/0003_list_bg.png) no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
.ema511_07_su_0003 .page_1 .input_area .answer1 math-field:not(.textarea),
.ema511_07_su_0003 .page_1 .input_area .answer3 math-field:not(.textarea),
.ema511_07_su_0003 .page_1 .input_area .answer5 math-field:not(.textarea),
.ema511_07_su_0003 .page_1 .input_area .answer7 math-field:not(.textarea),
.ema511_07_su_0003 .page_1 .input_area .answer9 math-field:not(.textarea) {
  width: 185px;
}
.ema511_07_su_0003 .page_2 .picture_box {
  width: 684px;
  flex-shrink: 0;
}
.ema511_07_su_0003 .page_2 .text_box {
  position: absolute;
}
.ema511_07_su_0003 .page_2 .text_box1 {
  top: 119px;
  left: 27px;
}
.ema511_07_su_0003 .page_2 .text_box2 {
  top: 297px;
  left: 16px;
}
.ema511_07_su_0003 .page_2 .text_box3 {
  top: 436px;
  left: 124px;
}
.ema511_07_su_0003 .page_2 .text_box4 {
  top: 297px;
  left: 377px;
}
.ema511_07_su_0003 .page_2 .text_box5 {
  top: 187px;
  left: 419px;
}
.ema511_07_su_0003 .page_2 .text_box .name_box {
  height: 60px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(238, 79, 36, 1);
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
  position: absolute;
  top: 8px;
  left: 16px;
  transform: translateY(-100%);
}
.ema511_07_su_0003 .page_2 .text_box .num_box {
  height: 52px;
  padding: 0 24px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
.ema511_07_su_0003 .page_2 .question_box {
  display: inline-flex;
  gap: 88px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.ema511_07_su_0003 .page_2 .question_box > div > span {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
}
.ema511_07_su_0003 .page_2 .question_box .title {
  position: relative;
  top: 16px;
}
.ema511_07_su_0003 .page_2 .question_box .answer1 input {
  width: 80px;
  height: 40px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
}
.ema511_07_su_0003 .page_3 .picture_wrap {
  width: 700px;
  max-width: 700px;
  height: 390px;
  border: 2px solid rgba(244, 244, 244, 1);
  border-radius: 20px;
}
.ema511_07_su_0003 .page_3 .input_wrap {
  width: 712px;
}
.ema511_07_su_0003 .page_3 .input_wrap math-field.textarea {
  height: 330px;
}
.ema511_07_su_0003:not([data-current-page='page_3']) .btnSubmit {
  display: none;
}
.ema511_07_su_0003[data-current-page='page_3'] .btnCheck {
  display: none;
}

/*ema511_07_su_0004_s*/
.ema511_07_su_0004 section.title.type2 + section.contents {
  padding-top: initial;
}
.ema511_07_su_0004 .page_inwrap {
  display: flex;
  justify-content: right;
  gap: 26px;
}
.ema511_07_su_0004 .drop_wrap {
  width: 480px;
  height: 370px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  position: absolute;
  top:260px;
  left: 189px;
  transform-origin: top left;
}
.ema511_07_su_0004[data-current-page='page_4'] .drop_wrap,
.ema511_07_su_0004[data-current-page='page_4'] .drop_wrap{
  pointer-events: none;
  transform: scale(1.3);
}
.ema511_07_su_0004 .question_wrap {
  display: flex;
  gap: 40px;
  margin-right: 161px;
}
.ema511_07_su_0004 .page_4 .question_wrap {
  width: 832px;
  flex-direction: column;
  margin-right: 0;
}
.ema511_07_su_0004 .page_6 .question_wrap {
  width: 709px;
  flex-direction: column;
  margin-right: 0;
  gap: 0px;
}
.ema511_07_su_0004 .page_6 math-field.textarea {
  height: 310px;
}
.ema511_07_su_0004 .page_1 .drag_wrap,
.ema511_07_su_0004 .page_2 .drag_wrap,
.ema511_07_su_0004 .page_3 .drag_wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.ema511_07_su_0004 .page_1 .drag_wrap li,
.ema511_07_su_0004 .page_2 .drag_wrap li,
.ema511_07_su_0004 .page_3 .drag_wrap li {
  width: 195px;
  height: 71px;
  background-color: rgba(255, 230, 226, 1);
  border: 0.91px solid rgba(255, 140, 120, 1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ema511_07_su_0004 .page_1 .drag_wrap li .img_box img,
.ema511_07_su_0004 .page_2 .drag_wrap li .img_box img,
.ema511_07_su_0004 .page_3 .drag_wrap li .img_box img {
  transform: scale(0.8);
}
.ema511_07_su_0004 .page_2 .drag_wrap li:nth-child(3) .img_box {
  margin-right: -14px;
}
.ema511_07_su_0004 .page_1 .drag_wrap li .text_box,
.ema511_07_su_0004 .page_2 .drag_wrap li .text_box,
.ema511_07_su_0004 .page_3 .drag_wrap li .text_box {
  min-width: 54px;
  text-align: center;
}
.ema511_07_su_0004 .page_1 .drag_wrap li .text_box span,
.ema511_07_su_0004 .page_2 .drag_wrap li .text_box span,
.ema511_07_su_0004 .page_3 .drag_wrap li .text_box span {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.ema511_07_su_0004 .page_2 .drag_wrap li:nth-child(3) .text_box span {
  line-height: 20px;
}
.ema511_07_su_0004 .drag_wrap li.ui-draggable-dragging,
.ema511_07_su_0004 .droppable_bag li.already-dropped {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
}
.ema511_07_su_0004 .drag_wrap li.ui-draggable-dragging .img_box,
.ema511_07_su_0004 .droppable_bag li.already-dropped .img_box {
  width: 100%;
  height: 100%;
}
.ema511_07_su_0004 .drag_wrap li.ui-draggable-dragging .text_box,
.ema511_07_su_0004 .droppable_bag li.already-dropped .text_box {
  display: none;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li {
  display: flex;
  gap: 26px;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li > div,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li > div,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li > div {
  height: 76px;
  border: 1px solid rgba(158, 158, 158, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li.title > div,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li.title > div,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li.title > div {
  height: 52px;
  background-color: rgba(59, 113, 254, 0.3);
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li + li > div,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li + li > div,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li + li > div {
  border-top: 0;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li .quantity,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li .quantity,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li .quantity {
  width: 100px;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li .equation,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li .equation,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li .equation {
  width: 460px;
  gap: 0px;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li .quantity .input_wrap.answer1,
.ema511_07_su_0004 .page_1 .question_wrap .input_area li .quantity .input_wrap.answer1 math-field:not(.textarea),
.ema511_07_su_0004 .page_2 .question_wrap .input_area li .quantity .input_wrap.answer1,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li .quantity .input_wrap.answer1 math-field:not(.textarea),
.ema511_07_su_0004 .page_3 .question_wrap .input_area li .quantity .input_wrap.answer1,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li .quantity .input_wrap.answer1 math-field:not(.textarea){
  width: 100px;
  min-width: 100px;
  height: 76px;
  min-width: 76px;
  background-color: transparent;
  border: none;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li .equation .input_wrap.answer2 math-field:not(.textarea),
.ema511_07_su_0004 .page_2 .question_wrap .input_area li .equation .input_wrap.answer2 math-field:not(.textarea),
.ema511_07_su_0004 .page_3 .question_wrap .input_area li .equation .input_wrap.answer2 math-field:not(.textarea) {
  width: 200px;
}
.ema511_07_su_0004 .page_1 .question_wrap .input_area li > div,
.ema511_07_su_0004 .page_2 .question_wrap .input_area li > div,
.ema511_07_su_0004 .page_3 .question_wrap .input_area li > div {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}
.ema511_07_su_0004 .page_4 .table_box table tr td {
  width: 90px;
  height: 66px;
  border: 1px solid rgba(210, 210, 210, 1);
  text-align: center;
}
.ema511_07_su_0004 .page_4 .table_box table tr td span {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.ema511_07_su_0004 .page_4 .question_box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ema511_07_su_0004 .page_4 .question_box span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}
.ema511_07_su_0004 .page_5 {
  width: 100%;
}
.ema511_07_su_0004 .page_5 .picture_wrap {
  width: 700px;
  max-width: 700px;
  height: 390px;
  border: 2px solid rgba(244, 244, 244, 1);
  border-radius: 20px;
}
.ema511_07_su_0004 .page_5 .input_wrap {
  width: 712px;
}

.ema511_07_su_0004[data-current-page='page_5'] .drop_wrap {
  display: none;
}
.ema511_07_su_0004 .page_5 .input_wrap math-field.textarea {
  height: 330px;
}
.ema511_07_su_0004 .page_6 .input_wrap textarea {
  width: 797px;
  height: 250px;
}
.ema511_07_su_0004:not([data-current-page='page_5'], [data-current-page='page_6']) .btnSubmit {
  display: none;
}
.ema511_07_su_0004[data-current-page='page_5'] .btnCheck,
.ema511_07_su_0004[data-current-page='page_6'] .btnCheck {
  display: none;
}

/*추가*/
.ema511_07_su_0004 .droppable_bag {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 2;
}
.ema511_07_su_0004[data-current-page='page_1'] .droppable_bag img {
  aspect-ratio: unset;
}
.ema511_07_su_0004 .droppable_bag li {
  width: 140px;
  height: 58px;
  background-color: rgba(255, 230, 226, 1);
  border: 0.91px dashed rgba(255, 140, 120, 1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.ema511_07_su_0004 .droppable_bag li .img_box {
  width: 45px;
  height: 45px;
}
.ema511_07_su_0004 .droppable_bag li .text_box {
  min-width: 54px;
  text-align: center;
}
.ema511_07_su_0004 .droppable_bag li .text_box span {
  font-weight: 400;
  font-size: 10.91px;
  line-height: 16.36px;
  letter-spacing: -0.23px;
}

.ema511_07_su_0002 .input_wrap math-field.textarea {
  height: 250px;
}

.ema511_07_su_0003 .input_wrap math-field.textarea {
  height: 250px;
}

.ema511_07_su_0003 .page_2 .answer1 math-field:not(.textarea) {
  width: 564px;
}

.ema511_07_su_0003 .page_3 .answer1 math-field:not(.textarea) {
  width: 242px;
}

.ema511_07_su_0005 .input_wrap math-field.textarea {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.ema511_07_su_0006 .answer1 math-field:not(.textarea) {
  width: 185px;
}

/* 새로운 스타일 추가 */
.ema511_07_su_0003 .page_3 .input_wrap math-field.textarea {
  height: 250px;
  min-height: 80px;
}

