.ema511_su_0004 {
  .tutorial-bg {
    
    width: 100%;
    height: 100%;
  }
  .tutorial-steps {
    position: absolute;
    background: url("../img/EMA511_SU/0011_tutorial_bg.png") center / contain no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    list-style: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
  
  .tutorial-steps {
    .step {
        position: absolute;
        font-size: 32px;
        color: #ffff00;
        line-height: 48px;
        font-weight: 400;
        max-width: 300px;
        pointer-events: none;
        word-break: keep-all;
    }
  }
  .tutorial-steps .step-2 {
    max-width: initial;
  }
  .tutorial-steps .step::before {
    content: attr(data-number);
    position: absolute;
    left: -40px;
  }
  .tutorial-steps .step::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    }
  
  .tutorial-steps .step-1::after {
    top: 23px;
    left: -100px;
    width: 63px;
    height: 84px;
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2263%22%20height%3D%2284%22%20viewBox%3D%220%200%2063%2084%22%20fill%3D%22none%22%3E%20%20%20%3Cg%20clip-path%3D%22url(%23clip0_72_474)%22%3E%20%20%20%20%20%3Cpath%20d%3D%22M60.9931%203.23267C61.8119%203.10721%2062.3741%202.34167%2062.2486%201.5228C62.1231%200.703925%2061.3576%200.141806%2060.5387%200.267268L60.9931%203.23267ZM11.2338%2083.3384C11.8349%2083.9085%2012.7843%2083.8833%2013.3543%2083.2821L22.6436%2073.4862C23.2136%2072.8851%2023.1884%2071.9357%2022.5873%2071.3656C21.9861%2070.7956%2021.0367%2070.8208%2020.4667%2071.4219L12.2096%2080.1294L3.50211%2071.8723C2.90098%2071.3023%201.95157%2071.3275%201.38154%2071.9286C0.811504%2072.5298%200.83671%2073.4792%201.43784%2074.0492L11.2338%2083.3384ZM13.7243%2080.2905C13.711%2079.4622%2013.0287%2078.8015%2012.2003%2078.8149C11.372%2078.8283%2010.7114%2079.5106%2010.7247%2080.3389L13.7243%2080.2905ZM10.7699%2072.5759C10.7461%2073.404%2011.3981%2074.0946%2012.2261%2074.1184C13.0542%2074.1422%2013.7448%2073.4902%2013.7686%2072.6621L10.7699%2072.5759ZM13.9249%2068.8544C13.9692%2068.0272%2013.3345%2067.3206%2012.5073%2067.2763C11.6801%2067.2319%2010.9735%2067.8666%2010.9292%2068.6938L13.9249%2068.8544ZM11.5552%2060.9395C11.4651%2061.763%2012.0597%2062.5036%2012.8833%2062.5936C13.7068%2062.6836%2014.4474%2062.089%2014.5374%2061.2655L11.5552%2060.9395ZM15.0083%2057.492C15.1238%2056.6717%2014.5524%2055.9131%2013.7321%2055.7976C12.9117%2055.6821%2012.1531%2056.2535%2012.0376%2057.0738L15.0083%2057.492ZM13.3869%2049.3897C13.2145%2050.2%2013.7316%2050.9966%2014.5419%2051.169C15.3522%2051.3414%2016.1488%2050.8243%2016.3212%2050.014L13.3869%2049.3897ZM17.1817%2046.324C17.3859%2045.5212%2016.9006%2044.7048%2016.0978%2044.5006C15.2949%2044.2963%2014.4785%2044.7816%2014.2743%2045.5845L17.1817%2046.324ZM16.5311%2038.0936C16.2559%2038.8749%2016.6662%2039.7315%2017.4476%2040.0067C18.2289%2040.2819%2019.0855%2039.8716%2019.3607%2039.0902L16.5311%2038.0936ZM20.7028%2035.5647C21.0174%2034.7983%2020.6512%2033.922%2019.8849%2033.6074C19.1185%2033.2928%2018.2422%2033.659%2017.9276%2034.4254L20.7028%2035.5647ZM21.3204%2027.3241C20.9197%2028.0492%2021.1826%2028.9618%2021.9076%2029.3625C22.6327%2029.7633%2023.5453%2029.5004%2023.9461%2028.7753L21.3204%2027.3241ZM25.8626%2025.555C26.3094%2024.8574%2026.106%2023.9297%2025.4083%2023.4829C24.7107%2023.0362%2023.783%2023.2396%2023.3362%2023.9372L25.8626%2025.555ZM28.0561%2017.5933C27.5145%2018.2202%2027.5837%2019.1675%2028.2107%2019.709C28.8376%2020.2505%2029.7848%2020.1813%2030.3263%2019.5544L28.0561%2017.5933ZM32.8711%2016.8265C33.4593%2016.2431%2033.4631%2015.2934%2032.8797%2014.7052C32.2963%2014.1171%2031.3465%2014.1132%2030.7584%2014.6966L32.8711%2016.8265ZM36.8142%209.57894C36.1405%2010.0611%2035.9852%2010.998%2036.4673%2011.6717C36.9494%2012.3454%2037.8864%2012.5007%2038.5601%2012.0186L36.8142%209.57894ZM41.6772%209.97288C42.3876%209.54655%2042.6178%208.62512%2042.1914%207.91482C41.7651%207.20451%2040.8437%206.9743%2040.1334%207.40063L41.6772%209.97288ZM47.2206%203.87016C46.453%204.18172%2046.0833%205.05656%2046.3949%205.82416C46.7064%206.59177%2047.5813%206.96147%2048.3489%206.64991L47.2206%203.87016ZM51.8666%205.36989C52.6547%205.11471%2053.0868%204.26893%2052.8316%203.48078C52.5764%202.69263%2051.7306%202.26057%2050.9425%202.51575L51.8666%205.36989ZM58.5868%200.596144C57.772%200.746092%2057.2331%201.52813%2057.3831%202.34288C57.533%203.15762%2058.3151%203.69654%2059.1298%203.5466L58.5868%200.596144ZM13.7654%2082.2102C13.7483%2081.5671%2013.7346%2080.9272%2013.7243%2080.2905L10.7247%2080.3389C10.7352%2080.9861%2010.7491%2081.6364%2010.7664%2082.2898L13.7654%2082.2102ZM13.7686%2072.6621C13.8055%2071.3781%2013.8576%2070.1087%2013.9249%2068.8544L10.9292%2068.6938C10.8605%2069.9735%2010.8075%2071.2676%2010.7699%2072.5759L13.7686%2072.6621ZM14.5374%2061.2655C14.6769%2059.9897%2014.8338%2058.7317%2015.0083%2057.492L12.0376%2057.0738C11.8587%2058.345%2011.6979%2059.6337%2011.5552%2060.9395L14.5374%2061.2655ZM16.3212%2050.014C16.5876%2048.7619%2016.8744%2047.5318%2017.1817%2046.324L14.2743%2045.5845C13.957%2046.8316%2013.6613%2048.1001%2013.3869%2049.3897L16.3212%2050.014ZM19.3607%2039.0902C19.7842%2037.8879%2020.2316%2036.7126%2020.7028%2035.5647L17.9276%2034.4254C17.4364%2035.6217%2016.971%2036.8447%2016.5311%2038.0936L19.3607%2039.0902ZM23.9461%2028.7753C24.5574%2027.6692%2025.1963%2026.5956%2025.8626%2025.555L23.3362%2023.9372C22.6341%2025.0337%2021.9622%2026.1629%2021.3204%2027.3241L23.9461%2028.7753ZM30.3263%2019.5544C31.144%2018.6079%2031.9922%2017.6984%2032.8711%2016.8265L30.7584%2014.6966C29.8239%2015.6236%2028.9232%2016.5894%2028.0561%2017.5933L30.3263%2019.5544ZM38.5601%2012.0186C39.5672%2011.2979%2040.6062%2010.6158%2041.6772%209.97288L40.1334%207.40063C38.9933%208.0849%2037.8869%208.81127%2036.8142%209.57894L38.5601%2012.0186ZM48.3489%206.64991C49.4911%206.18628%2050.6636%205.75936%2051.8666%205.36989L50.9425%202.51575C49.6718%202.92717%2048.4311%203.37882%2047.2206%203.87016L48.3489%206.64991ZM59.1298%203.5466C59.7441%203.43353%2060.3652%203.32886%2060.9931%203.23267L60.5387%200.267268C59.8816%200.367946%2059.231%200.477588%2058.5868%200.596144L59.1298%203.5466Z%22%20fill%3D%22%23FFFF00%22%2F%3E%20%20%20%3C%2Fg%3E%20%20%20%3Cdefs%3E%20%20%20%20%20%3CclipPath%20id%3D%22clip0_72_474%22%3E%20%20%20%20%20%20%20%3Crect%20width%3D%2263%22%20height%3D%2284%22%20fill%3D%22white%22%2F%3E%20%20%20%20%20%3C%2FclipPath%3E%20%20%20%3C%2Fdefs%3E%20%3C%2Fsvg%3E");
    }
  .tutorial-steps .step-2::after {
    top: 12px;
    left: -83px;
    width: 43px;
    height: 34px;
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2238%22%20height%3D%2223%22%20viewBox%3D%220%200%2038%2023%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M35.9996%2012.5704C36.8281%2012.5706%2037.4998%2011.8992%2037.5%2011.0707C37.5002%2010.2423%2036.8288%209.57056%2036.0004%209.57036L35.9996%2012.5704ZM0.939366%2010.0057C0.353565%2010.5915%200.353542%2011.5412%200.939314%2012.127L10.485%2021.6732C11.0708%2022.259%2012.0205%2022.259%2012.6063%2021.6733C13.1921%2021.0875%2013.1922%2020.1377%2012.6064%2019.5519L4.12132%2011.0665L12.6068%202.58138C13.1926%201.99561%2013.1926%201.04586%2012.6069%200.460061C12.0211%20-0.12574%2011.0713%20-0.125763%2010.4855%200.460009L0.939366%2010.0057ZM3.91918%2012.5665C4.74761%2012.5665%205.4192%2011.8949%205.41921%2011.0665C5.41923%2010.2381%204.74768%209.56647%203.91925%209.56645L3.91918%2012.5665ZM11.4644%209.56661C10.636%209.5666%209.9644%2010.2382%209.96439%2011.0666C9.96437%2011.895%2010.6359%2012.5666%2011.4644%2012.5666L11.4644%209.56661ZM15.2364%2012.5667C16.0648%2012.5667%2016.7364%2011.8951%2016.7364%2011.0667C16.7365%2010.2383%2016.0649%209.5667%2015.2365%209.56668L15.2364%2012.5667ZM22.7838%209.56689C21.9554%209.56683%2021.2837%2010.2384%2021.2837%2011.0668C21.2836%2011.8952%2021.9552%2012.5668%2022.7836%2012.5669L22.7838%209.56689ZM26.5504%2012.5676C27.3789%2012.5679%2028.0507%2011.8965%2028.0509%2011.0681C28.0512%2010.2397%2027.3799%209.56787%2026.5514%209.56759L26.5504%2012.5676ZM34.0953%209.56987C33.2669%209.56966%2032.5951%2010.2411%2032.5949%2011.0695C32.5947%2011.8979%2033.2661%2012.5697%2034.0945%2012.5699L34.0953%209.56987ZM1.99996%2012.5664C2.65965%2012.5664%203.29916%2012.5664%203.91918%2012.5665L3.91925%209.56645C3.29923%209.56644%202.65973%209.56642%202.00004%209.5664L1.99996%2012.5664ZM11.4644%2012.5666C12.8711%2012.5666%2014.1214%2012.5667%2015.2364%2012.5667L15.2365%209.56668C14.1215%209.56666%2012.8712%209.56664%2011.4644%209.56661L11.4644%2012.5666ZM22.7836%2012.5669C24.6116%2012.567%2025.3533%2012.5672%2026.5504%2012.5676L26.5514%209.56759C25.3541%209.56718%2024.6121%209.567%2022.7838%209.56689L22.7836%2012.5669ZM34.0945%2012.5699C34.6824%2012.57%2035.3158%2012.5702%2035.9996%2012.5704L36.0004%209.57036C35.3166%209.57019%2034.6832%209.57003%2034.0953%209.56987L34.0945%2012.5699Z%22%20fill%3D%22%23FFFF00%22%2F%3E%20%3C%2Fsvg%3E");
    }
  .tutorial-steps .step-3::after {
    top: 23px;
    left: -174px;
    width: 132px;
    height: 71px;
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22145%22%20height%3D%2274%22%20viewBox%3D%220%200%20145%2074%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M142.952%203.49965C143.78%203.52659%20144.473%202.87721%20144.5%202.04922C144.527%201.22124%20143.877%200.528179%20143.049%200.50124L142.952%203.49965ZM11.3348%2073.3889C11.9614%2073.9309%2012.9086%2073.8624%2013.4506%2073.2359L22.2833%2063.0263C22.8253%2062.3998%2022.7568%2061.4525%2022.1303%2060.9105C21.5037%2060.3685%2020.5565%2060.437%2020.0145%2061.0635L12.1633%2070.1387L3.08809%2062.2875C2.46158%2061.7454%201.51431%2061.8139%200.972296%2062.4404C0.430283%2063.067%200.498781%2064.0142%201.12529%2064.5562L11.3348%2073.3889ZM13.6782%2070.1108C13.6292%2069.2838%2012.9191%2068.6531%2012.0921%2068.7021C11.2651%2068.7511%2010.6344%2069.4612%2010.6834%2070.2882L13.6782%2070.1108ZM10.4635%2061.9609C10.454%2062.7893%2011.1178%2063.4685%2011.9462%2063.478C12.7746%2063.4874%2013.4538%2062.8236%2013.4633%2061.9952L10.4635%2061.9609ZM13.6027%2057.9564C13.6517%2057.1294%2013.0209%2056.4193%2012.1939%2056.3704C11.367%2056.3215%2010.6569%2056.9522%2010.608%2057.7792L13.6027%2057.9564ZM11.5943%2049.4283C11.444%2050.243%2011.9827%2051.0252%2012.7974%2051.1754C13.6121%2051.3256%2014.3943%2050.7869%2014.5445%2049.9722L11.5943%2049.4283ZM15.4152%2046.0707C15.6269%2045.2698%2015.1492%2044.4489%2014.3483%2044.2372C13.5474%2044.0255%2012.7265%2044.5031%2012.5148%2045.304L15.4152%2046.0707ZM15.382%2037.3222C15.0322%2038.0731%2015.3573%2038.9655%2016.1082%2039.3153C16.8591%2039.6652%2017.7515%2039.3401%2018.1014%2038.5892L15.382%2037.3222ZM19.946%2035.0826C20.3669%2034.3691%2020.1298%2033.4494%2019.4163%2033.0284C18.7028%2032.6075%2017.7831%2032.8447%2017.3621%2033.5582L19.946%2035.0826ZM22.3735%2026.696C21.8229%2027.3149%2021.8783%2028.2631%2022.4973%2028.8137C23.1163%2029.3643%2024.0644%2029.3088%2024.615%2028.6899L22.3735%2026.696ZM27.39%2025.8444C27.9944%2025.2778%2028.025%2024.3285%2027.4584%2023.7242C26.8918%2023.1198%2025.9425%2023.0892%2025.3381%2023.6558L27.39%2025.8444ZM31.9557%2018.3999C31.2694%2018.8639%2031.0892%2019.7964%2031.5532%2020.4827C32.0171%2021.169%2032.9496%2021.3492%2033.6359%2020.8852L31.9557%2018.3999ZM37.03%2018.7562C37.7459%2018.3392%2037.9882%2017.4209%2037.5713%2016.7051C37.1544%2015.9892%2036.2361%2015.7468%2035.5202%2016.1638L37.03%2018.7562ZM43.0025%2012.3718C42.2445%2012.706%2041.9009%2013.5915%2042.2352%2014.3495C42.5695%2015.1075%2043.4549%2015.451%2044.2129%2015.1168L43.0025%2012.3718ZM47.9674%2013.5668C48.7402%2013.2682%2049.1246%2012.3997%2048.826%2011.627C48.5275%2010.8542%2047.659%2010.4698%2046.8863%2010.7684L47.9674%2013.5668ZM54.7525%208.08668C53.959%208.3247%2053.5087%209.16091%2053.7467%209.95441C53.9848%2010.7479%2054.821%2011.1982%2055.6145%2010.9602L54.7525%208.08668ZM59.5346%209.85492C60.3354%209.64289%2060.8127%208.8218%2060.6007%208.02096C60.3887%207.22013%2059.5676%206.74281%2058.7667%206.95485L59.5346%209.85492ZM66.8409%205.06215C66.0296%205.22966%2065.5077%206.02316%2065.6752%206.83448C65.8427%207.64579%2066.6362%208.16769%2067.4475%208.00017L66.8409%205.06215ZM71.4797%207.21842C72.2948%207.07027%2072.8355%206.28943%2072.6873%205.47436C72.5392%204.65929%2071.7583%204.11863%2070.9433%204.26677L71.4797%207.21842ZM79.1064%202.96022C78.2859%203.07491%2077.7138%203.83299%2077.8285%204.65344C77.9432%205.47389%2078.7013%206.04602%2079.5217%205.93133L79.1064%202.96022ZM83.5804%205.40153C84.4028%205.30155%2084.9884%204.55384%2084.8884%203.73147C84.7884%202.90909%2084.0407%202.32348%2083.2184%202.42346L83.5804%205.40153ZM91.4473%201.55801C90.6222%201.63202%2090.0133%202.3609%2090.0873%203.18601C90.1613%204.01113%2090.8902%204.62002%2091.7153%204.54602L91.4473%201.55801ZM95.7788%204.21042C96.6049%204.14791%2097.2239%203.42757%2097.1614%202.60151C97.0989%201.77544%2096.3785%201.15646%2095.5525%201.21897L95.7788%204.21042ZM103.809%200.700456C102.982%200.742281%20102.345%201.4469%20102.387%202.27427C102.429%203.10164%20103.133%203.73845%20103.961%203.69663L103.809%200.700456ZM108.035%203.51373C108.863%203.48116%20109.508%202.7837%20109.475%201.95591C109.443%201.12813%20108.745%200.483478%20107.918%200.516053L108.035%203.51373ZM116.162%200.277232C115.334%200.292995%20114.675%200.977225%20114.691%201.8055C114.706%202.63378%20115.391%203.29245%20116.219%203.27669L116.162%200.277232ZM120.37%203.21729C121.199%203.20927%20121.864%202.53123%20121.856%201.70284C121.848%200.87445%20121.169%200.209412%20120.341%200.217434L120.37%203.21729ZM128.55%200.208153C127.722%200.202275%20127.046%200.869065%20127.04%201.69747C127.034%202.52588%20127.701%203.2022%20128.529%203.20808L128.55%200.208153ZM132.673%203.25382C133.501%203.26617%20134.183%202.60468%20134.195%201.77634C134.207%200.948009%20133.546%200.2665%20132.717%200.254152L132.673%203.25382ZM140.939%200.436171C140.111%200.412057%20139.42%201.0638%20139.396%201.89187C139.372%202.71995%20140.024%203.41079%20140.852%203.4349L140.939%200.436171ZM13.8123%2072.1463C13.7632%2071.4666%2013.7183%2070.788%2013.6782%2070.1108L10.6834%2070.2882C10.7243%2070.9792%2010.7701%2071.6708%2010.8202%2072.3626L13.8123%2072.1463ZM13.4633%2061.9952C13.4788%2060.6386%2013.5237%2059.2918%2013.6027%2057.9564L10.608%2057.7792C10.5259%2059.1662%2010.4795%2060.5608%2010.4635%2061.9609L13.4633%2061.9952ZM14.5445%2049.9722C14.7874%2048.655%2015.076%2047.354%2015.4152%2046.0707L12.5148%2045.304C12.155%2046.6652%2011.8501%2048.0408%2011.5943%2049.4283L14.5445%2049.9722ZM18.1014%2038.5892C18.6554%2037.4001%2019.2686%2036.2307%2019.946%2035.0826L17.3621%2033.5582C16.6343%2034.7918%2015.9761%2036.0472%2015.382%2037.3222L18.1014%2038.5892ZM24.615%2028.6899C25.4762%2027.7218%2026.3998%2026.7728%2027.39%2025.8444L25.3381%2023.6558C24.2827%2024.6454%2023.2957%2025.6592%2022.3735%2026.696L24.615%2028.6899ZM33.6359%2020.8852C34.7113%2020.1582%2035.8417%2019.4482%2037.03%2018.7562L35.5202%2016.1638C34.2758%2016.8885%2033.0884%2017.6341%2031.9557%2018.3999L33.6359%2020.8852ZM44.2129%2015.1168C45.4182%2014.5853%2046.6691%2014.0684%2047.9674%2013.5668L46.8863%2010.7684C45.546%2011.2862%2044.2519%2011.8208%2043.0025%2012.3718L44.2129%2015.1168ZM55.6145%2010.9602C56.8839%2010.5794%2058.1902%2010.2109%2059.5346%209.85492L58.7667%206.95485C57.3919%207.31886%2056.0542%207.69624%2054.7525%208.08668L55.6145%2010.9602ZM67.4475%208.00017C68.7605%207.72908%2070.1043%207.4684%2071.4797%207.21842L70.9433%204.26677C69.5451%204.52089%2068.1779%204.78609%2066.8409%205.06215L67.4475%208.00017ZM79.5217%205.93133C80.8487%205.74584%2082.2014%205.56918%2083.5804%205.40153L83.2184%202.42346C81.8221%202.59321%2080.4515%202.77219%2079.1064%202.96022L79.5217%205.93133ZM91.7153%204.54602C93.0477%204.42651%2094.4021%204.3146%2095.7788%204.21042L95.5525%201.21897C94.1622%201.32418%2092.7939%201.43723%2091.4473%201.55801L91.7153%204.54602ZM103.961%203.69663C105.3%203.62894%20106.658%203.56794%20108.035%203.51373L107.918%200.516053C106.529%200.570694%20105.16%200.632193%20103.809%200.700456L103.961%203.69663ZM116.219%203.27669C117.585%203.25069%20118.969%203.23086%20120.37%203.21729L120.341%200.217434C118.93%200.231094%20117.537%200.251054%20116.162%200.277232L116.219%203.27669ZM128.529%203.20808C129.894%203.21777%20131.276%203.23299%20132.673%203.25382L132.717%200.254152C131.313%200.23321%20129.924%200.217898%20128.55%200.208153L128.529%203.20808ZM140.852%203.4349C141.548%203.45518%20142.248%203.47676%20142.952%203.49965L143.049%200.50124C142.342%200.478234%20141.639%200.456547%20140.939%200.436171L140.852%203.4349Z%22%20fill%3D%22%23FFFF00%22%2F%3E%20%3C%2Fsvg%3E");
    }
  .tutorial-steps .step-4::after {
    top: -7px;
    left: -94px;
    width: 53px;
    height: 39px;
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2253%22%20height%3D%2237%22%20viewBox%3D%220%200%2053%2037%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M51.0007%2034C51.8291%2034%2052.5007%2034.6716%2052.5007%2035.5C52.5007%2036.3284%2051.8291%2037%2051.0007%2037L51.0007%2034ZM12.229%200.755702C12.9165%200.293523%2013.8485%200.476196%2014.3107%201.16372L21.8423%2012.3675C22.3045%2013.055%2022.1218%2013.987%2021.4343%2014.4492C20.7468%2014.9114%2019.8148%2014.7287%2019.3526%2014.0412L12.6578%204.08228L2.6989%2010.7771C2.01138%2011.2393%201.07937%2011.0566%200.617187%2010.3691C0.155008%209.68154%200.337681%208.74953%201.0252%208.28735L12.229%200.755702ZM14.15%204.38744C14.0087%205.20372%2013.2324%205.7509%2012.4162%205.60959C11.5999%205.46828%2011.0527%204.69199%2011.194%203.87571L14.15%204.38744ZM10.2004%2012.5739C10.2359%2011.7463%2010.9358%2011.1042%2011.7634%2011.1398C12.5911%2011.1754%2013.2332%2011.8752%2013.1976%2012.7028L10.2004%2012.5739ZM13.2251%2016.8336C13.2775%2017.6604%2012.6497%2018.3731%2011.8229%2018.4254C10.9961%2018.4778%2010.2834%2017.85%2010.2311%2017.0232L13.2251%2016.8336ZM12.3429%2025.8716C11.9816%2025.1261%2012.293%2024.2289%2013.0384%2023.8675C13.7839%2023.5062%2014.6812%2023.8176%2015.0425%2024.5631L12.3429%2025.8716ZM17.1895%2027.7265C17.7532%2028.3335%2017.7181%2029.2826%2017.1111%2029.8463C16.5041%2030.4101%2015.555%2030.375%2014.9912%2029.7679L17.1895%2027.7265ZM22.8468%2034.5974C22.0623%2034.3313%2021.6421%2033.4795%2021.9082%2032.695C22.1744%2031.9105%2023.0261%2031.4903%2023.8106%2031.7564L22.8468%2034.5974ZM27.7601%2032.7848C28.5731%2032.9439%2029.1032%2033.732%2028.9441%2034.545C28.785%2035.358%2027.9969%2035.8881%2027.1839%2035.729L27.7601%2032.7848ZM35.9%2036.7366C35.0729%2036.6889%2034.4411%2035.9797%2034.4888%2035.1527C34.5365%2034.3256%2035.2457%2033.6938%2036.0727%2033.7415L35.9%2036.7366ZM40.3102%2033.913C41.1384%2033.9346%2041.7922%2034.6235%2041.7706%2035.4516C41.749%2036.2797%2041.0602%2036.9336%2040.232%2036.912L40.3102%2033.913ZM48.8509%2036.9994C48.0224%2036.9987%2047.3514%2036.3265%2047.3522%2035.4981C47.3529%2034.6697%2048.025%2033.9987%2048.8535%2033.9994L48.8509%2036.9994ZM14.5378%202.28907C14.3976%203.00465%2014.2684%203.70398%2014.15%204.38744L11.194%203.87571C11.3163%203.1695%2011.4495%202.44839%2011.5938%201.71206L14.5378%202.28907ZM13.1976%2012.7028C13.1338%2014.1864%2013.1445%2015.5606%2013.2251%2016.8336L10.2311%2017.0232C10.143%2015.6319%2010.1326%2014.1506%2010.2004%2012.5739L13.1976%2012.7028ZM15.0425%2024.5631C15.6313%2025.7777%2016.35%2026.8224%2017.1895%2027.7265L14.9912%2029.7679C13.9436%2028.6398%2013.0579%2027.3466%2012.3429%2025.8716L15.0425%2024.5631ZM23.8106%2031.7564C25.0244%2032.1682%2026.3413%2032.5071%2027.7601%2032.7848L27.1839%2035.729C25.659%2035.4305%2024.2096%2035.0597%2022.8468%2034.5974L23.8106%2031.7564ZM36.0727%2033.7415C37.4348%2033.8201%2038.8479%2033.8749%2040.3102%2033.913L40.232%2036.912C38.7458%2036.8732%2037.3004%2036.8173%2035.9%2036.7366L36.0727%2033.7415ZM48.8535%2033.9994C49.5614%2034%2050.277%2034%2051.0007%2034L51.0007%2037C50.2773%2037%2049.5604%2037%2048.8509%2036.9994L48.8535%2033.9994Z%22%20fill%3D%22%23FFFF00%22%2F%3E%20%3C%2Fsvg%3E");
    }
  .tutorial-steps .step-5::after {
    top: -63px;
    left: -30px;
    width: 86px;
    height: 77px;
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2266%22%20height%3D%2262%22%20viewBox%3D%220%200%2066%2062%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M3.48979%2060.334C3.58654%2061.1568%202.99799%2061.9022%202.17523%2061.999C1.35247%2062.0957%200.607066%2061.5072%200.510318%2060.6844L3.48979%2060.334ZM64.6596%205.9528C65.4182%206.28567%2065.7633%207.17049%2065.4305%207.9291L60.006%2020.2914C59.6732%2021.05%2058.7883%2021.3951%2058.0297%2021.0622C57.2711%2020.7294%2056.926%2019.8445%2057.2589%2019.0859L62.0806%208.09725L51.0919%203.27553C50.3333%202.94266%2049.9882%202.05784%2050.321%201.29923C50.6539%200.540622%2051.5387%200.195492%2052.2973%200.528363L64.6596%205.9528ZM62.6844%209.47812C61.9144%209.7836%2061.0425%209.407%2060.737%208.63695C60.4315%207.86691%2060.8081%206.99502%2061.5782%206.68953L62.6844%209.47812ZM53.9005%209.84646C54.6624%209.52134%2055.5437%209.87548%2055.8688%2010.6374C56.1939%2011.3994%2055.8398%2012.2807%2055.0778%2012.6058L53.9005%209.84646ZM51.3067%2014.2471C50.5496%2014.5834%2049.6633%2014.2422%2049.327%2013.4851C48.9907%2012.728%2049.3319%2011.8416%2050.089%2011.5054L51.3067%2014.2471ZM42.5428%2015.0067C43.2881%2014.6449%2044.1855%2014.9557%2044.5474%2015.7009C44.9092%2016.4461%2044.5985%2017.3436%2043.8532%2017.7054L42.5428%2015.0067ZM40.1831%2019.5321C39.4452%2019.9087%2038.5417%2019.6159%2038.1651%2018.878C37.7885%2018.1401%2038.0813%2017.2367%2038.8192%2016.86L40.1831%2019.5321ZM31.4783%2020.8212C32.1973%2020.4099%2033.1137%2020.6593%2033.5251%2021.3784C33.9365%2022.0975%2033.687%2023.0139%2032.9679%2023.4252L31.4783%2020.8212ZM29.4507%2025.5036C28.7438%2025.9355%2027.8205%2025.7125%2027.3886%2025.0056C26.9567%2024.2987%2027.1797%2023.3755%2027.8866%2022.9436L29.4507%2025.5036ZM20.8929%2027.5513C21.567%2027.0698%2022.5038%2027.2259%2022.9854%2027.9C23.4669%2028.5741%2023.3108%2029.5109%2022.6367%2029.9925L20.8929%2027.5513ZM19.3833%2032.4268C18.7318%2032.9385%2017.7889%2032.8252%2017.2772%2032.1737C16.7655%2031.5222%2016.8788%2030.5793%2017.5303%2030.0676L19.3833%2032.4268ZM11.1941%2035.6484C11.7796%2035.0624%2012.7293%2035.0619%2013.3154%2035.6474C13.9014%2036.233%2013.9019%2037.1827%2013.3163%2037.7688L11.1941%2035.6484ZM10.5965%2040.7108C10.0599%2041.342%209.11326%2041.4187%208.48208%2040.8821C7.8509%2040.3455%207.77419%2039.3989%208.31075%2038.7677L10.5965%2040.7108ZM3.45925%2045.8464C3.84333%2045.1124%204.74972%2044.8287%205.48373%2045.2128C6.21774%2045.5968%206.50142%2046.5032%206.11734%2047.2372L3.45925%2045.8464ZM4.56161%2050.819C4.29098%2051.6019%203.43686%2052.0173%202.65389%2051.7467C1.87091%2051.476%201.45558%2050.6219%201.72621%2049.8389L4.56161%2050.819ZM0.35304%2058.4861C0.332009%2057.6579%200.986317%2056.9695%201.81448%2056.9485C2.64264%2056.9274%203.33104%2057.5818%203.35207%2058.4099L0.35304%2058.4861ZM64.602%208.72384C63.9608%208.97392%2063.3216%209.22535%2062.6844%209.47812L61.5782%206.68953C62.2208%206.4346%2062.8654%206.18107%2063.5118%205.92893L64.602%208.72384ZM55.0778%2012.6058C53.8087%2013.1473%2052.5512%2013.6944%2051.3067%2014.2471L50.089%2011.5054C51.3475%2010.9465%2052.6184%2010.3935%2053.9005%209.84646L55.0778%2012.6058ZM43.8532%2017.7054C42.6117%2018.3082%2041.3878%2018.9171%2040.1831%2019.5321L38.8192%2016.86C40.0425%2016.2356%2041.2842%2015.6179%2042.5428%2015.0067L43.8532%2017.7054ZM32.9679%2023.4252C31.7687%2024.1113%2030.5956%2024.8041%2029.4507%2025.5036L27.8866%2022.9436C29.0574%2022.2283%2030.2553%2021.5208%2031.4783%2020.8212L32.9679%2023.4252ZM22.6367%2029.9925C21.5114%2030.7963%2020.4261%2031.6078%2019.3833%2032.4268L17.5303%2030.0676C18.6112%2029.2186%2019.733%2028.3799%2020.8929%2027.5513L22.6367%2029.9925ZM13.3163%2037.7688C12.3448%2038.7412%2011.4371%2039.7219%2010.5965%2040.7108L8.31075%2038.7677C9.20748%2037.7129%2010.1702%2036.6731%2011.1941%2035.6484L13.3163%2037.7688ZM6.11734%2047.2372C5.49721%2048.4224%204.97733%2049.6162%204.56161%2050.819L1.72621%2049.8389C2.19402%2048.4855%202.77471%2047.1546%203.45925%2045.8464L6.11734%2047.2372ZM3.35207%2058.4099C3.36825%2059.0469%203.41385%2059.6882%203.48979%2060.334L0.510318%2060.6844C0.42372%2059.948%200.371554%2059.2151%200.35304%2058.4861L3.35207%2058.4099Z%22%20fill%3D%22%23FFFF00%22%2F%3E%20%3C%2Fsvg%3E");
    }
  .step-1 { top: 114px; left: 563px; }
  .step-2 { top: 679px; left: 750px; }
  .step-3 { top: 120px; left: 1015px; }
  .step-4 { top: 610px; left: 970px; }
  .step-5 { top: 317px; left: 503px; }



  
    section.title.type2 + section.contents {
        padding-top: 20px;
    }
    section.contents {
        > .flex {
            width: 1384px;
            margin: 0 auto;
        }
        .col.left.bingo_board {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 26.05px;
            width: 100%;
            height: 566px;
            background: url("../img/EMA511_SU/0011_bg.png") center / contain no-repeat;
            .bingo_toggle {
                padding-top: 16px;
                display: flex;
                align-items: center;
                gap: 20px;
                span {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -0.5px;
                    color: white;
                }
            }
            .toggle-wrapper {
                display: inline-block;
            }

            .toggle-input {
                display: none;
            }

            .toggle-label {
                display: inline-block;
                width: 80px;
                height: 40px;
                min-height: initial;
                background-color: #4ec7b5;
                border-radius: 20px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .toggle-label::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 36px;
                height: 36px;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: left 0.3s;
            }

            .toggle-input:checked + .toggle-label {
                background-color: #6ad1be;
            }

            .toggle-input:checked + .toggle-label::before {
                left: 42px;
            }
        }
        .btn_grid {
            margin-top: 12px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 22px;
            height: 429px;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--bg-default);
                border: 2px solid var(--stroke-default);
                color: #222;
                border-radius: 12px;
                position: relative;
                width: 94px;
                height: 91px;
                .num {
                    position: relative;
                    font-size: 44px;
                    line-height: 64px;
                    letter-spacing: -1px;
                    text-align: center;
                    z-index: 1;
                }
                .num[readonly] {
                    cursor: pointer;
                }
            }
            li.marked::before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                content: "";
                width: 80px;
                height: 80px;
                background: url("../img/EMA511_SU/0011_bingo.png") center / contain no-repeat;
            }
            li:has(.num) {
                border-width: 2px;
                border-color: var(--btn-default);
            }
            li:has(.num[readonly]) {
                cursor: pointer;
            }
            .reveal_btn {
                padding: initial;
                border: initial;
                width: 90px;
                min-width: initial;
                z-index: 10;
            }
            .reveal_btn::before {
                all: unset;
            }
            .reveal_btn:not(:disabled):after {
                width: 56px;
                height: 64px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
            }
        }
        .col.right {
            flex: none;
            width: 780px;
            .card_group {
                height: 392px;
                padding-top: 80px;
                padding-bottom: 40px;
                display: flex;
                align-items: center;
                gap: 51.67px;
                .card_back {
                    padding: 0;
                    width: 150px;
                    height: 205px;
                    background: url("../img/EMA511_SU/0011_card_back.png") center / contain no-repeat;
                    filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.12));
                    /* border:1px solid red; */
                    color: var(--bg-default);
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -0.1px;
                    vertical-align: middle;
                    border-radius: initial;;
                }
                ul.card_num_wrap {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    li.card_num {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 180px;
                        height: 250px;
                        border: 4px solid var(--btn-default);
                        border-radius: 10px;
                        background-color: var(--bg-default);
                        box-shadow: -2px -2px 20px 0px rgba(0, 0, 0, 0.05) inset, 2px 2px 20px 0px rgba(0, 0, 0, 0.05) inset;
                        span {
                            font-size: 75px;
                            font-weight: 700;
                            letter-spacing: -1px;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .calculation_wrap {
                padding: 10px 30px 14px 30px;
                background-color: var(--primary-blue-100);
                border-radius: 12px;
                h3 {
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 48px;
                    letter-spacing: -1px;
                    position: relative;
                    padding-left: 40px;
                }

                h3::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 32px;
                    height: 32px;
                    background: url("../img/EMA511_SU/0011_calculation.png") no-repeat;
                    background-size: contain;
                }

                math-field {
                    width: 80px;
                    height: 60px;
                    border: 2px solid var(--stroke-default);
                    border-radius: 8px;
                    padding: 0 12px;
                    font-size: 32px;
                    line-height: 48px;
                    letter-spacing: -1px;
                    text-align: center;
                }

                .input_area {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 20px;

                    .input_wrap:first-child {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        math-field {
                            width: 80px;
                            height: 60px;
                        }
                    }

                    .equal {
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 48px;
                        letter-spacing: -1px;
                    }

                    .input_wrap:last-child {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        math-field {
                            width: 80px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
    .dot {
    }
    .gap_100 {
        gap: 100px;
    }
    .device_change_wrap {
        position: absolute;
        top: 30px;
        right: 40px;
        .device_change {
            background-color: var(--secondary-red);
        }
    }
    .btn_area {
        .ready_btn_wrap {
            display: flex;
            justify-content: flex-end;
            margin-right: 685px;
        }
    }
    .device_change, .ready {
        box-shadow: 0 8px 24px 0px rgba(0, 0, 0, 0.12);
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
