/* EMA522_03_SU_0002_s  */
/* .ema522_04_su_0002 { */
.ema522_04_su_0002 .video_wrap {
    position: relative;

}

.ema522_04_su_0002 .video_wrap img {
    width: auto;
    max-width: none;
    height: 100%;
}

.ema522_04_su_0002 .video_wrap .svg {
    position: absolute;
    right: 188px;
    top: 2px;
    width: 218px;
    height: 140px;
    text-align: center;
    padding-top: 24px;
    z-index: 1;
    background: url(../img/EMA522_04_SU/0002_img01_1.png) no-repeat 0 / 100%;
}

.ema522_04_su_0002 .input_wrap {
    width: 100%;
}

/* } */

/* .ema522_03_su_0003 */
/* .ema522_04_su_0003 { */
/* .ema522_04_su_0003 .page_1 { */
.ema522_04_su_0003 .page_1 .input_wrap math-field:not(.textarea) {
    width: 300px;
    height: 112px;
}

.ema522_04_su_0003 .page_1 .img_area {
    position: relative;
    width: 961px;
    height: 210px;
    flex: none;
    margin: auto;
}

.ema522_04_su_0003 .page_1 .img_area>.flex:nth-last-child(1) {
    position: absolute;
    top: 65px;
    left: 570px;
    width: 212px;
}

.ema522_04_su_0003 .page_1 .img_area>.flex:nth-last-child(2) {
    position: absolute;
    top: 78px;
    left: 190px;
    width: 280px;
}

/* } */

/* .ema522_04_su_0003 .page_2 { */
.ema522_04_su_0003 .page_2 .input_wrap math-field:not(.textarea) {
    max-width: 80px;
}

.ema522_04_su_0003 .page_2 .boolean-counts {
    position: relative;
    width: 1110px;
    height: 426px;
    background: url(../img/EMA522_04_SU/0003_img02.png) no-repeat 0 / 100%;
}

.ema522_04_su_0003 .page_2 .boolean-counts .boolean_count_wrap {
    position: absolute;
    left: 161px;
    top: 155px;
    border: none;
    gap: 2px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .boolean_count_wrap.col button:not(:first-child)::before {
    height: 2px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .boolean_count_wrap button {
    width: 94px;
    height: 35px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .boolean_count_wrap butto.selected {
    background-color: #5f5f5f;
}

.ema522_04_su_0003 .page_2 .boolean-counts .boolean_count_wrap button:not(:first-child)::before {
    width: 2px;
    background-image: repeating-linear-gradient(to bottom, #7e7e7e, #2b2b2b 3px, transparent 3px, transparent 5px);
    position: absolute;
    top: 0;
    left: -3px;
}


.ema522_04_su_0003 .page_2 .boolean-counts .abs_1 {
    position: absolute;
    top: 140px;
    left: 30px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .abs_2 {
    position: absolute;
    top: 50px;
    left: 870px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .abs_3 {
    position: absolute;
    top: 48px;
    left: 152px;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 110px 84px;
    width: 600px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .abs_4 {
    position: absolute;
    bottom: 10px;
    right: -150px;
    background: url(../img/EMA522_04_SU/0003_img03.png) no-repeat 0 / 100%;
    width: 300px;
    height: 230px;
}

.ema522_04_su_0003 .page_2 .boolean-counts .abs_4 .balloon {
    position: absolute;
    bottom: 70px;
    left: -40px;
    background: url(../img/EMA522_04_SU/0003_img03_1.png) no-repeat 0 / 100%;
    width: 204px;
    height: 174px;
    padding-top: 30px;
    padding-right: 11px;
}

/* } */

/* .ema522_04_su_0003 .page_3 { */
.ema522_04_su_0003 .page_3 .picture_wrap {
    flex: 0 0 auto;
    width: 812px;
    position: relative;
}

.ema522_04_su_0003 .page_3 .svg {
    position: absolute;
    right: 219px;
    top: -3px;
    width: 218px;
    height: 140px;
    text-align: center;
    padding-top: 24px;
    z-index: 1;
    background: url(../img/EMA522_04_SU/0002_img01_1.png) no-repeat 0 / 100%;
}

/* .ema522_03_su_0004 */
/* .ema522_04_su_0004 { */
.video_wrap img {
    width: auto;
    max-width: none;
    height: 100%;
}

.ema522_04_su_0004 .input_wrap,
.ema522_04_su_0004 .input_wrap math-field:not(.textarea) {
    min-width: 80px;
    width: 80px;
}

.ema522_04_su_0004 .page_1 h3 .flex {
    margin-top: -12px;
}

/* } */

.ema522_04_su_0004 .page_1 .box,
.ema522_04_su_0004 .page_2 .box {
    position: relative;
    width: 466px;
    height: 427px;
    margin-left: 170px;
}

.ema522_04_su_0004 .page_1 .box .abs_1,
.ema522_04_su_0004 .page_2 .box .abs_1 {
    position: absolute;
    top: 20px;
    left: 110px;
    gap: 161px;
}

.ema522_04_su_0004 .page_1 .box .abs_2 {
    position: absolute;
    top: 152px;
    left: 118px;
}

.ema522_04_su_0004 .page_2 .box .abs_2 {
    position: absolute;
    top: 112px;
    left: 148px;
}

.ema522_04_su_0004 .page_1 .box .abs_3 {
    position: absolute;
    top: 69px;
    left: 13px;
}

.ema522_04_su_0004 .page_2 .box .abs_3 {
    position: absolute;
    top: 339px;
    left: 13px;
}

.ema522_04_su_0004 .page_1 .box .abs_4 {
    position: absolute;
    top: 152px;
    left: 291px;
}

.ema522_04_su_0004 .page_2 .box .abs_4 {
    position: absolute;
    top: 180px;
    left: 340px;
}

.ema522_04_su_0004 .page_1 .box .abs_5 {
    position: absolute;
    top: 361px;
    left: 110px;
    gap: 161px;
}

.ema522_04_su_0004 .page_2 .box .abs_5 {
    position: absolute;
    top: 276px;
    left: 110px;
    gap: 161px;
}

.ema522_04_su_0004 .page_1 .box .abs_6 {
    position: absolute;
    top: 332px;
    left: 149px;
}

.ema522_04_su_0004 .page_2 .box .abs_6 {
    position: absolute;
    top: 362px;
    left: 204px;
}

.ema522_04_su_0004 .page_1 .box .abs_7,
.ema522_04_su_0004 .page_2 .box .abs_7 {
    position: absolute;
    top: 2px;
    left: 649px;
    width: 337px;
    height: 259px;
    padding: 60px 0 0 130px;
    text-align: center;
    background: url(../img/EMA522_04_SU/0004_img01_1.png) no-repeat 0 0;
}

.ema522_04_su_0004 .page_1 .box .abs_8,
.ema522_04_su_0004 .page_2 .box .abs_8 {
    position: absolute;
    right: -540px;
    top: 290px;
}




.ema522_04_su_0004 .page_2 h3 .flex {
    margin-top: -12px;
}

/* } */
/* 
.ema522_04_su_0004 .page_2 .question_box {
    position: relative;
    height: 426px;

}

.ema522_04_su_0004 .page_2 .question_box .abs_0 {
    position: absolute;
    top: 51px;
    left: 379px;
}

.ema522_04_su_0004 .page_2 .question_box .abs_1 {
    position: absolute;
    top: 180px;
    left: 347px;
    gap: 122px;
}

.ema522_04_su_0004 .page_2 .question_box .abs_2 {
    position: absolute;
    top: 70px;
    left: 710px;
}

.ema522_04_su_0004 .page_2 .question_box .abs_3 {
    position: absolute;
    top: 54px;
    left: 915px;
}

.ema522_04_su_0004 .page_2 .question_box .abs_4 {
    position: absolute;
    top: 182px;
    left: 845px;
    gap: 122px;
}

.ema522_04_su_0004 .page_2 .question_box .abs_5 {
    position: absolute;
    top: 270px;
    left: 650px;
}

.ema522_04_su_0004 .page_2 .input_wrap .text_hint {
    bottom: calc(100% + 4px);
} */

/* } */

/* .ema522_04_su_0004 .page_3 { */
/* .ema522_04_su_0004 .page_3 h3 { */
.ema522_04_su_0004 .page_3 h3 .flex {
    margin-top: -12px;
}

/* } */

.ema522_04_su_0004 .page_3 .input_area {
    width: 1208px;
}

.ema522_04_su_0004 .page_3 .input_area .input_wrap {
    width: 100%;
}

.ema522_04_su_0004 .page_3 .input_area .input_wrap math-field.textarea {
    height: 322px;
}

.ema522_04_su_0004 .page_3 .input_wrap ol.example_box li {
    padding-left: 0;
}

.ema522_04_su_0004 .page_3 .input_wrap ol.example_box li:before {
    display: none;
}

/* } */

/* .ema522_04_su_0004 .page_4 { */
.ema522_04_su_0004 .page_4 .input_area {
    width: 1208px;
}

.ema522_04_su_0004 .page_4 .input_area .input_wrap {
    width: 100%;
}

.ema522_04_su_0004 .page_4 .input_area .input_wrap math-field.textarea {
    height: 322px;
}

.ema522_04_su_0004 .page_4 .input_wrap ol.example_box li {
    padding-left: 0;
}

.ema522_04_su_0004 .page_4 .input_wrap ol.example_box li:before {
    display: none;
}

/* } */

/* .ema522_04_su_0004 .page_5 { */
.ema522_04_su_0004 .page_5 .input_area {
    width: 1208px;
}

.ema522_04_su_0004 .page_5 .input_area .input_wrap {
    width: 100%;
}

.ema522_04_su_0004 .page_5 .input_area .input_wrap math-field.textarea {
    height: 322px;
}

.ema522_04_su_0004 .page_5 .input_wrap ol.example_box li {
    padding-left: 0;
}

.ema522_04_su_0004 .page_5 .input_wrap ol.example_box li:before {
    display: none;
}

/* } */

.ema522_04_su_0004[data-current-page='page_1'] .btn_area .btnSubmit,
.ema522_04_su_0004[data-current-page='page_2'] .btn_area .btnSubmit,
.ema522_04_su_0004[data-current-page='page_3'] .btn_area .btnSubmit,
.ema522_04_su_0004[data-current-page='page_4'] .btn_area .btnCheck,
.ema522_04_su_0004[data-current-page='page_5'] .btn_area .btnCheck {
    display: none;
}

/* } */

/* .ema522_03_su_0005 */
/* .ema522_04_su_0005 { */
.ema522_04_su_0005 .question_box {
    flex-wrap: wrap;
    width: 1000px;
    gap: 100px 200px;
}

/* .ema522_04_su_0005 .question_box .mixed_fraction { */
/* .ema522_04_su_0005 .question_box .mixed_fraction:nth-child(1) { */
.ema522_04_su_0005 .question_box .mixed_fraction:nth-child(1) .input_wrap,
.ema522_04_su_0005 .question_box .mixed_fraction:nth-child(1) .input_wrap input,
.ema522_04_su_0005 .question_box .mixed_fraction:nth-child(1) .input_wrap math-field {
    width: 80px;
    min-width: 80px;
}

/* } */

/* .ema522_04_su_0005 .question_box .mixed_fraction:nth-child(n+2):nth-child(-n+4) { */

.ema522_04_su_0005 .question_box .mixed_fraction:nth-child(n+2):nth-child(-n+4) .input_wrap,
.ema522_04_su_0005 .question_box .mixed_fraction:nth-child(n+2):nth-child(-n+4) .input_wrap input,
.ema522_04_su_0005 .question_box .mixed_fraction:nth-child(n+2):nth-child(-n+4) .input_wrap math-field {
    width: 247px;
    min-width: 80px;
}

/* } */

/* } */

.ema522_04_su_0005 .question_box>.flex {
    flex: 1;
}

.ema522_04_su_0005 .input_wrap[data-hint-position="top"] .text_hint {
    top: auto !important;
    bottom: calc(100% + 4px);
}

/* } */