.flex.rows {
    flex-direction: row;
  }
  .flex.col {
    flex-direction: column;
  }
  .align-center {
    align-items: center;
  }
  .flex-end {
    align-items: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .bg_coral,
  .bg_sky {
    display: inline-block;
    height: 60px;
    width: auto;
    line-height: 60px;
    padding: 0 16px;
    border-radius: 12px;
  }
  
  .bg_coral {
    background-color: #ffcbc2;
  }
  .bg_sky {
    background-color: #eef9ff;
  }
  
  /* 방법 1,2 */
  .method {
    color: #ffffff;
    text-shadow: -2px 0px #5bb8a1, 0px 2px #5bb8a1, 2px 0px #5bb8a1,
      0px -2px #5bb8a1;
    position: relative;
    width: 115px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: bottom right 10px;
    /* background-color: tomato; */
    padding-right: 50px;
  }
  
  .method[circle-number="1"] {
    background-image: url(../img/EMA515_04_SU/0005_cricle-1.png);
  }
  
  .method[circle-number="2"] {
    background-image: url(../img/EMA515_04_SU/0005_cricle-2.png);
  }
  
  .method::before {
    content: "";
    width: 97px;
    height: 23px;
    background-color: #5bb8a1;
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: -1;
    border-radius: 20px;
  }
  
  .gray_Box {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 8px 0;
    background-color: #9e9e9e;
    color: #fff;
    border-radius: 999px;
    margin-right: 18px;
  }
  
  /* EMA524_03_SU_0002 */
  
  .ema524_03_su_0002 .contents > .flex {
    gap: 26px;
  }
  
  .ema524_03_su_0002 .video_wrap {
    background: url(../../common_contents/img/EMA524_03_SU/0002_contents.png)
      no-repeat center 0% / 100%;
    height: 428px;
  }
  .ema524_03_su_0002 .video_wrap p {
    position: absolute;
    top: 21%;
    left: 49.5%;
    text-align: center;
  }
  .ema524_03_su_0002 .input_wrap {
    width: 100%;
  }
  .ema524_03_su_0002 .input_wrap > math-field.textarea {
    width: 797px;
    height: 310px;
  }
  
  /* EMA524_03_SU_0003_s page1 */
  
  .ema524_03_su_0003 .page_1 > .flex {
    gap: 26px;
  }
  .ema524_03_su_0003 .page_1 .picture_wrap {
    background: url(../../common_contents/img/EMA524_03_SU/0002_contents.png)
      no-repeat center 0% / 110%;
    height: 428px;
  }
  
  .ema524_03_su_0003 .page_1 .picture_wrap img {
    display: none;
  }
  
  .ema524_03_su_0003 .picture_wrap p {
    position: absolute;
    top: 21%;
    left: 49.5%;
    text-align: center;
    z-index: 99;
  }
  .ema524_03_su_0003 .page_1 .input_area {
    min-width: 707px;
  }
  .ema524_03_su_0003 .page_1 .input_wrap math-field:not(.textarea) {
    width: 135px;
    height: 60px;
  }
  
  /* EMA524_03_SU_0003_s page2 */
  .ema524_03_su_0003 .page_2 h3 {
    margin-bottom: 0;
  }
  .ema524_03_su_0003 .page_2 .wrap > p {
    position: absolute;
    top: 17px;
    left: 69.5%;
  }
  .ema524_03_su_0003 .page_2 .wrap {
    margin: 0 auto 0px;
    position: relative;
    width: 1200px;
  }
  .ema524_03_su_0003 .page_2 .contents_img {
    margin: 0 auto;
  }
  .multiply-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .multiply-box > div {
    padding: 25px 55px;
  }
  .ema524_03_su_0003 .page_2 .base-point {
    position: absolute;
    left: 80px;
    width: 680px;
  }
  .ema524_03_su_0003 .page_2 .base-point:nth-child(1) {
    width: 690px;
    top: 117px;
  }
  .ema524_03_su_0003 .page_2 .base-point:nth-child(2) {
    top: 257px;
  }
  .ema524_03_su_0003 .page_2 .base-point .input_wrap {
    position: relative;
    top: -60px;
    left: -55px;
  }
  .ema524_03_su_0003 .page_2 .base-point li {
    position: absolute;
    top: 0;
  }
  .ema524_03_su_0003 .page_2 .base-point li:nth-child(2) {
    left: 10%;
  }
  .ema524_03_su_0003 .page_2 .base-point li:nth-child(3) {
    left: 50%;
  }
  .ema524_03_su_0003 .page_2 .base-point li:nth-child(4) {
    left: 90%;
  }
  .ema524_03_su_0003 .page_2 .base-point li:nth-child(5) {
    left: 100%;
  }
  
  /* EMA524_03_SU_0003_s page3 */
  
  .ema524_03_su_0003 .page_3 > .flex {
    gap: 26px;
  }
  .ema524_03_su_0003 .page_3 .picture_wrap {
    background: url(../../common_contents/img/EMA524_03_SU/0002_contents.png)
      no-repeat center 0% / 110%;
    height: 428px;
  }
  .ema524_03_su_0003 .page_3 .picture_wrap img {
    display: none;
  }
  
  .ema524_03_su_0003 .page_3 .input_area {
    min-width: 707px;
  }
  .ema524_03_su_0003 .page_3 .input_wrap {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .ema524_03_su_0003 .page_3 .input_wrap math-field:not(.textarea) {
    width: 120px;
    height: 60px;
  }
  
  /* EMA524_03_SU_0004_s page1 */
  
  .ema524_03_su_0004 .wrap {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 1400px;
    margin: 50px auto 0;
  }
  
  .ema524_03_su_0004 .wrap .textarea {
    min-height: 60px;
    border-radius: 12px;
  }
  
  /* EMA524_03_SU_0004_s page2 */
  
  .ema524_03_su_0004 .page_2 .fra_parens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
  }
  
  .ema524_03_su_0004 .page_2 .fra_parens .input_wrap {
    min-width: 80px;
    align-items: center;
    flex-direction: row;
  }
  .ema524_03_su_0004 .page_2 .fra_parens .input_wrap math-field:not(.textarea) {
    min-width: 100px;
    width: 100px;
    height: 60px;
  }
  .ema524_03_su_0004
    .page_2
    .fra_parens
    .input_wrap.medium
    math-field:not(.textarea) {
    min-width: 120px;
    width: 120px;
    height: 60px;
  }
  .ema524_03_su_0004 .fraction_box .answer2 {
    text-align: center;
  }
  .ema524_03_su_0004 .fraction_box .input_wrap span {
    display: inline-block;
  }
  
  /* EMA524_03_SU_0004_s page3 */
  .ema524_03_su_0004 .page_3 .question_box {
    width: 902px;
    height: 271px;
    background: url(../../common_contents/img/EMA524_03_SU/0004_bg.png) no-repeat
      left center / 100%;
    margin: 50px auto 0;
  }
  .question_box .wrapper {
    width: 100%;
    margin-bottom: 2%;
  }
  
  .question_box .wrapper .box:nth-child(1) {
    width: 43%;
  }
  .question_box .wrapper .box:nth-child(1) > div {
    gap: 10px;
  }
  .question_box .wrapper .box:nth-child(2) {
    width: 58%;
    gap: 20px;
  }
  
  .question_box .wrapper .box:nth-child(2) > div {
    width: 119px;
  }
  
  .question_box .wrapper .box:nth-child(2) > div > span {
    margin-right: 20px;
  }
  .question_box .wrapper .box:nth-child(2) > div > .fraction_box {
    width: 100%;
  }
  
  .question_box .wrapper .box:nth-child(2) > div > .fraction_box > span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .question_box .wrapper .box:nth-child(2) > div > .fraction_box::before {
    top: 50%;
  }
  .question_box .wrapper .box:nth-child(1) > .arrow-row {
    gap: 95px;
    margin: 10px auto;
    padding-left: 10px;
  }
  .question_box .wrapper .box:nth-child(1) > .arrow-row > div {
    gap: 5px;
  }
  
  .question_box .wrapper .box:nth-child(1) > .arrow-row > div .fraction_box {
    gap: 8px;
  }
  .question_box .wrapper .box:nth-child(2) > .arrow-col {
    margin-top: 20px;
    gap: 20px;
  }
  
  .question_box .wrapper .box:nth-child(2) > .arrow-col > div {
    width: 100%;
    text-align: center;
    background: url(../../common_contents/img/EMA524_01_SU/0004_arrow2.svg)
      no-repeat left center / 100%;
  }
  .question_box .wrapper .box:nth-child(2) > .arrow-col > div > div {
    gap: 5px;
    background-color: var(--bg-default);
    width: 80px;
    margin: 0 auto;
  }
  
  /* ema524_03_su_0005 */
  .ema524_03_su_0005 .wrap {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 1100px;
    margin: 0px auto 0;
  }
  .ema524_03_su_0005 .wrap > div {
    background-image: url(../../common_contents/img/EMA524_01_SU/0005_bg1.png);
    background-repeat: no-repeat;
    background-position: left top 20px;
    height: 240px;
    padding: 0 40px;
  }
  
  .ema524_03_su_0005 .contents h3::before {
    display: none;
  }
  
  .ema524_03_su_0005 .fra_parens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
  }
  .ema524_03_su_0005 .fra_parens .input_wrap {
    min-width: 80px;
    align-items: center;
    flex-direction: row;
  }
  .ema524_03_su_0005 .fra_parens .input_wrap math-field:not(.textarea) {
    min-width: 80px;
    width: 80px;
    height: 60px;
  }
  
  .ema524_03_su_0005 .wrap > div:first-child .fra_parens {
    margin-top: 30px;
  }
  
  .ema524_03_su_0005 .wrap > div:last-child .fra_parens {
    margin-top: 60px;
  }
  
  /* EMA524_03_SU_0006_s */
  
  .ema524_03_su_0006 .wrap > div {
    width: 1200px;
    margin: 50px auto 0;
    justify-content: space-between;
  }
  
  .ema524_03_su_0006 .wrap > div > div {
    min-width: 280px;
    gap: 10px;
  }
  
  .ema524_03_su_0006 .wrap > div > div > .fraction_box > div {
    width: 60%;
  }
  .ema524_03_su_0006 .wrap > div > div > .fraction_box > div > span > span {
    min-width: 20px;
  }
  .ema524_03_su_0006 .wrap > div > div > .fraction_box::before {
    top: 61.66%;
  }
  
  .example_box {
    opacity: 1 !important;
  }
  
  /* .input_wrap .text_hint,
  .dropdown_wrap .text_hint,
  .dragndrop_fraction_wrap .drop_item::after {
    opacity: 1 !important;
  } */
  
  /* EMA524_SU_0003_s  */
  section.contents {
    overflow-y: visible;
  }
  
  .form_wrap {
    gap: 50px;
    width: 1635px;
    height: 628px;
  }
  
  .form_wrap .map_wrap {
    position: relative;
    width: 1163px;
    height: 626px;
    background: url(../../common_contents/img/EMA524_SU/0003_img_1.png) no-repeat
      center center;
  }
  
  .form_wrap .map_wrap .map_grid {
    position: absolute;
    top: 18px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1113px;
    height: 585px;
  }
  
  .form_wrap .map_wrap .map_grid .map_grid_row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1113px;
    height: 117px;
  }
  
  .form_wrap .map_wrap .map_grid .map_grid_row .map_grid_col {
    position: relative;
    width: 159px;
    height: 117px;
  }
  
  .form_wrap .map_wrap .map_grid .map_grid_row .map_grid_col .go_piece_wrap {
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 53.6px;
    height: 50px;
    transition: all 0.5s ease;
  }
  
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap
    .go_piece {
    position: absolute;
    padding: 0;
    width: 53.6px;
    min-width: 53.6px;
    height: 50px;
    min-height: 50px;
    background: url(../../common_contents/img//EMA524_SU/0003_img_go_b.png)
      no-repeat center center;
    background-size: contain;
  }
  
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap.white
    .go_piece {
    background: url(../../common_contents/img//EMA524_SU/0003_img_go_w.png)
      no-repeat center center;
    background-size: contain;
  }
  
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap
    .piece_switch_wrap {
    display: none;
    position: absolute;
    bottom: -84px;
    left: calc(50% - 64px);
    width: 128px;
    height: 82px;
    background: url(../../common_contents/img//EMA524_SU/0003_img_switch_bg.png)
      no-repeat center center;
    background-size: contain;
    z-index: 3;
  }
  
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap
    .piece_switch_wrap.on {
    display: block;
  }
  
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap
    .piece_switch_wrap
    .btn_switch {
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 0;
    width: 52px;
    min-width: 52px;
    height: 52px;
    min-height: 52px;
  }
  
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap
    .piece_switch_wrap
    .btn_switch.btn_switch_yellow {
    top: 22px;
    left: 8px;
    background-color: #ffde6a;
  }
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col
    .go_piece_wrap
    .piece_switch_wrap
    .btn_switch.btn_switch_red {
    top: 22px;
    left: 67px;
    background-color: #ee4f24;
  }
  
  .form_wrap .map_wrap .map_grid .map_grid_row .map_grid_col.mark1 {
    background: url(../../common_contents/img/EMA524_SU/0003_img_mark_01.png)
      no-repeat center center;
    background-size: 140px;
  }
  
  .form_wrap .map_wrap .map_grid .map_grid_row .map_grid_col.mark2 {
    background: url(../../common_contents/img/EMA524_SU/0003_img_mark_02.png)
      no-repeat center center;
    background-size: 140px;
  }
  
  .form_wrap .submit_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 353px;
    height: 628px;
  }
  
  .form_wrap .submit_wrap .input_line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 353px;
    height: 64px;
  }
  
  .form_wrap .submit_wrap .input_line:nth-child(2) {
    padding-bottom: 30px;
  }
  
  .form_wrap .submit_wrap .input_line.btn_area {
    position: unset;
    left: unset;
    top: unset;
  }
  
  .form_wrap .submit_wrap .input_line .label {
    font-size: 20px;
    color: #222222;
  }
  
  .form_wrap .map_wrap .map_grid .map_grid_row .map_grid_col.map_grid_col_start01,
  .form_wrap
    .map_wrap
    .map_grid
    .map_grid_row
    .map_grid_col.map_grid_col_start02 {
    cursor: pointer;
  }
  
  .moving {
    transform: scale(1.1);
  }
  
  .btnFormula {
    width: 64px;
    min-width: unset;
    height: 64px;
    border-radius: 16px;
    border: 1px solid var(--primary-blue-800);
    background-color: var(--bg-default);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    font-size: 0;
    background-image: url(../../common_contents/common/img/icon_formula.svg);
    border-color: var(--stroke-default);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
  
  .btnFormula:hover {
    background-color: var(--bg-default);
  }
  
  /* 계산기 */
  .calculator-group {
    position: relative;
  }
  
  .cal-icon {
    cursor: pointer;
  }
  
  .calculator {
    display: none;
    position: absolute;
    bottom: -387px;
    right: -30px;
    /* transform: translate(-50%, -50%); */
    width: 290px;
    height: 360px;
    padding: 30px;
    border: 4px solid #1454b9;
    border-radius: 20px;
    background-color: #f6f9fbdd;
    z-index: 10;
  }
  
  .calculator .btn-close-calculator {
    position: absolute;
    top: -16px;
    right: -16px;
    border-radius: 16.5px;
    padding: 0;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    font-size: 0;
    background: url(../../common_contents/img/EMA526_SU/calculator_close.png)
      no-repeat center center;
    background-size: contain;
    background-color: unset;
  }
  
  .calculator .calculator-area {
    position: relative;
    width: 230px;
    height: 300px;
    background: url(../../common_contents/img/EMA526_SU/calculator.png) no-repeat
      center center;
    background-size: contain;
  }
  
  .calculator .calculator-buttons {
    position: absolute;
    top: 87px;
    left: 19px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }
  
  .calculator .calculator-buttons .btn-calculator {
    padding: 0;
    width: 43px;
    height: 34px;
    min-width: 43px;
    min-height: 32px;
    font-size: 0;
    cursor: pointer;
    background: none;
  }
  
  .calculator .calculator-buttons .btn-calculator.btn-calculator-plus {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 74px;
    min-height: 74px;
  }
  
  .calculator .calculator-buttons .btn-calculator:nth-child(16) {
    grid-column: 1;
    grid-row: 5;
  }
  
  .calculator .calculator-buttons .btn-calculator:nth-child(17) {
    grid-column: 2;
    grid-row: 5;
  }
  
  .calculator .calculator-buttons .btn-calculator:nth-child(18) {
    grid-column: 3;
    grid-row: 5;
  }
  
  .calculator-area input[type="text"].cal-display {
    position: absolute;
    top: 19px;
    left: 15px;
    /* border: 1px solid #ffffff; */
    padding: 15px 15px;
    width: 195px;
    height: 57px;
    text-align: right;
    color: #222222;
    font-size: 32px;
    background: none;
  }
  
  .calculator-area input[type="text"].cal-display:hover {
    background: none !important;
    border: none !important;
  }
  
  .calculator-group .calculator-tail {
    position: absolute;
    top: -18px;
    right: 36px;
    width: 30px;
    height: 18px;
    background: url(../../common_contents/img/EMA526_SU/calculator_tail.png)
      no-repeat center center;
    background-size: contain;
    transform: scaleY(-1);
  }
  
  .text-area.cal-page {
    width: 30%;
  }
  
  .device_change_wrap {
    position: absolute;
    bottom: 35px;
    right: 370px;
  }
  
  .device_change_wrap .device_change {
    display: none;
    background-color: var(--secondary-red);
  }
  
  .teacher .device_change_wrap .device_change {
    display: block;
    background-color: var(--secondary-red);
  }
  
  .btn_check_ok,
  .btn_check_error {
    width: 151px;
    min-width: 151px;
    padding: 0;
  }
  
  .input_answer_wrap {
    width: 322px;
    min-width: 322px;
  }
  
  .input_answer {
    width: 322px;
    min-width: 322px;
  }
  
  .btnReset {
    width: 64px !important;
    min-width: 64px !important;
  }
  