.title h2 .blue {
  color: rgba(59, 113, 254, 1);
}


/* EMA625_01_SU_0001_s */
.ema625_01_su_0001#app_wrap {
  background: url(../../common_contents/img/EMA625_01_SU/0001_bg.png) no-repeat left bottom / 857px, #8F659D;
}
.ema625_01_su_0001 .text_box {
  color: #420855;
  line-height: 32px;
  position: absolute;
  top: 152px;
  left: 136px;
}
.ema625_01_su_0001 .input_area {
  width: 797px;
  margin-left: auto;
}
.ema625_01_su_0001 .input_wrap math-field.textarea {
  width: 797px;
  height: 150px;
}



/* EMA521_01_SU_0003_s */
.ema625_01_su_0003 .img_box {
  position: relative;
  margin-top: -10px;
}
.ema625_01_su_0003 .img_box > p {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
}
.ema625_01_su_0003 .img_box > .t01 {
  left: 152px;
  top: 0px;
  width: 80px;
}
.ema625_01_su_0003 .img_box > .t02 {
  left: -73px;
  top: 113px;
}
.ema625_01_su_0003 .img_box > .t03 {
  left: 97px;
  top: 159px;
}
.ema625_01_su_0003 .img_box > .t04 {
  left: 67px;
  top: -14px;
  font-size: 16px;
}
.ema625_01_su_0003 .img_box > .t05 {
  left: 15px;
  top: 159px;
}


/* EMA521_00_SU_0004_s */
.ema625_01_su_0004 .contents > .img_row .video_wrap {
  background: url(../../common_contents/img/EMA625_01_SU/0004_content.png) no-repeat 50% 50%;
  background-size: cover;
}
