/*EMA615_10_SU_0004_s*/

.ema615_10_su_0004#app_wrap {
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.bingo-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    position: relative;
    border-left: 1px solid #ec008c;
    border-top: 1px solid #ec008c;
}
.bingo-cell {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    width: 300px;
    height: 210px;
    padding: 20px;
    background: white;
    border-right: 1px solid #ec008c;
    border-bottom: 1px solid #ec008c;
    font-size: 16px;
    cursor: pointer;
    &.graph-bar {
        gap: 20px;
    }
    &.graph-circle {
        gap: 12px;
    }
    ul.graph {
        position: relative;
        .item1 & {
            background: url("../../common_contents/img/EMA615_10_SU/item1.svg") no-repeat center / contain;
        }
        .item2 & {
            background: url("../../common_contents/img/EMA615_10_SU/item2.svg") no-repeat center / contain;
        }
        .item3 & {
            background: url("../../common_contents/img/EMA615_10_SU/item3.svg") no-repeat center / contain;
        }
        .item4 & {
            background: url("../../common_contents/img/EMA615_10_SU/item4.svg") no-repeat center / contain;
        }
        .item5 & {
            background: url("../../common_contents/img/EMA615_10_SU/item5.svg") no-repeat center / contain;
        }
        .item6 & {
            background: url("../../common_contents/img/EMA615_10_SU/item6.svg") no-repeat center / contain;
        }
        .item7 & {
            background: url("../../common_contents/img/EMA615_10_SU/item7.svg") no-repeat center / contain;
        }
        .item8 & {
            background: url("../../common_contents/img/EMA615_10_SU/item8.svg") no-repeat center / contain;
        }
        .item9 & {
            background: url("../../common_contents/img/EMA615_10_SU/item9.svg") no-repeat center / contain;
        }
        li {
            position: absolute;
            text-align: center;
            line-height: 20px;
        }
    }
    &[class^="item"] {
       
    }
    

    
    p.title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        padding: 5px 20px;
        box-sizing: initial;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1.5px;
        border-radius: 30px;
        background: #5f75b9;
        text-align: center ;
        color: white;
    }
}
.item1 > ul > li {
    &:nth-of-type(1) {
        left:20px;
        top: 5px;
    }
    &:nth-of-type(2) {
        left:100px;
        top: 5px;
    }
    &:nth-of-type(3) {
        left:160px;
        top: 5px;
    }
    &:nth-of-type(4) {
        left: 127px;
        bottom: 8px;
    }
    &:nth-of-type(5) {
        right:34px;
        bottom:-12px;
    }
}
.item2 > ul > li {
    &:nth-of-type(1) {
        left:20px;
        top: 18px;
    }
    &:nth-of-type(2) {
        left:100px;
        top: 18px;
    }
    &:nth-of-type(3) {
        left:175px;
        top: 18px;
    }
    &:nth-of-type(4) {
        left:140px;
        bottom:0px;
    }
}
.item3 > ul > li {
    &:nth-of-type(1) {
        left:50px;
        top:5px;
    }
    &:nth-of-type(2) {
        left:145px;
        top:5px;
    }
    &:nth-of-type(3) {
        left: 105px;
        bottom: 8px;
    }
    &:nth-of-type(4) {
        right:34px;
        bottom:-12px;
    }
}



.item4 > ul > li {
    &:nth-of-type(1) {
        left:15px;
        top:5px;
    }
    &:nth-of-type(2) {
        left: 90px;
        top:5px;
    }
    &:nth-of-type(3) {
        left:165px;
        top:5px;
    }
    &:nth-of-type(4) {
        left: 127px;
        bottom: 8px;
    }
    &:nth-of-type(5) {
        right:34px;
        bottom:-12px;
    }
}
.item5 > ul > li {
    &:nth-of-type(1) {
        left:30px;
        top:15px;
    }
    &:nth-of-type(2) {
        left:120px;
        top:15px;
    }
    &:nth-of-type(3) {
        left:182px;
        top:15px;
    }
    &:nth-of-type(4) {
        left:160px;
        bottom:0px;
    }
}
.item6 > ul > li {
    &:nth-of-type(1) {
        left:50px;
        top:5px;
    }
    &:nth-of-type(2) {
        left:160px;
        top:5px;
    }
    &:nth-of-type(3) {
        left: 90px;
        bottom: 8px;
    }
    &:nth-of-type(4) {
        right:34px;
        bottom:-12px;
    }
}


.item7 > ul > li {
    &:nth-of-type(1) {
        left: 40px;
        top: -8px;
    }
    &:nth-of-type(2) {
        left:-10px;
        top:10px;
    }
    &:nth-of-type(3) {
        left: 30px;
        bottom:0px;
    } 
    &:nth-of-type(4) {
        right: 80px;
        top: 15px;
    }
    &:nth-of-type(5) {
        right: 100px;
        bottom:0px;
    }
}
.item8 > ul > li {
    &:nth-of-type(1) {
        left:25px;
        top:-5px;
    }
    &:nth-of-type(2) {
        left: 10px;
        top: 20px;
    }
    &:nth-of-type(3) {
        left:15px;
        bottom:0px;
    }
    &:nth-of-type(4) {
        right: 80px;
        top: 15px;
    }
    &:nth-of-type(5) {
        right: 100px;
        bottom:0px;
    }
}
.item9 > ul > li {
    &:nth-of-type(1) {
        left: 60px;
        top: -10px;
    }
    &:nth-of-type(2) {
        left:40px;
        top:5px;
    }
    &:nth-of-type(3) {
        left: 10px;
        bottom:20px;
    } 
    &:nth-of-type(4) {
        left: 50px;
        bottom: -10px;
    }
    &:nth-of-type(5) {
        right: 60px;
        top: 10px;
    }
    &:nth-of-type(6) {
        right: 70px;
        bottom:0px;
    }
}

.bingo-cell.checked {
    pointer-events: none;
}
.bingo-cell.checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 174px;
    height: 147px;
    background: url("../../common_contents/img/EMA615_10_SU/check.png") no-repeat center;
    z-index: 10;
}
.bingo-line {
    position: absolute;
    background: orange;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}
.bingo-line.visible {
    opacity: 1;
    z-index: 11;
}
.line-col-0,
.line-col-1,
.line-col-2,
.line-diag-0,
.line-diag-1,
.line-row-0,
.line-row-1,
.line-row-2 {
    border-radius: 100px;
    background: rgba(255, 235, 81, 0.5);
}
.line-row-0 {
    top: 4.6%;
    left: 5%;
    right: 5%;
    height: 150px;
}
.line-row-1 {
    top: 50%;
    left: 5%;
    right: 5%;
    height: 150px;
    transform: translateY(-50%);
}
.line-row-2 {
    bottom: 4.6%;
    left: 5%;
    right: 5%;
    height: 150px;
}
.line-col-0 {
    top: 5%;
    bottom: 5%;
    left: 8.3%;
    width: 150px;
}
.line-col-1 {
    top: 5%;
    bottom: 5%;
    left: 50%;
    width: 150px;
    transform: translateX(-50%);
}
.line-col-2 {
    top: 5%;
    bottom: 5%;
    right: 8.3%;
    width: 150px;
}
.line-diag-0 {
    top: 8%;
    left: 5%;
    width: 105%;
    height: 150px;
    transform: rotate(33deg) translateY(-50%);
    transform-origin: top left;
}
.line-diag-1 {
    top: 8%;
    right: 5%;
    width: 105%;
    height: 150px;
    transform: rotate(-33deg) translateY(-50%);
    transform-origin: top right;
}
.device_change {
    background-color: var(--secondary-red);
    display: none;
}
.teacher .device_change {
    display: block;
}
.btnReset.active,
.btnSubmit.active {
    background: orange;
    color: white;
}
.device_change {
    background-color: var(--secondary-red);
}
.device_change {
    display: none;
}
.teacher .device_change {
    display: block;
}
