/*EMA611_07_SU_0001_s*/
.ema611_07_su_0001 p.blue {
  color: rgba(59, 113, 254, 1);
}

/*EMA611_07_SU_0002_s*/
.ema611_07_su_0002 .image_zoom_wrap .title h3 {
  letter-spacing: -1.4px;
}

.ema611_07_su_0002 .contents .page_1 > .flex {
  gap: 26px;
}

.ema611_07_su_0002 .page_1 .picture_wrap {
  width: 871px;
  max-width: 871px;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  aspect-ratio: 891/491;
}

.ema611_07_su_0002 .input_area {
  width: 712px;
}

.ema611_07_su_0002 .contents .page:not(.page_11) > .flex {
  gap: 30px;
}

.ema611_07_su_0002 .page1 .picture_wrap {
  width: 891px;
  height: 492px;
}

.ema611_07_su_0002 .page_2 .input_wrap {
  width: 709px;
}

.ema611_07_su_0002 .page_2 .input_wrap math-field.textarea {
  height: 250px;
}

.ema611_07_su_0002 .page_3 .question_box > span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}

.ema611_07_su_0002 .page_4 .question_box,
.ema611_07_su_0002 .page_5 .question_box {
  gap: 8px;
}

.ema611_07_su_0002 .page_4 .question_box > span,
.ema611_07_su_0002 .page_5 .question_box > span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}

.ema611_07_su_0002 .page_4 .question_box > div > span,
.ema611_07_su_0002 .page_5 .question_box > div > span,
.ema611_07_su_0002 .page_8 .question_box > div > span,
.ema611_07_su_0002 .page_9 .question_box > span,
.ema611_07_su_0002 .page_10 .question_box > div > span {
  padding-left: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}

.ema611_07_su_0002 .page_5 .input_wrap.fraction_wrap,
.ema611_07_su_0002 .page_5 .input_wrap.fraction_wrap math-field {
  width: 80px;
  min-width: 80px;
}

.ema611_07_su_0002 .page_6 .input_wrap {
  width: 712px;
}

.ema611_07_su_0002 .page_6 .input_wrap math-field.textarea {
  height: 206px;
}

.ema611_07_su_0002 .page_7 .input_wrap {
  width: 709px;
}

.ema611_07_su_0002 .page_7 .input_wrap math-field.textarea {
  height: 178px;
}

.ema611_07_su_0002 .page_10 .input_wrap.fraction_wrap,
.ema611_07_su_0002 .page_10 .input_wrap.fraction_wrap math-field {
  width: 202px;
  min-width: 202px;
}

.ema611_07_su_0002 .page_11 > div > div > p {
  margin-top: 5px;
}

.ema611_07_su_0002 .page_11 .solve_box_wrap {
  width: 95%;
  margin: 30px auto 0;
}
.ema611_07_su_0002 .page_11 .solve_box {
  flex: 1;
  height: 306px;
  border: 3px dashed #c6c6c6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ema611_07_su_0002 .draw_title {
  background: url(../../common_contents/img/EMA524_08_SU/0002_titlebg.svg) no-repeat left top;
  background-size: auto 100%;
  height: 40px;
  padding: 0 16px;
}
.ema611_07_su_0002 .draw_title.medium {
  background-image: url(../../common_contents/img/EMA524_08_SU/0002_titlebg1.svg);
}
.ema611_07_su_0002 .draw_title span {
  line-height: 40px;
  color: var(--primary-blue-800);
}

.ema611_07_su_0002 .page_11 .solve_box > p {
  background: url(../../common_contents/img/EMA524_08_SU/0002_bg.png) no-repeat 52% 100% / 250px;

  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ema611_07_su_0002 .page_11 .solve_box:last-child > p {
  background: url(../../common_contents/img/EMA524_08_SU/0002_bg1.png) no-repeat 52% 100% / 300px;
}
.ema611_07_su_0002 .page_11 .solve_box:first-child > ol {
  margin-top: 40px;
  font-size: 32px;
}
.ema611_07_su_0002 .page_11 .solve_box:first-child > ol li {
  padding-left: 20px;
  margin-bottom: 20px;
}
.ema611_07_su_0002 .page_11 .solve_box:first-child > ol li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative;
  left: -10px;
  top: -8px;
  border-radius: 50%;
  background-color: var(--font-main);
  flex-shrink: 0;
  flex-grow: 0;
}
.ema611_07_su_0002 .page_11 .solve_box:last-child > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.ema611_07_su_0002 .page_11 .solve_box:last-child > div:nth-child(3) {
  font-size: 32px;
}

.ema611_07_su_0002:not([data-current-page="page_2"], [data-current-page="page_6"], [data-current-page="page_7"]) .btn_area .btnSubmit,
.ema611_07_su_0002:not([data-current-page="page_3"], [data-current-page="page_4"], [data-current-page="page_5"], [data-current-page="page_8"], [data-current-page="page_9"], [data-current-page="page_10"]) .btn_area .btnCheck,
.ema611_07_su_0002[data-current-page="page_1"] .btn_area,
.ema611_07_su_0002[data-current-page="page_11"] .btn_area {
  display: none;
}

/*EMA611_07_SU_0003_s*/
.ema611_07_su_0003 .contents > .flex {
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.ema611_07_su_0003 .picture_wrap {
  width: 506px;
  height: 442px;
  aspect-ratio: unset;
  border: none;
  flex: unset;
}

.ema611_07_su_0003 .input_area {
  height: 112px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ema611_07_su_0003 .input_area > span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
}

.ema611_07_su_0003 .input_wrap,
.ema611_07_su_0003 .input_wrap.fraction_wrap math-field {
  width: 80px;
  min-width: 80px;
}

/*ema611_07_su_0004_s*/
.ema611_07_su_0004 .orange {
  color: rgba(238, 79, 36, 1);
}
