/*EMA614_01_SU_0001_s*/
.ema614_01_su_0001#app_wrap {
    background: #74CABF url(../img/EMA614_01_SU/0001_bg.png) no-repeat 0 0 / 792px;
}
.ema614_01_su_0001 .input_area label.img {
    background-color: #07BBA9;
}
.ema614_01_su_0001 .input_area label::after {
    background-color: #07BBA9;
}
.ema614_01_su_0001 .text_box {
    color: #1454b9;
    top: auto;
    bottom: 74px;
    left: 329px;
}
.ema614_01_su_0001 .fraction_row {
    display: flex;
    align-items: center;
}
.ema614_01_su_0001 .text_box .fraction_box:before {
    background-color: #1454b9;
}
.ema614_01_su_0001 .example_box li{
    display: flex;
    align-items: center;
}

/* ema614_01_su_0003 */
.ema614_01_su_0003 .letCheck .icon {
    width: 48px;
    height: 48px;
}
.ema614_01_su_0003 .letCheck .icon.triangle {
    width: 57px;
    height: 48px;
}


/*EMA614_01_SU_0005_s*/
.ema614_01_su_0005 .input_wrap > math-field.textarea {
    height: 394px;
}
  