.ema615_01_su_0001#app_wrap {
    background: #8F659D;
    /* 배경 색상 */
    background-image: url(../img/EMA615_01_SU/0001_bg.png);
    background-repeat: no-repeat;
    background-position: -50px 180px;
    /* 왼쪽 아래 정렬 */
    background-size: 857px auto;
    /* 가로 857px, 세로 자동 */
}

.ema615_01_su_0001 .text_box {
    color: #420855;
    bottom: 552px;
    /* left: 285px; */
}

.ema615_01_su_0001 .input_area label.img,
.ema615_01_su_0001 .input_area label::after,
.ema615_01_su_0001 .text_box.fraction_example .fraction_box::before {
    background-color: #6247DC;
}

.ema615_01_su_0001 .source {
    position: absolute;
    top: 643px;
    left: 444px;
}




.operation {
    display: flex;
    align-items: center;

    color: var(--Text-Gray-900, #222);

    /* Title/H_02_BOLD */
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
    letter-spacing: -1px;
}










.ema615_01_su_0004 .video_wrap {
    background-image: url(../img/EMA615_01_SU/0004_content.svg);
    background-repeat: no-repeat;
    background-size: cover;
}