/*EMA611_09_SU_0004_s*/
.ema611_09_su_0004#app_wrap {
    flex-direction: column;
    gap: 30px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.content-section button {
    all: unset;
    box-shadow: 0 8px 24px 0px rgba(0, 0, 0, 0.12);
    &#mathResetBtn,
    &.btnCheck,
    &.btnReset {
        font-size: 0;
        width: 64px;
        height: 64px;
        border-radius: 12px;
    }
    &.btnCheck {
        background: #3b71fe url("../../common_contents/common/img/icon_check_white.svg") no-repeat center/ contain;
        background-size: 40px;
        &:disabled {
            border-color: var(--stroke-default);
            background: var(--btn-disabled-bg) url("../../common_contents/common/img/icon_check_disabled.svg") no-repeat center;
        }
    }
    &.btnReset {
        background: #3b71fe url("../../common_contents/common/img/icon_reset_white.svg") no-repeat center/ contain;
        background-size: 40px;
        &:disabled {
            border-color: var(--stroke-default);
            background: var(--btn-disabled-bg) url("../../common_contents/common/img/icon_reset_disabled.svg") no-repeat center;
        }
    }
    &#mathResetBtn {
        background: #3b71fe url("../../common_contents/common/img/icon_reset_white.svg") no-repeat center/ contain;
        background-size: 40px;
    }

    &#toggleCardBtn {
        width: 90px;
        height: 56px;
        word-break: keep-all;
        font-size: 0;
        cursor: pointer;
        /* padding: 12px 20px; */
        color: var(--Text-White, #fff);
        text-align: center;
        background-color: var(--primary-blue);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        border-radius: 12px;
        letter-spacing: -0.5px;
        &:disabled {
            cursor: default;
            pointer-events: none;
            background-color: var(--btn-disabled-bg);
            border-color: var(--stroke-default);
            color: var(--font-disabled);
        }
    }
}
.countdown {
    font-size: 24px;
    margin-top: 20px;
}
.card-wrap {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card {
    width: 264px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card.hidden {
    background: url("../img/EMA611_09_SU/0009_img1.svg") center / contain no-repeat;
    color: transparent;
}
.card.visible {
    background: url("../img/EMA611_09_SU/0009_img2.svg") center / contain no-repeat;
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: "Pretendard";
}

.content-section {
    padding: 30px 40px 40px;
    display: grid;
    gap: 40px 33px;
    grid-template-columns: min-content min-content 1fr;
    grid-template-rows: min-content 1fr;
    background-color: #32562e;
    border: 20px solid #e6aa5c;
    .timer-section {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        .timer-box {
            &::before {
                margin-right: 5px;
                width: 44px;
                height: 48px;
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2248%22%20viewBox%3D%220%200%2044%2048%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M0%2026.3814C0%2038.3089%209.86207%2048%2022%2048C34.1379%2048%2044%2038.3089%2044%2026.3814C44%2020.459%2041.5556%2015.0336%2037.5939%2011.1406L39.3218%209.44262L40.1226%2010.2295C40.4598%2010.5608%2040.8812%2010.7265%2041.3448%2010.7265C41.8084%2010.7265%2042.2299%2010.5608%2042.567%2010.2295C43.2414%209.56687%2043.2414%208.49008%2042.567%207.82744L38.5632%203.89301C37.8889%203.23037%2036.7931%203.23037%2036.1188%203.89301C35.4444%204.55565%2035.4444%205.63244%2036.1188%206.29508L36.9195%207.08197L35.023%208.94564C31.8199%206.6264%2027.9847%205.17688%2023.7701%204.84556V3.39603H27.6054C28.5747%203.39603%2029.3333%202.65056%2029.3333%201.69802C29.3333%200.74547%2028.5747%200%2027.6054%200H16.2261C15.2567%200%2014.4981%200.74547%2014.4981%201.69802C14.4981%202.65056%2015.2567%203.39603%2016.2261%203.39603H20.3142V4.84556C8.93487%205.71527%200%2015.0336%200%2026.3814ZM22%208.15876C32.2414%208.15876%2040.5862%2016.3589%2040.5862%2026.4228C40.5862%2036.4866%2032.2414%2044.6868%2022%2044.6868C11.7586%2044.6868%203.41379%2036.4866%203.41379%2026.4228C3.41379%2016.3589%2011.7586%208.15876%2022%208.15876Z%22%20fill%3D%22white%22%2F%3E%20%20%20%3Cpath%20d%3D%22M22.0004%2027.7896H29.3759C30.3453%2027.7896%2031.1039%2027.0442%2031.1039%2026.0916C31.1039%2025.1391%2030.3453%2024.3936%2029.3759%2024.3936H23.7284V15.655C23.7284%2014.7025%2022.9698%2013.957%2022.0004%2013.957C21.0311%2013.957%2020.2725%2014.7025%2020.2725%2015.655V26.133C20.2725%2027.0442%2021.0311%2027.7896%2022.0004%2027.7896Z%22%20fill%3D%22white%22%2F%3E%20%3C%2Fsvg%3E");
            }
            display: flex;
            gap: 10px;
            align-items: center;
            color: var(--bg-default);
            label {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0 12px;
                input {
                    /* margin-left: -5px; */
                    color: var(--btn-disabled);
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    width: 80px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    background-color: var(--bg-default);
                    border: 2px solid var(--primary-blue);
                    border-radius: 12px;
                    box-sizing: border-box;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                    /* text-align: center; */
                    /* border: 1px solid red; */
                }
                span {
                    font-size: 32px;
                    font-weight: 400;
                }
            }
        }
    }

    .math-wrap {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: 30px;
        padding: 20px 30px;
        width: 911px;
        border: 1px solid var(--font-main-300);
        border-radius: 20px;
        background-color: #eef0f4;
        .math-input-wrap {
            display: grid;
            grid-template-columns: 1fr min-content 1fr min-content 1fr;
            > * {
                align-self: center;
            }
            p {
                padding: 0 10px;
                font-size: 44px;
                font-weight: 400;
                line-height: 64px;
                letter-spacing: -1px;
                color: var(--font-main);
            }
            div {
                math-field {
                    width: 100%;
                    height: 112px;
                    border: 2px solid var(--btn-default);
                    font-size: 32px;
                }
            }
        }
        .btn-wrap {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
    .score-wrap {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        display: flex;
        width: 100%;
        height: 410px;
        padding: 20px 30px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 20px;
        border: 4px solid var(--Line-Gray-300, #d2d2d2);
        background: rgba(255, 255, 255, 0.1);
        color: var(--bg-default);
        li {
            display: flex;
            align-items: center;
            font-size: 32px;
            word-break: keep-all;
            .score-display {
                /* display: flex; */
                margin: 0 10px;
                width: 120px;
                height: 68px;
                align-items: center;
                text-align: center;
                align-content: center;
                align-self: stretch;
                border-radius: 12px;
                border: 2px solid var(--Color-Primary-blue, #3b71fe);
                background: var(--black-white-white, #fff);
                span {
                    color: var(--font-main);
                }
            }
            &.total-score-wrap {
                font-size: 32px;
                line-height: 48px;
                letter-spacing: -1px;
                align-content: center;
                #totalScore {
                    /* align-content: center; */
                    color: var(--secondary-yellow);
                    padding: 0 5px 0 10px;
                    font-weight: 700;
                }
            }
            .input {
                text-align: center;
                padding: 13px 20px 13px 20px;
                margin: 0 10px;
                width: 80px;
                height: 36px;
                font-size: 32px;
                text-align: center;
                color: #222;
                background-color: white;
                border-radius: 12px;
                box-sizing: content-box;
                border: 2px solid var(--primary-blue);
            }
        }
    }
}

.device_change {
    background-color: var(--secondary-red);
}
.device_change {
    display: none;
}
.teacher .device_change {
    display: block;
}
.math-wrap .btn_area,
.timer-box .btn_area {
    position: static !important;
}

.math-wrap .btn-wrap button {
    all: unset;
    box-shadow: 0 8px 24px 0px rgba(0, 0, 0, 0.12);
    &#mathResetBtn,
    &.btnCheck,
    &.btnReset {
        font-size: 0;
        width: 64px;
        height: 64px;
        border-radius: 12px;
    }
    &#mathCheckBtn {
        background: #3b71fe url("../../common_contents/common/img/icon_check_white.svg") no-repeat center/ contain;
        background-size: 40px;
        &:disabled {
            border-color: var(--stroke-default);
            background: var(--btn-disabled-bg) url("../../common_contents/common/img/icon_check_disabled.svg") no-repeat center;
        }
    }
    &#mathResetBtn {
        background: #3b71fe url("../../common_contents/common/img/icon_reset_white.svg") no-repeat center/ contain;
        background-size: 40px;
        &:disabled {
            border-color: var(--stroke-default);
            background: var(--btn-disabled-bg) url("../../common_contents/common/img/icon_reset_disabled.svg") no-repeat center;
        }
    }
}
