/* ema614_08_su_0002 */
.ema614_08_su_0002[data-current-page="page_1"] .btn_area {
    display: none;
}
.ema614_08_su_0002 .table_box {
    background: url(../img/EMA614_08_SU/0002_bg1.png) no-repeat 0 0;
    width: 566px;
    height: 279px;   
    position: relative;
}
.ema614_08_su_0002 .table_box th,
.ema614_08_su_0002 .table_box td {   
    position: relative;
    height: 62px;
}

.ema614_08_su_0002 .table_box th,
.ema614_08_su_0002 .table_box td {
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: center;
}

.ema614_08_su_0002 .tbl_txt {
    display: inline-flex;
    position: absolute;
    bottom: -30px;
    right: 0;
    align-items: center;
    margin-top: -410px;   
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #222;
}   
.ema614_08_su_0002 .page_1 .tbl_txt {
    bottom: 0;
}

.ema614_08_su_0002 .page_1 .question_box {
    gap: 20px;
    align-items: flex-start;
}

.ema614_08_su_0002 .page_1 .picture_wrap {
    border: 0;
}


.ema614_08_su_0002 .page_2 .flex,
.ema614_08_su_0002 .page_3 .flex,
.ema614_08_su_0002 .page_4 .flex,
.ema614_08_su_0002 .page_5 .flex,
.ema614_08_su_0002 .page_6 .flex {
    gap: 26px;
}
.ema614_08_su_0002 .page_2 .picture_wrap,
.ema614_08_su_0002 .page_3 .picture_wrap,
.ema614_08_su_0002 .page_4 .picture_wrap,
.ema614_08_su_0002 .page_5 .picture_wrap,
.ema614_08_su_0002 .page_6 .picture_wrap {
    margin-top: 60px;
}
.ema614_08_su_0002 .page_2 .picture_wrap button.zoom,
.ema614_08_su_0002 .page_3 .picture_wrap button.zoom,
.ema614_08_su_0002 .page_4 .picture_wrap button.zoom,
.ema614_08_su_0002 .page_5 .picture_wrap button.zoom,
.ema614_08_su_0002 .page_6 .picture_wrap button.zoom {
    bottom: 16px;
    right: 16px;
}
.ema614_08_su_0002 .page_2 .table_box,
.ema614_08_su_0002 .page_3 .table_box,
.ema614_08_su_0002 .page_4 .table_box,
.ema614_08_su_0002 .page_5 .table_box,
.ema614_08_su_0002 .page_6 .table_box {
    background: url(../img/EMA614_08_SU/0002_bg2.png) no-repeat 0 0;
    width: 485px;
    height: 166px;
    background-size: cover;
}

.ema614_08_su_0002 .page_2 .table_box th, 
.ema614_08_su_0002 .page_2 .table_box td,
.ema614_08_su_0002 .page_3 .table_box th, 
.ema614_08_su_0002 .page_3 .table_box td,
.ema614_08_su_0002 .page_4 .table_box th, 
.ema614_08_su_0002 .page_4 .table_box td,
.ema614_08_su_0002 .page_5 .table_box th, 
.ema614_08_su_0002 .page_5 .table_box td,
.ema614_08_su_0002 .page_6 .table_box th, 
.ema614_08_su_0002 .page_6 .table_box td   {
    font-size: 16px;
    height: 42px;
}

/* .ema614_08_su_0002 .page_2 .question_box,
.ema614_08_su_0002 .page_3 .question_box {
    gap: 8px;
} */

.ema614_08_su_0002 .page_4 .question_box {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.ema614_08_su_0002 .page_4 .question_box .col {
    display: flex;
    align-items: center;
    gap: 8px;
}
.ema614_08_su_0002 .page_4 .question_box .col .f32b {
    width: 150px;
    text-align: right;
}

.ema614_08_su_0002 .page_5 .input_wrap {
    width: 100%;
}

.ema614_08_su_0002 .page_5 .input_wrap math-field {
    width: 100% !important;
}
/* .ema614_08_su_0003 */
.ema614_08_su_0003 .question_box .img_row {
    gap: 180px;
}
.ema614_08_su_0003 .picture_wrap {
    width: 540px;
    height: 421px;
}
.ema614_08_su_0003 .table_box {
    background: url(../img/EMA614_08_SU/0003_bg1.png) no-repeat 0 0;
    width: 715px;
    height: 250px;   
    position: relative;
}
.ema614_08_su_0003 .table_box th,
.ema614_08_su_0003 .table_box td {   
    position: relative;
    height: 66px;
}

.ema614_08_su_0003 .table_box th,
.ema614_08_su_0003 .table_box td {
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: center;
}

.ema614_08_su_0003 .col1 .input_area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
}


.ema614_07_su_0004 .main p:first-child {
    color: #EE4F24;
}