.form_wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.left_area {
  display: flex;
  width: 485px;
  height: 624px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  border: 2px solid #FFDE6A;
  background: #FFF4CD;
}

.answer_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 32px;
  gap: 10px;
}

.answer_wrap > div:last-child {
  margin-top: 20px;
}

.answer_wrap > div:nth-child(3) {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.center_area {
  display: flex;
  min-width: 586px;
  height: 586px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #EDC085;
  position: relative;
}

.grid_container {
  width: 590px;
  height: 590px;
  border: 2px solid #00ADE0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,0 v15 M0,0 h15' stroke='rgba(0,173,224,0.7)' stroke-width='1' stroke-dasharray='2,2' /%3E%3C/svg%3E");
  background-position: -1px -3px;
  background-size: 15px 15px;
  position: relative;
}

.scale_marker_top {
  position: absolute;
  top: -21px;
  left: -2px;
  font-size: 10px;
}

.scale_marker_left {
  position: absolute;
  top: -2px;
  left: -23px;
  font-size: 10px;
}

.right_area {
  display: flex;
  width: 485px;
  height: 624px;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  border-radius: 30px;
  border: 2px solid #07BBA9;
  background: #E8FFFD;
}

.device_change {
  background-color: var(--secondary-red) !important;
}

.palette_container {
  width: 128px;
  height: 81px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.palette_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

 sup {
  font-size: 18px;
 }

.color_circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  top: 58%;
  transform: translateY(-50%);
  border: 1px solid #E8E8E8;
}

.color_circle.blue {
  background-color: #07BBA9;
  left: 67px;
}

.color_circle.yellow {
  background-color: #FFDE6A;
  left: 10px;
}

.color_circle:hover {
  transform: translateY(-50%) scale(1.1);
}

.left_reset_btn,
.left_check_btn {
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  font-size: 0;
}

.left_reset_btn {
  background-image: url(./../../common_contents/common/img/icon_reset_disabled.svg);
  background-color: var(--btn-disabled-bg);
  border: 1px solid var(--stroke-default);
}

.left_check_btn {
  background-image: url(./../../common_contents/common/img/icon_check_disabled.svg);
  background-color: var(--btn-disabled-bg);
  border: 1px solid var(--stroke-default);
}

.left_reset_btn:not([disabled]) {
  background-image: url(./../../common_contents/common/img/icon_reset_white.svg);
  background-color: var(--btn-default);
  border: 1px solid transparent;
}

.left_check_btn:not([disabled]) {
  background-image: url(./../../common_contents/common/img/icon_check_white.svg);
  background-color: var(--btn-default);
  border: 1px solid transparent;
}

.left_reset_btn:not([disabled]):hover,
.left_check_btn:not([disabled]):hover {
  background-color: var(--btn-hover);
}

.right_reset_btn,
.right_check_btn {
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  font-size: 0;
}

.right_reset_btn {
  background-image: url(./../../common_contents/common/img/icon_reset_disabled.svg);
  background-color: var(--btn-disabled-bg);
  border: 1px solid var(--stroke-default);
}

.right_check_btn {
  background-image: url(./../../common_contents/common/img/icon_check_disabled.svg);
  background-color: var(--btn-disabled-bg);
  border: 1px solid var(--stroke-default);
}

.right_reset_btn:not([disabled]) {
  background-image: url(./../../common_contents/common/img/icon_reset_white.svg);
  background-color: var(--btn-default);
  border: 1px solid transparent;
}

.right_check_btn:not([disabled]) {
  background-image: url(./../../common_contents/common/img/icon_check_white.svg);
  background-color: var(--btn-default);
  border: 1px solid transparent;
}

.right_reset_btn:not([disabled]):hover,
.right_check_btn:not([disabled]):hover {
  background-color: var(--btn-hover);
}

.scale_marker_top .curve_line {
  position: absolute;
  rotate: 180deg;
  top: -11px;
  left: -15px;
}

.scale_marker_left .curve_line {
  position: absolute;
  rotate: 90deg;
  top: 1px;
  left: -9px;
}