
.ema623_04_SU_0003 .paging_layout .page_1 .img_row .right_area {
flex: 1;
}
.ema623_04_SU_0003 .paging_layout .page_1 .img_row .right_area ul li p {
    margin-bottom: 15px;
}
.ema623_04_SU_0003 .paging_layout .page_2 ul {
    padding: 80px 170px 0 170px;
}
.ema623_04_SU_0003 .paging_layout .page_2 ul li p {
    margin-bottom: 20px;
}
.ema623_04_SU_0003 .pop_reference_wrap .paging_layout .picture_wrap{
    height: 415px;
}
.ema623_04_SU_0003 .pop_reference_wrap .paging_layout .popup_page_1 .picture_wrap{
    background: url("../../common_contents/img/EMA623_04_SU/0003_popup_img01.png") no-repeat center center / contain;
}
.ema623_04_SU_0003 .pop_reference_wrap .paging_layout .popup_page_2 .picture_wrap{
    background: url("../../common_contents/img/EMA623_04_SU/0003_popup_img02.png") no-repeat center center / contain;
}
.ema623_04_SU_0003 .pop_reference_wrap .paging_layout .popup_page_3 .picture_wrap{
    background: url("../../common_contents/img/EMA623_04_SU/0003_popup_img03.png") no-repeat center center / contain;
}
.building_blocks_img {
    width: 713px;
}
.ema623_04_SU_0005 .page .question_box{
margin-left: 260px;
}