
.ema623_03_SU_0004 .paging_layout .page_2 {
    width: 1382px;
    
}
.ema623_03_SU_0004 .img_row .img_wrap {
    flex:1;
    
}


.ema623_03_SU_0004 .paging_layout .page_3{
    height: 502px;
}
.ema623_03_SU_0004 .paging_layout .page_3 .img_row{
    align-items: start;

}
.ema623_03_SU_0004 .paging_layout .page_3 .img_row .img_wrap{
    margin-top: 70px;
}
.ema623_03_SU_0004 .paging_layout .page_3 .img_row .input_wrap{
    
}

.ema623_03_SU_0006 .contents .page .item {
    display: flex;
    gap: 42px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
 width: 560px;
}
.ema623_03_SU_0006 .contents .page .item .diagram_green_tag {
    margin-left: 280px;

}
.ema623_03_SU_0006 .contents .page {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1182px;
    height: 500px;
    background: url("../../common_contents/img/EMA623_03_SU/0006_img0102.png") no-repeat center center / contain;
    content: '';

}