.input_wrap .text_hint,
.dropdown_wrap .text_hint {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}


.flex_col_box {
  width: 1435px;
  display: flex;
  gap: 26px;
  justify-content: center;
  margin: 0 auto;
}
.flex_col_box .input_area {
  width: 709px;
}
.multiple_unit {margin:0 -5px;}

.title h2 .nemo_blank {
  margin-right: 0;
}



/* EMA625_011_SU_0002_s */
.ema625_11_su_0002 .flex_col_box {
  align-items: center;
  gap: 100px;
  width: 1208px;
  height: 300px;
  background: url(../../common_contents/img/EMA625_11_SU/0002_bg.png) no-repeat right top;
  background-size: 100%;
}
.ema625_11_su_0002 .flex_col_box .img_box {
  width: 212px;
  height: 220px;
}
.ema625_11_su_0002 .flex_col_box .flex {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.ema625_11_su_0002 .flex_col_box .flex > div {
  margin: 0px auto;
  width: 545px;
  font-size: 32px; 
  font-weight: 700;
}


/* EMA625_011_SU_0003_s */
.ema625_11_su_0003 .title h2 .nemo_blank {
  display: inline-flex;
  vertical-align: -5px;
}
.ema625_11_su_0003 .flex_col_box {
  align-items: center;
  gap: 100px;
  width: 1208px;
}
.ema625_11_su_0003 .flex_col_box dl {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.ema625_11_su_0003 .flex_col_box .img_box {
  position: relative;
  width: fit-content;
}
.ema625_11_su_0003 .flex_col_box .img_box > p {
  position: absolute;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.ema625_11_su_0003 .flex_col_box .img_box > .t01 {
  top: -22px;
  left: 166px;
}
.ema625_11_su_0003 .flex_col_box .img_box > .t02 {
  top: 82px;
  left: 86px;
}
.ema625_11_su_0003 .flex_col_box .flex {
  align-items: center;
  gap: 8px;
}
.ema625_11_su_0003 .flex_col_box .flex > span {
  font-size: 32px;
  font-weight: 700;
}


/* EMA625_011_SU_0004_s */
.ema625_11_su_0004 .flex_col_box {
  align-items: center;
  gap: 100px;
  width: 1208px;
}
.ema625_11_su_0004 .flex_col_box dl {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.ema625_11_su_0004 .flex_col_box .img_box {
  position: relative;
  width: fit-content;
}
.ema625_11_su_0004 .flex_col_box .img_box img {
  height: 280px;
}
.ema625_11_su_0004 .flex_col_box .img_box > p {
  position: absolute;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.ema625_11_su_0004 .flex_col_box .img_box > .t01 {
  top: 150px;
  left: 191px;
}
.ema625_11_su_0004 .flex_col_box .img_box > .t02 {
  top: 156px;
  left: 89px;
}
.ema625_11_su_0004 .flex_col_box .flex {
  align-items: center;
  gap: 8px;
  padding-left: 50px;
}
.ema625_11_su_0004 .flex_col_box .flex > span {
  font-size: 32px;
  font-weight: 700;
}


/* EMA625_011_SU_0005_s */
.ema625_11_su_0005 .flex_col_box {
  align-items: center;
  gap: 100px;
  width: 1208px;
}
.ema625_11_su_0005 .flex_col_box dl {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.ema625_11_su_0005 .flex_col_box .img_box {
  position: relative;
  width: fit-content;
}
.ema625_11_su_0005 .flex_col_box .img_box img {
  height: 250px;
}
.ema625_11_su_0005 .flex_col_box .img_box > p {
  position: absolute;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.ema625_11_su_0005 .flex_col_box .img_box > .t01 {
  top: 139px;
  left: 102px;
}
.ema625_11_su_0005 .flex_col_box .img_box > .t02 {
  top: 126px;
  left: 192px;
}
.ema625_11_su_0005 .flex_col_box .img_box > .t03 {
  top: 25px;
  left: 154px;
}
.ema625_11_su_0005 .flex_col_box .img_box > .t04 {
  top: 124px;
  left: 96px;
}
.ema625_11_su_0005 .flex_col_box .flex {
  align-items: center;
  gap: 8px;
  padding-left: 50px;
}
.ema625_11_su_0005 .flex_col_box .flex > span {
  font-size: 32px;
  font-weight: 700;
}



/* EMA625_011_SU_0006_s */
.ema625_11_su_0006 .flex_col_box {
  align-items: center;
  gap: 50px;
  width: 1208px;
}
.ema625_11_su_0006 .flex_col_box .item {
  position: relative;
  padding: 0;;
  border-radius: 0;
  background-color: transparent;
  width: 340px;
  height : 170px;
  aspect-ratio: unset;
  flex-direction: column;
}
.ema625_11_su_0006 .flex_col_box .item > span.name {
  position: absolute;
  top: 44px;
  left: 105px;
  color: #fff;
  font-size: 20px;
  transform: rotate(355deg);
}
.ema625_11_su_0006 .flex_col_box .item > span.record {
  width: 180px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 68px;
  left: 140px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
}
.ema625_11_su_0006 .flex_col_box .item:nth-child(2) > span.name {
  top: 49px;
  left: 107px;
}
.ema625_11_su_0006 .flex_col_box .item:nth-child(3) > span.name {
  top: 48px;
  left: 113px;
}
.ema625_11_su_0006 .flex_col_box .item:nth-child(1) {
  background: url(../../common_contents/img/EMA625_11_SU/0006_item_01.png) no-repeat 0 0;
  background-size: 100%;
}
.ema625_11_su_0006 .flex_col_box .item:nth-child(2) {
  background: url(../../common_contents/img/EMA625_11_SU/0006_item_02.png) no-repeat left 7px;
  background-size: 100%;
}
.ema625_11_su_0006 .flex_col_box .item:nth-child(3) {
  background: url(../../common_contents/img/EMA625_11_SU/0006_item_03.png) no-repeat 0 0;
  background-size: 100%;
}
.ema625_11_su_0006 .flex_col_box > button.selected,
.ema625_11_su_0006 .flex_col_box > button.hint {
  border-width: 4px;
  border-color: transparent;
}
.ema625_11_su_0006 .flex_col_box > button.selected::after,
.ema625_11_su_0006 .flex_col_box > button.hint::after {
  content:"";
  position: absolute;
  top: 23px;
  left: 92px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border-color: var(--font-main);
  border: 4px solid;
}
.ema625_11_su_0006 .flex_col_box > button[data-answer-single="true"].correct::after, 
.ema625_11_su_0006 .flex_col_box > button[data-answer-single="true"].correct.selected::after{
  border-color: var(--primary-blue);
  background: rgba(59, 113, 254, 0.30);
  border-width: 6px;
}
.ema625_11_su_0006 .flex_col_box > button[data-answer-single="false"].selected::after {
  border: 4px solid var(--font-main);
  background-color: transparent;
}
.ema625_11_su_0006 .flex_col_box > button[data-answer-single="true"].hint::after {
  border: 6px solid var(--secondary-red);
  background: rgb(238, 79, 36, 0.30);
}
.ema625_11_su_0006 .input_area {
  width: 1090px;
  margin: 40px auto;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.ema625_11_su_0006 .input_area .c_tit {
  width: 160px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  background: url(../../common_contents/img/EMA625_11_SU/0006_bg_tit.png) no-repeat 0 0;
  background-size: 100%;
}
.ema625_11_su_0006 .input_area .input_wrap {
  width: 888px;
}
.ema625_11_su_0006 .input_area .input_wrap math-field.textarea {
  min-height: 120px;
}


/* EMA625_011_SU_0007_s */
.ema625_11_su_0007 .flex {
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.ema625_11_su_0007 .flex .input_wrap math-field:not(.textarea){
  width: 160px;
}


/* EMA625_011_SU_0008_s */
.ema625_11_su_0008 .scroll_area {
  position: relative;
}
.ema625_11_su_0008 .scroll_area > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.ema625_11_su_0008 .question_box {
  position: absolute;
  width: 518px;
  height: 262px;
  gap: 10px;
  flex-direction: column;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.ema625_11_su_0008 .question_box .input_wrap {
  flex-direction: row;
  align-items: center;
}
.ema625_11_su_0008 .question_box .input_wrap .custom_select {
  width: 180px;
}
.ema625_11_su_0008 .q01 {
  top: 265px;
  left: 259px;
}
.ema625_11_su_0008 .q02 {
  top: 266px;
  left: 831px;
}
.ema625_11_su_0008 .q03 {
  top: 800px;
  left: 259px;
}
.ema625_11_su_0008 .q04 {
  top: 799px;
  left: 832px;
}
.ema625_11_su_0008 .q02 .custom_dropdown.hint~.custom_select .text_hint {
  top: 60px;
  left: 190px;
}











