.main {
    width: 1480px;
    height: 400px;
    background-color: #F9FCF5;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
}
.ema517_03_su_0002 .main {
    display:block;
    height: auto;
    padding: 34px;
}
.ema517_03_su_0002 .main .flex {
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.ema517_03_su_0002 .draw_wrap {
    position: relative;
    width: 700px;
    height: 332px;
    flex-shrink: 0;

}
.ema517_03_su_0002 .draw_wrap .txt_overlay {
    position: absolute;
    top: 9px;
    left: 6px;
}
.ema517_03_su_0002 .draw_wrap .txt_overlay span {
    display: block;
    width:20px;
    height: 20px;
    text-align: center;
    align-content: center;
    font-size: 10px;
    letter-spacing: -0.5px;
    background-color: #60CCF5;
}
.ema517_03_su_0002 .drawline_grid {
    position: absolute;
    top: 35px;
    left: 6px;
    width: 689px;
    height: 328px;
}
.ema517_03_su_0002 .drawing_grid_area {
    width: 100%;
    height: 100%;
    background: none;
    background-size: 20px 20px;
    background-color: transparent;
    border: none;
}
.ema517_03_su_0002 .main .input_wrap math-field.textarea {
    min-width: 600px;
}
.ema517_03_su_0002 .bottom .input_wrap math-field.textarea {
    min-width: 60px;
}
.ema517_03_su_0002 .bottom {
  margin-top: 30px;
}
.ema517_03_su_0002 .bottom .input_area {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.ema517_03_su_0002 .bottom .input_wrap {
    margin: 0px 0 0 15px;
}

.ema517_03_su_0002 .bottom .input2 math-field:not(.textarea) {
    width: 400px;
}
.ema517_03_su_0002 .teacher button {
    background-color: #EE4F24;
    left: 800px;
    position: relative;
}



/* ema517_03_su_0003 */
.ema517_03_su_0003 .input_wrap {
    display: block;
    margin: 0 auto;
}
.ema517_03_su_0003 .table_wrap {
    border-radius: 20px;
    border:2px solid #D2D2D2;
    overflow: hidden;
}
.ema517_03_su_0003 .table_wrap table {
    border-style: hidden;
}
.ema517_03_su_0003 th,
.ema517_03_su_0003 td {
    padding:14px 16px;
    border:2px solid #D2D2D2;
}
.ema517_03_su_0003 th:nth-child(1),
.ema517_03_su_0003 td:nth-child(1) {
    width:312px;
    max-width:312px;
}
.ema517_03_su_0003 th:nth-child(2),
.ema517_03_su_0003 td:nth-child(2) {
    width:896px;
    max-width:896px;
}
.ema517_03_su_0003 thead th  {
    background-color:#EEF0F4;
    border:2px solid #fff;
}
.ema517_03_su_0003 tbody td math-field.textarea {
    min-width: 100%;
    min-height: 60px;
    height: 60px;
    padding: 10px 20px;
    line-height: 1.4;
} 
.ema517_03_su_0003 .btn_area {
    position: relative;
    padding-top:4px;
    bottom:auto;
}



/* ema517_03_su_0004 */
.ema517_03_su_0004 .input_wrap {
    display: block;
    margin: 0 auto;
}
.ema517_03_su_0004 .input_wrap math-field {
    height: 250px;
}
