/**
* 커스텀 드랍다운 박스
*/
.dropdown_wrap {
    position: relative;
}

/* 기본 셀렉트 숨기기 */
.custom_dropdown {
    display: none;
}
.custom_dropdown.correct + .custom_select {
    pointer-events: none;
}
.custom_dropdown.correct + .custom_select .select_trigger {
    border: 2px solid var(--stroke-correct);
    background-color: var(--primary-blue-50);
    color: var(--primary-blue);
    /* 정답일 경우 파랑테두리 + 파랑색 바탕색 + 파랑색 텍스트 색상 입니다. (250421 셀바스 답변) */
}
.custom_dropdown.correct + .custom_select .select_trigger .arrow {
    /* background: none; */
}  

.custom_dropdown.hint + .custom_select {
    pointer-events: none;
}
.custom_dropdown.hint + .custom_select .select_trigger {
    border: 2px solid var(--stroke-error);
    background-color: var(--secondary-coral-300);
}
.custom_dropdown.hint + .custom_select .select_trigger .arrow {
    /* background: none; */
    opacity: 0.5;
}

/* 커스텀 셀렉트 스타일 */
.custom_select {
    display: flex;
    position: relative;
    width: 300px;
    height: 100%;
}

.select_trigger {
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 14px 40px 14px 20px;
    background: var(--bg-input);
    border: 2px solid var(--stroke-default);
    border-radius: 12px;
    text-align: left;
    font-size: 24px;
    /* line-height: 32px; */
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.select_trigger.active {
    font-weight: 400;
    border-color: var(--btn-default);
}

.select_trigger .arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/icon_dropdown_down.svg') no-repeat center / 100%;
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: none;
}

/* 드롭다운 활성화 시 화살표 반전 */
.select_trigger.active .arrow {
    transform: rotate(180deg);
}

/* 옵션 리스트 */
.select_options {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    max-height: 301px;
    overflow-y: auto;
    padding: 20px 0;
    background: var(--bg-default);
    border-radius: 12px;
    border: 1px solid var(--stroke-default);
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
}

.select_options.upper {
    top: unset;
    bottom: 64px;
}

.select_options li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 48px 16px 20px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.5px;
    cursor: pointer;
    position: relative;
}

.select_options li.selected {
    font-weight: 700;
}

.select_options li.selected::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon_checked.svg) no-repeat center / 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.select_options li:hover {
    background: var(--primary-blue-50);
}

/* Default */

/* Hover / Press */
.select_trigger:hover {
    background-color: var(--bg-input);
}

.select_trigger.active {
    border: 1px solid var(--stroke-dropdown-open);
}

/* Completion */
.select_trigger.completion {
    color: var(--font-main);
    /* border: 2px solid var(--primary-blue); */
}

/* Error */
.select_trigger.error {
    color: var(--font-negative);
    border: 2px solid var(--stroke-error);
}

.custom_select .text_hint {
    position: absolute;
    /* top: 100%; */
    left: 50%;
    transform: translateX(-50%);
}

.custom_select.math_symbol {
    width: 64px;
    height: 64px;
}

.custom_select.math_symbol .select_trigger {
    display: block;
    min-width: unset;
    width: 100%;
    height: 100%;
    background-color: var(--primary-blue-50);
    border: 2px solid var(--primary-blue);
    padding: 0;
    border-radius: 50%;
    font-size: 0;
}

.custom_select.math_symbol .select_trigger .arrow {
    width: 40px;
    height: 40px;
    background: url(../img/cursor_pointer_small.svg) no-repeat center / 40px;
    top: 15px;
    left: 10px;
}

.custom_select.math_symbol .select_trigger.active .arrow {
    transform: none;
}

.custom_select.math_symbol .select_trigger.completion .arrow {
    opacity: 0;
}

.custom_select.math_symbol .select_options {
    max-width: unset;
    width: unset;
    max-height: unset;
    height: unset;
    height: 70px;
    padding: 8px;
    background-color: var(--primary-blue-800);
    overflow: unset;
    white-space: nowrap;
    border-radius: 70px;
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
}

.custom_select.math_symbol .select_options::after {
    content: '';
    width: 29px;
    height: 15px;
    background: url(../img/icon_bubble_tail.svg) no-repeat top center / 100%;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.custom_select.math_symbol .select_options li {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 0;
    background-color: var(--bg-default);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--stroke-default);
    font-size: 0;
    border-radius: 50%;
    vertical-align: top;
}

.custom_select.math_symbol .select_options li.selected {
    background-color: var(--primary-blue-50);
}

.custom_select.math_symbol .select_options li.selected::after {
    content: none;
}

.custom_select.math_symbol .select_options li:not(:last-child) {
    margin-right: 12px;
}

.custom_select.math_symbol .select_trigger.completion {
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: var(--bg-default);
    border-color: var(--stroke-completion);
}
.custom_dropdown.correct + .custom_select.math_symbol .select_trigger.completion {
    background-color: var(--primary-blue-50);
    border-color: var(--stroke-correct);
}
.custom_dropdown.hint + .custom_select.math_symbol .select_trigger.completion {
    background-color: var(--secondary-coral-300);
    border-color: var(--stroke-error);
}

.custom_select.math_symbol .select_options li[data-value='×'],
.custom_select.math_symbol .select_trigger.completion[data-value='×'] {
    background-image: url(../img/icon_times.svg);
}

.custom_select.math_symbol .select_options li[data-value='÷'],
.custom_select.math_symbol .select_trigger.completion[data-value='÷'] {
    background-image: url(../img/icon_devide.svg);
}

.custom_select.math_symbol .select_options li[data-value='='],
.custom_select.math_symbol .select_trigger.completion[data-value='='] {
    background-image: url(../img/icon_equal.svg);
}

.custom_select.math_symbol .select_options li[data-value='>'],
.custom_select.math_symbol .select_trigger.completion[data-value='>'] {
    background-image: url(../img/icon_arrow_right.svg);
}

.custom_select.math_symbol .select_options li[data-value='<'],
.custom_select.math_symbol .select_trigger.completion[data-value='<'] {
    background-image: url(../img/icon_arrow_left.svg);
}

.custom_select.math_symbol .select_options li[data-value='('],
.custom_select.math_symbol .select_trigger.completion[data-value='('] {
    background-image: url(../img/icon_parentheses_left.svg);
}

.custom_select.math_symbol .select_options li[data-value=')'],
.custom_select.math_symbol .select_trigger.completion[data-value=')'] {
    background-image: url(../img/icon_parentheses_right.svg);
}

/* 커스텀 드롭다운 disabled 디자인 */
.custom_dropdown.disabled + .custom_select .select_trigger {
    pointer-events: none;
}

.custom_dropdown.disabled:not(.correct) + .custom_select .select_trigger {
    background-color: var(--bg-disabled);
    border-color: var(--stroke-default);
    font-weight: 400;
    color: #808080;
}

.custom_dropdown.disabled .select_options {
    display: none !important;
}

.custom_dropdown.hint~.custom_select .text_hint {
    opacity: 1;
}